<br>PREVIEW<br>
<div class="panel panel-default item-box shadow paperts" style="height:372px;">
                <div class="panel-thumbnail custom-thumbnail" style="height:120px;">
                  <div class="cornerRibbons featuredAds" style="left: -22%;top: 25%;">
            <a href="#"><i class="fa fa-star"></i> Featured</a>
            </div>
                  <?php 

                    $bizImage = 'img/nophoto.jpg'; 
                    foreach ($business->BusinessImages as $key => $bizImages) 
                    { 
                      $bizImage = $bizImages->file_path.$bizImages->filename;
                    } 
                    echo Phalcon\Tag::image(array($bizImage, 'class' => ''));
                  ?>                
                </div>
                <div class="panel-body" style="padding-top: 2px !important;">
                  <!-- start panel body -->
                  <p style="font-weight: bold;font-size:17px;" class="lead ellipsis2" data-toggle="tooltip" title="" data-original-title="<?=$business->name?>"><?=$business->name?>
                  </p>

                    <span class="info-row">
                      <blockquote style="height:106px;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;">
                        <?php
                              if (isset($postContent)) {
                                echo $postContent;
                              }
                            ?>
                      </blockquote>
                    </span>

                      
                       <div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd;height:55px;"></div>

                      <!--<div class="media" style="border-bottom:1px solid #ddd;">
                        <div class="pull-left">
                        <?php
                            //$bizImage = 'http://1.gravatar.com//avatar/173407badd2fd8beba911e4888bc73e9?s=1024&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&amp;r=G'; 
                            //foreach ($business->BusinessImages as $key => $bizImages) 
                            { 
                              //$bizImage = $this->url->getBaseUri().$bizImages->file_path.$bizImages->filename;
                            } 
                        ?>
                        <img src="<?=$bizImage?>" class="img-thumbnail pull-left" style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">
                        </div> 
                        <div class="media-body">
                          <span class="media-heading ellipsis4">
                            <?php
                              //if (isset($postContent)) {
                                //echo $postContent;
                              //}
                            ?>
                          </span>
                        </div>
                      </div>-->
                      <a class="restricted btn btn-primary  btn-sm make-favorite" href="#"> 
                        <i class="fa fa-eye"></i>  <span>View this Business</span> 
                      </a>
                  </div> <!-- end panel body -->
              </div>

