<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<?php echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); ?>

<div class="container" id="container" style="margin-top:28px;">
	<div class="col-md-12 bg-white">
		<div class="row">
			<br><br><br>
			<div class="col-md-12 bg-info container">
				<h1 style="font-family:Berlin;"><i class="icon-shop"></i> Update a Business</h1>
				<p></p>
			</div>
		</div>
		<div class="row">
			<br>
			<div class="col-md-5 containerBorder">
				<?php echo Phalcon\Tag::form(array("review/update_business/".$business->id, "method" => "post")); ?>
				  	<div class="col-md-12">
						<div class="form-group">
							<label>Business Name</label>
							<input name="name" type="text" class="form-control" value="<?php echo $business->name; ?>">
						</div>
						<div class="form-group">
							<label>Website Address</label>
							<input name="website" type="text" class="form-control" value="<?php echo $business->website; ?>">
						</div>
						<div class="form-group">
							<label>Telephone</label>
							<input name="telephone" type="text" class="form-control" value="<?php echo $business->telephone; ?>">
						</div>
						<div class="form-group">
							<label>Suite/Apt No.</label>
							<input name="apt_no" type="text" class="form-control" value="<?php echo $business->apt_no; ?>">
						</div>
						<div class="form-group">
							<label>Street</label>
							<input name="street" type="text" class="form-control" value="<?php echo $business->street; ?>">
						</div>
						<div class="form-group">
							<label>Country</label>
							<select name="country_code"  id="country_code" type="select" class="form-control">
									<option value="">Select country</option>
								<?php foreach ($countries as $key => $country) { ?>
									<?php if($business->country_code_id == $country->id){ ?>
										<option value="<?php echo $country->id; ?>" selected><?php echo $country->country_name; ?></option>
									<?php } else { ?>
										<option value="<?php echo $country->id; ?>"><?php echo $country->country_name; ?></option>
									<?php } ?>
								<?php } ?>
							</select>
						</div>
						<div class="form-group">
							<label>State or Province</label>
							<select name="state" id="state" type="select" class="form-control">
								<option value="">Select City</option>
								<?php foreach ($states as $key => $state) {?>
									<?php if ($business->state == $state->state_name) { ?>
										<option value="<?php echo $state->id; ?>" selected><?php echo $state->state_name; ?></option>
									<?php } else { ?>
										<option value="<?php echo $state->id; ?>"><?php echo $state->state_name; ?></option>
									<?php } ?>
								<?php } ?>
							</select>
						</div>
						<div class="form-group">
							<label>City</label>
							<select name="city" id="city" type="select" class="form-control">
								<option value="">Select City</option>
								<?php foreach ($cities as $key => $city) {?>
									<?php if ($business->city == $city->city_name) { ?>
										<option value="<?php echo $city->id; ?>" selected><?php echo $city->city_name; ?></option>
									<?php } else { ?>
										<option value="<?php echo $city->id; ?>"><?php echo $city->city_name; ?></option>
									<?php } ?>
								<?php } ?>
							</select>
						</div>
						
						<div class="form-group">
							<label>Postal Code</label>
							<input name="postal_code" type="text" class="form-control"  value="<?php echo $business->postal_code; ?>">
						</div>
						
						<div class="form-group">
							<label>Category</label>
							<small>Select up to 3 categories. The more specific the better.</small>
							<div id="selectedCategories">
								<?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
						    	<div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>">
						    		<small class="text-danger remove" data-toggle="tooltip" title="Remove">
						    			<i class="fa fa-times btn btn-xs"></i>
						    		</small>
						    		 
						    		<small class="text-info"> 
						    			<?php echo $businessCategoryList->businessCategories->main_title; ?>
						    			<i class="fa fa-caret-right"></i> 
						    			<?php echo $businessCategoryList->businessCategories->title; ?> 
						    			<?php if($businessCategoryList->businessCategories->sub_title) { ?> 
						    			<i class="fa fa-caret-right"></i>
						    			<?php echo $businessCategoryList->businessCategories->sub_title; ?> 
						    			<?php } ?> 
						    		</small>
						    	</div>
						    	<?php } ?>
							</div>
							
							<select name="business_category_id"  type="select" class="form-control js-data-example-ajax" id="businessCategories" placeholder="Select categories">
							<?php $bizCategoryIds = ''; ?>
								<?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
									<?php $bizCategoryIds .= $businessCategoryList->business_category_id.','; ?>
								<?php } ?>
							</select>
							<input type="hidden" name="business_category_ids" id="businessCategoryIds" value="<?php echo substr($bizCategoryIds, 0, -1); ?>" >
						</div>
						<!-- <div class="form-group">
							<label>Sub-category</label>
							<select name="business_sub_category_id"  type="select" class="form-control" id="businessSubCategories">
									<option value="">Select sub-category</option>
								
							</select>
						</div>
						<div class="form-group">
							<label>Sub-category A </label>
							<select name="business_asub_category_id"  type="select" class="form-control" id="businessSubCategoriesA">
									<option value="">Select sub-category a</option>
								
							</select>
						</div> -->
						<div class="form-group">
							<div class="checkbox">
					          <label>
					            <input type="checkbox" name="opened"> This business recently opened or is opening soon
					          </label>
					        </div>
						</div>

						<div class="form-group">
						  <div class="pull-right text-center">
							<button type="submit" class="btn btn-primary">Update Business</button>
						  </div>
						</div>

				  	</div>
				<?php echo Phalcon\Tag::endForm(); ?>
				<br>
			</div>
			<div class="col-md-7 text-center">
				<h1 class="text-danger"><strong>Negosyo</strong></h1>
				<h3>Get your business listed in <span class="text-primary"><strong>MyBarangay</strong></span>.</h3>
				<div class="col-md-8 col-md-offset-3">
				<?php echo Phalcon\Tag::image(array("themes/mybarangay1/img/biz/new_biz.jpg", 'class' => 'img-responsive img-rounded img-block')); ?>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</div>

<script type="text/javascript">
$('#country_code').change(function() {
	var action = '<?php echo $this->url->getBaseUri() . "review/getStates/"; ?>'; 
        var param  = $('#country_code').val();
        var link = action.concat(param);
         $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
              var selectstate = '<option value="">Select State</option>';
                $.each(data, function(i, item) {
                  selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);

            },
            error: function(){
                alert("Neuspjesan JSON zahtjev!");
            }
       });
});
$('#state').change(function() {

				var action = '<?php echo $this->url->getBaseUri() . "review/getCities/"; ?>'; 
                  var param  = $('#state').val();
                  var link = action.concat(param);
                   $.ajax({
                      url: link,
                      type: 'GET',
                      dataType: 'json',
                      success: function(data){
                        var selectcity = '<option value="">Select City</option>';
                          $.each(data, function(i, item) {
                            selectcity += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                          });
                          $('#city').html('');
                          $('#city').append(selectcity);
                          // $.each(data, function(i, item) {
                          //   alert(item.name);
                          // });

                      },
                      error: function(){
                          alert("Neuspjesan JSON zahtjev!");
                      }
                 });
});
// $('#city').change(function() {
// 	alert($('#city').val());
// });
	$(document).ready(function() {

		$('[data-toggle="tooltip"]').tooltip();
		<?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
			$('#businessCategories').append('<option value="<?php echo $businessCategoryList->business_category_id; ?>" id="businessOption<?php echo $key+1; ?>" ></option>');
			$('#businessOption<?php echo $key+1; ?>').text('<div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small><small class="text-info"><?php echo $businessCategoryList->businessCategories->main_title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->title; ?></small></div>');
			<?php if($businessCategoryList->businessCategories->sub_title) { ?>
				$('#businessOption<?php echo $key; ?>').text('<div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small><small class="text-info"><?php echo $businessCategoryList->businessCategories->main_title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->sub_title; ?></small></div>');
			<?php } ?>
		<?php } ?>
		
		$('#businessCategories').on('change', function(){
			var id = $(this).attr('id');
			var div = $('div.category_item #'+id);
			
			if(div.length){
				div.remove();
				$('#businessCategories option[value=' + id + ']').remove();
			}
			if($('#businessCategories option').length < 4) {
				$('#selectedCategories').html($(this).text());
				var values = $.map($('#businessCategories option'), function(e) { return e.value; });
				values.join(',');
				$('#businessCategoryIds').val(values);
			} else {
				alert('3 categories only');
			}
		});

		$(document).on('click', '.remove', function(){
			var div = $(this).closest('div.category_item');
			var id = div.attr('id');
			div.remove();
			$('#businessCategories option[value=' + id + ']').remove();
			var values = $.map($('#businessCategories option'), function(e) { return e.value; });
			values.join(',');
			$('#businessCategoryIds').val(values);
		});

		function formatRepo (category) {
			var markup = '';
		    if (category.loading) return category.text;

		    markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
		    category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</small></div>' ;

		    if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
			    category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</small></div>' ;
		    }
		    
		    return markup;
		  }

		  function formatRepoSelection (category) {
			return '';
		  }


		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "/mybarangay/business_category/list",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    },
		    cache: true
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});

		// $('#businessCategories').on('change', function(){ 
		// 	var bCategoryId = $(this).val();
		// 	$.getJSON("/mybarangay/business_sub_category/list/"+bCategoryId, function(data) {
		// 	    $("#businessSubCategories option").remove();
		// 	    $("#businessSubCategories").append('<option value=""> Select sub-category</option>');
		// 	    $.each(data, function(){
		// 	        $("#businessSubCategories").append('<option value="'+ this.id +'">'+ this.name +'</option>')
		// 	    });
		// 	});
		// });

		// $('#businessCategories').on('change', function(){ 
		// 	var bCategoryId = $(this).val();
		// 	$.getJSON("/mybarangay/business_sub_category/list/"+bCategoryId, function(data) {
		// 	    $("#businessSubCategories option").remove();
		// 	    $("#businessSubCategories").append('<option value=""> Select sub-category</option>');
		// 	    $.each(data, function(){
		// 	        $("#businessSubCategories").append('<option value="'+ this.id +'">'+ this.name +'</option>')
		// 	    });
		// 	});
		// });

		// $('#businessSubCategories').on('change', function(){ 
		// 	var bSubCategoryId = $(this).val();
		// 	$.getJSON("/mybarangay/business_asub_category/list/"+bSubCategoryId, function(data) {
		// 	    $("#businessSubCategoriesA option").remove();
		// 	    $("#businessSubCategoriesA").append('<option value=""> Select sub-category</option>');
		// 	    $.each(data, function(){
		// 	        $("#businessSubCategoriesA").append('<option value="'+ this.id +'">'+ this.name +'</option>')
		// 	    });
		// 	});
		// });
		
	});
</script>

