    <?php      
        $category= '';
        $tempMain = array();
        $tempTitle = array();
        $tempSubTitle = array();
        foreach ($businessCategoryLists as $key => $businessCategoryList) {
          $mainY = 0;
          if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
            $mainY = 1;
            $tempMain[] = $businessCategoryList->BusinessCategories->main_title;
            $category .= $businessCategoryList->BusinessCategories->main_title;
          } 
          $titleY = 0;
          if($businessCategoryList->BusinessCategories->title){
            if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
              $titleY = 1;
              $tempTitle[] = $businessCategoryList->BusinessCategories->title;
              if($mainY == 1){
                $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
              } else {
                $category .= $businessCategoryList->BusinessCategories->title;
              }
            }                 
          }
          if($businessCategoryList->BusinessCategories->sub_title){
            if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
              $tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
              if($titleY == 0){
                $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
              } else {
                $category .= $businessCategoryList->BusinessCategories->sub_title;
              }
            }
          }
          $category .= ', ';
        }  
        //$list = explode(',', $category);
        if ($businessImgCover) {
          $coverImg = $this->url->getBaseUri().$businessImgCover->file_path.$businessImgCover->filename;
        } else {
            switch ($tempMain[0]) { 
              case 'Restaurants':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Food':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Nightlife':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Automotive':
                 $coverImg = 'https://c1.staticflickr.com/1/172/392475628_ad37b95530_z.jpg';
                break;
              case 'Hotels & Travel':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Financial Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Profesional Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Event Planning & Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Real Estate':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Shopping':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Health & Medical':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Beauty & Spas':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Home Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Local Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Pets':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Active Life':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Arts & Entertainment':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Local Flavor':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Bicycles':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Education':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Public Services & Government':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Religious Organizations':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Mass Media':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              default:
                 $coverImg = 'http://placehold.it/539x230&text=Image'; 
                break;
            }
        }

      ?>