

<!--  -->

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px;"><!-- page wrapper body -->
    



    <?php
     // $rbcl = $this->modelsManager->createBuilder()
     //      ->from(array('bc' => 'BusinessCategories'))
     //      ->where('bc.main_title LIKE :fieldname: OR bc.title LIKE :fieldname1: OR bc.sub_title LIKE :fieldname2:',
     //       ['fieldname' => '%'.$keyword.'%','fieldname1' => '%'.$keyword.'%','fieldname2' => '%'.$keyword.'%'])
     //      ->innerJoin('BusinessCategoryLists', "bcl.business_category_id = bc.id", 'bcl')
     //      ->innerJoin('Business', "bs.id = bcl.business_id AND city LIKE '%$cityname%' ", 'bs')
     //      ->columns(array('bs.id','bs.city','bs.name', 'bc.main_title', 'bc.title'))
     //      ->getQuery()
     //      ->execute();


    //   $cities = Cities::find();

    // foreach ($cities as  $c) {
        
    // }


    //   $query = $this->modelsManager->queryBuilder()
    //   ->from(array('bc' => 'Business'))
    //   ->innerJoin('Cities', "cc.city_name != bc.city", 'cc')
    //   ->columns(array('bs.id','bs.city','bs.name', 'bc.main_title', 'bc.title'))
    //   ->getQuery()
    //   ->execute();


    ?>

      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12 "  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                  <li>Classifieds</li>
                  <li class="active">Classifieds List</li>
              </ul>
          </div>
      </div>
         <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="col-md-12 col-sm-6 boxiy" style="padding:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>
      </div>
      <!-- end left panel -->


     <div class="col-md-10 col-sm-8 boxiy"  > <!-- start col-md-12 -->
      <hr>
<!-- **********************************8 -->
<div class="row" style="padding:15px ">

<div class="btn-group" role="group" aria-label="...">




  <a href="<?=$this->url->getBaseUri()?>car_and_truck/list/1" class="btn btn-primary <?=$act_auto?>"><i class="glyphicon glyphicon-cd"></i>  Cars and Trucks</a>
  <a href="<?=$this->url->getBaseUri()?>car_and_truck/list/2" class="btn btn-primary <?=$act_job?>"><i class="glyphicon glyphicon-briefcase"></i> Jobs</a>
  <a href="<?=$this->url->getBaseUri()?>car_and_truck/list/3" class="btn btn-primary <?=$act_real?>"><i class="glyphicon glyphicon-link"></i> Real Estate</a>
  <a href="<?=$this->url->getBaseUri()?>car_and_truck/list/4" class="btn btn-primary <?=$act_thing?>"><i class="glyphicon glyphicon-list-alt"></i> Things</a>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     <i class="glyphicon glyphicon-cog"></i> Options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Cars and Trucks Add Post</a></li>
      <li><a href="#">Jobs Add Post</a></li>
      <li><a href="#">Real Estate Add Post</a></li>
      <li><a href="#">Things Add Post</a></li>
    </ul>
  </div>
</div>

</div>

  <?php 
  $error = '';
  if ($this->session->has("errorMessasge")) {
      $error = $this->session->get("errorMessasge");
      ?>
    <table class="table table-bordered">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <?=$error?>
    </div>

  <?php $this->session->remove("errorMessasge"); } ?>

  <?php 
  $success = '';
  if ($this->session->has("successMessasge")) {
     $success = $this->session->get("successMessasge");
     ?>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> <?=$success?>
    </div>
  <?php $this->session->remove("successMessasge"); } ?>


    <table class="table table-bordered">

<?php 

switch ($idClass) {
    case 1:
?>
      <thead style="text-primary">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>          
          <th>Date created</th>
          <th style="width:70px">Edit</th>
          <th style="width:70px">Delete</th>
        </tr>
      </thead>
      <tbody>
   
<?php $c = 1; foreach ($autos as $auto) { ?>
        <tr>
          <td><?=$c++?></td>
          <td><?=$auto->name?></td>
          <td><?=$auto->price?></td>
          <td><?=$auto->created?></td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>car_and_truck/view2/<?=$auto->id?>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>car_and_truck/delete_list/<?=$auto->id?>/1" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </td>
        </tr>

<?php } ?>

      </tbody>


<?php
        break;
    case 2:
       // $this->view->jobs = Realties::find();
?>
      <thead style="text-primary">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>          
          <th>Date created</th>
          <th style="width:70px">Edit</th>
          <th style="width:70px">Delete</th>
        </tr>
      </thead>
      <tbody>

<?php $c =1; foreach ($jobs as $job) { ?>
        <tr>
          <td><?=$c++?></td>
          <td><?=$job->position?></td>
          <td><?=$job->salary_from?></td>
          <td><?=$job->created?></td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>job/view2/<?=$job->id?>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>car_and_truck/delete_list/<?=$job->id?>/2" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </td>
        </tr>

<?php } ?>

      </tbody>



<?php
        break;
    case 3:
        //$this->view->property = Realties::find();
?>
      <thead style="text-primary">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>          
          <th>Date created</th>
          <th style="width:70px">Edit</th>
          <th style="width:70px">Delete</th>
        </tr>
      </thead>
      <tbody>


<?php $c =1; foreach ($property as $prop) { ?>
        <tr>
          <td><?=$c++?></td>
          <td><?=$prop->name?></td>
          <td><?=$prop->price?></td>
          <td><?=$prop->created?></td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>real_estate/view2/<?=$prop->id?>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>car_and_truck/delete_list/<?=$prop->id?>/3" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </td>
        </tr>

<?php } ?>

      </tbody>


<?php
        break;
    case 4:
        //$this->view->thing = Things::find();
 ?>
      <thead style="text-primary">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>          
          <th>Date created</th>
          <th style="width:70px">Edit</th>
          <th style="width:70px">Delete</th>
        </tr>
      </thead>
      <tbody>

<?php $c =1; foreach ($things as $thing) { ?>
        <tr>
          <td><?=$c++?></td>
          <td><?=$thing->name?></td>
          <td><?=$thing->price?></td>
          <td><?=$thing->created?></td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>thing/view2/<?=$thing->id?>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>car_and_truck/delete_list/<?=$thing->id?>/4" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </td>
        </tr>

<?php } ?>

      </tbody>


 <?php
        break;
    default:
        $this->view->auto = Automotives::find();
      
        break;
}


?>



    </table>

 
<!--  **********************************8-->
      <hr>          
     </div> <!-- end col-md-12 -->




      </div><!-- end page wrapper body -->
    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
