<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>

       <script type="text/javascript">
            $(document).ready(function() {

                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    //Retrieve its value
                    $error = $this->session->get("errorMessasge");
                   ?>
                    
                   var error = "<?=$error?>";
                   alertify.error(error);

                <?php $this->session->remove("errorMessasge"); } ?>

         

                <?php 
                $success = '';
                //Check if the variable is defined
                if ($this->session->has("successMessasge")) {
                    //Retrieve its value
                    $success = $this->session->get("successMessasge");
                   ?>
                   var success = "<?=$success?>";
                   alertify.error(success);
                <?php $this->session->remove("successMessasge"); } ?>
               });

        </script>
<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>
<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}

legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }
</style>



<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->


    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li>Cars and Trucks</li>
                <li class="active">New Post</li>

            </ul>
        </div>

    </div>

      <?php //$this->partial('partials/breadcrum'); ?>

      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="boxiy" style="padding:0px;margin:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>
      </div>
      <!-- end left panel -->

    <div class="col-md-10 col-sm-8 boxiy" > <!-- start col-md-9 -->


<p class="infoj">Please note: This item will not appear in search results until it has been approved by our moderators.</p>

  
      <div class="col-md-12">
      <?php echo Phalcon\Tag::form(array("car_and_truck/new", "method" => "post", "id" => "carNew", "class" => "theForm", "enctype"=>"multipart/form-data")); ?>

      <fieldset class="sched-border">
        <legend class="sched-border"> Add Information</legend>

        <legend class="pull-right" style="text-align:right">( * ) required field</legend>


        <div class="row">

              <div class="form-group col-md-4">
                <label>(*) Car/Truck Advertisement Title </label>
                <input name="name" type="text" class="form-control validate[required]"  placeholder="Name" >
              </div>




              <div class="form-group col-md-4">
                  <label>(*) Price </label>
                                   
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency">$ USD</div></span>
                    <input type="hidden" name="currency_type" id="currency_type" value="">
                     <input name="price" type="text" class="form-control"  placeholder="Price" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
                         

              </div>

              <div class="form-group col-md-4">
                  <label>(*) Brand </label>
                  <input name="brand" type="text" class="form-control"  placeholder="Brand">
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Model </label>
                  <input name="model" type="text" class="form-control" placeholder="Model" >
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Year Model </label>
                  <input name="year_model" type="text" class="form-control"  placeholder="Year Model"  >
              </div>

              <div class="form-group col-md-4">
                <label>(*) Condition </label>
                <select name="condition"  type="select" class=" form-control" id="condition">
                    <option value="">Select Condition</option>
                  <?php foreach ($carConditions as $condition) { ?>
                    <option value="<?php echo $condition->id; ?>"><?php echo $condition->name; ?></option>
                  <?php } ?>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label>(*) Body Type </label>
                <select name="body_type" id="sample" type="select" class="form-control " >
                    <option value="">Select Body Type</option>
                      <option value="1">Sedan</option>
                      <option value="2">Coupe</option>
                      <option value="3">Pick-up</option>
                      <option value="4">SUV</option>
                      <option value="5">Van</option>
                      <option value="6">Wagon</option>
                      <option value="7">Sports Car</option>
                      <option value="8">Convertible</option>
                      <option value="9">Crossover</option>
                      <option value="10">Motorcycle</option>
                      <option value="11">Motorcycle</option>
             
                </select>
              </div>


              <div class="form-group col-md-4">
                <label>(*) Transmission </label>
                <select name="transmission"  type="select" class=" form-control" >
                    <option value="">Select Transmission</option>
                    <option value="1">Manual</option>
                    <option value="2">Automatic</option>
                </select>
              </div>


              <div class="form-group col-md-4">
                <label>(*) Fuel Type </label>
                <select name="fuel_type"  type="select" class=" form-control" >
                    <option value="">Select Fuel Type</option>
                    <option value="1">Petrol</option>
                    <option value="2">Diesel</option>
                    <option value="3">Liquefied Petroleum</option>
                </select>
              </div>

      

              <div class="form-group col-md-4">
                <label> Mileage</label>
              <div class="input-group">
                <input name="mileage" type="text" class="form-control"  placeholder="Mileage " >
                <span class="input-group-addon">km</span>
              </div>
              </div>


      

              <div class="form-group col-md-4">
                <label>Contact No. </label>
                <input name="contact_no"  type="text" class="form-control"  placeholder="Contact No" >
              </div>


              <div class="form-group col-md-4">
                <label>Email </label>
                <input name="email"  type="text" class="form-control" placeholder="Email" >
              </div>

              <div class="form-group col-md-4">
                <label>Alternative contact person (optional)</label>
                <input name="other_name"  type="text" class="form-control" placeholder="name" >
              </div>




              <div class="form-group col-md-12">
                <label>(*) Details</label>
                <textarea name="details"  type="text" class="ckeditor form-control"></textarea> 
              </div>



      </div>

      </fieldset>




      <fieldset class="sched-border">

      <legend class="sched-border"> Location </legend>

        <div class="row">



              <div class="form-group col-md-8">
                  <label>Street (optional)</label>
                  <input name="location" type="text" class="form-control" placeholder="Street">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
              <select id="country_code" name="country_id"  type="select" class="form-control">
                  <option value="">Select Country</option>
                <?php $countryCodes = CountryCodes::find();
                      foreach ($countryCodes as $country_code) { ?>
                        <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php } ?>
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select country first)</label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state or province first)</label>
              <select id="city" name="city"  type="select" class="form-control">
         
              </select>
            </div>

        </div>
      </fieldset>



      <fieldset class="sched-border">

      <legend class="sched-border"> Add Photo </legend>

        <legend class="pull-right" style="text-align:right">better to upload photos</legend>

        <div class="row">
   
              <div class="form-group col-md-4">
                <label> Photo 1 ( optional )</label>
                <input name="file1" type="file" id="file"/>
              </div>

              <div class="form-group col-md-4">
                <label>Photo 2 ( optional )</label>
                <input name="file2" type="file" id="file"/>
              </div>


              <div class="form-group col-md-4">
                <label>Photo 3 ( optional )</label>
                <input name="file3" type="file" id="file"/>
              </div>

              <div class="form-group col-md-4">
                <label>Photo 4 ( optional )</label>
                <input name="file4" type="file" id="file"/>
              </div>

        </div>

      </fieldset>


      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="submit" value="Post Now" class="btn btn-sm btn-primary">
          </div>
        </div>
      </div>

      <?php echo Phalcon\Tag::endForm(); ?>
      </div>  

    </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->







<script type="text/javascript">
  $(document).ready(function() {




// $( "#carNew" ).on( "submit", function( event ) {

//       event.preventDefault();

//       var dataString = $(this).serialize();

//       $.ajax({
//         url: "<?php echo $this->url->getBaseUri() . 'car_and_truck/new'; ?>",
//         type: "post",
//         dataType: 'json',
//         data: dataString,
//           success: function(result){

//                 // do something witstatush response.message or whatever other data on success
//             if(result.status === "success") {

//                //alertify.error("success pare");
//                // form.submit();
//                var id = result.message;
       

//                 // do something with response.message or whatever other data on error
//             } else if(result.status === "error") {
       
//               alertify.error(result.message);

//             }

//           }
//       });

// });



    $('#carNew').bootstrapValidator({


          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              location: {
                  validators: {
                      // notEmpty: {
                      //     message: '* Required'
                      // }
                  }
              },
              details: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              price: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      numeric: {
                          message: '* The price must be a number'
                      }
                  }
              },
              year_model: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              brand: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              model: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              body_type: {
                  selector: '#sample',
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              transmission: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              mileage: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              condition: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              fuel_type: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              contact_no: {
                  validators: {
                      numeric: {
                          message: '* The contact no must be a number'
                      }
                  }
              },
              email: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              country_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              state: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              mileage: {
                  validators: {
                  }
              },
              other_name: {
                  validators: {
                  }
              },
              file1: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file2: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file3: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file4: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }

            }
        });


    // country change
    $('#country_code').change(function() {
        var action = 'getStates/'; 
        var param  = $('#country_code').val();
        var datastring = "param=" + param;
        console.log(datastring);
         $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'car_and_truck/getStates'; ?>",
            type: 'GET',
            data: datastring,
            dataType: 'json',
            success: function(data){

          // $.each(data, function( i, item ) {
          //   selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
          // });

              var selectstate = '<option value="">Select State</option>';
                $.each(data, function(i, item) {
                  selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);

                // $.each(data, function(i, item) {
                //   alert(item.name);
                // });

              $('#state').change(function() {
                  var action = 'getCities/'; 
                  var param1  = $('#state').val();
                  var datastring1 = "param1=" + param1;
                   console.log(datastring1);
                   $.ajax({
                      url: "<?php echo $this->url->getBaseUri() . 'car_and_truck/getCities'; ?>",
                      type: 'GET',
                      data: datastring1,
                      dataType: 'json',
                      success: function(success){
                        var selectcity = '<option value="">Select City</option>';
                          $.each(success, function(i, item) {
                            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
                          });
                          $('#city').html('');
                          $('#city').append(selectcity);
                          // $.each(success, function(i, item) {
                          //   console.log(success.name);
                          // });
                      },
                      error: function(){
                          alert("Select country error1");
                      }
                 });
              }); 
            },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
          }
       });
    }); 


  });
</script>