<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>

<?php use Helpers\ZoidHelpers; ?>



<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}


legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

.file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }
</style>

<div class="body-wrapper" > <!-- start body wrapper -->
  <div class="container" style=" "> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->

      <div class="col-md-12 bcrumbs"  >
        <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li>Classifieds</li>
                  <li>Cars and Trucks</li>
                  <li class="active">update</li>
              </ul>
        </div>
    </div>


      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="boxiy" style="padding:0px;margin:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>
      </div>
      <!-- end left panel -->

  <div class="col-md-10 col-sm-8 boxiy" style="border-left:1px solid #ddd "> <!-- start col-md-9 -->

<hr>

<!-- 
   <div class="col-md-12" style="border-bottom:1px solid #d3d3d3;margin-bottom:20px;">
      <h3  style="padding:3px;padding-bottom:0px;font-family:berlin;font-weight:bold;padding-top:0px;margin-top:0px">
      <span class="glyphicon glyphicon-calendar"></span>
        Update car and truck
      </h3>

   </div> -->



      <div class="col-md-12">
   
<script type="text/javascript">
    $(document).ready(function() {

        <?php 

        $error = '';
        //Check if the variable is defined
        if ($this->session->has("errorMessasge")) {
            //Retrieve its value
            $error = $this->session->get("errorMessasge");
           ?>
            
           var error = "<?=$error?>";
           alertify.error(error);

        <?php $this->session->remove("errorMessasge"); } ?>
        <?php 

        $success = '';
        //Check if the variable is defined
        if ($this->session->has("successMessasge")) {
            //Retrieve its value
            $success = $this->session->get("successMessasge");
           ?>
            
           var success = "<?=$success?>";
           alertify.error(success);

        <?php $this->session->remove("successMessasge"); } ?>


       });

</script>
<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>




      </div>



      <div class="col-md-12">
        <?php echo Phalcon\Tag::form(array("car_and_truck/update/". $auto->id, "method" => "post", "id" => "carNew", "class" => "theForm" , "enctype"=>"multipart/form-data")); ?>
      <fieldset class="sched-border">
        <legend class="sched-border"> Edit Information</legend>

        <legend class="pull-right" style="text-align:right">( * ) required field</legend>


        <div class="row">

              <div class="form-group col-md-4">
                <label>(*) Car/Truck Name</label>
                <input name="id" type="hidden"  value="<?php echo $auto->id; ?>" >
                <input name="name" type="text" class="form-control" value="<?php echo $auto->name; ?>" placeholder="Name" >
              </div>



              <div class="form-group col-md-4">
                  <label>(*) Price</label>
 
                  <?php echo $auto->currency_type;
                  $price = '';
                    switch ($auto->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = '$ USD';
                      break;
                    }
                   ?>
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency"><?=$price?></div></span>
                  <input type="hidden" name="currency_type" id="currency_type" value="">
                  <input name="price" type="text" class="form-control" value="<?php echo $auto->price; ?>" placeholder="Price" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
                         


              </div>

              <div class="form-group col-md-4">
                  <label>(*) Brand</label>
                  <input name="brand" type="text" class="form-control" value="<?php echo $auto->brand; ?>"  placeholder="Brand">
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Model</label>
                  <input name="model" type="text" class="form-control" value="<?php echo $auto->model; ?>" placeholder="Model" >
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Year Model</label>
                  <input name="year_model" type="text" class="form-control" value="<?php echo $auto->year_model; ?>" placeholder="Year Model"  >
              </div>


              <div class="form-group col-md-4">
                <label>(*) Condition</label>
          <?php
          ZoidHelpers::dynamicDropDown(AutomotiveConditions::find(), 'condition', $auto->condition_id );
          ?>
              </div>

              <div class="form-group col-md-4">
                <label>Body Type</label>
          <?php $arrBody = [
          '1' => 'Sedan',
          '2' => 'Coupe',
          '3' => 'Pick-up',
          '4' => 'SUV',
          '5' => 'Van',
          '6' => 'Wagon',
          '7' => 'Sports Car',
          '8' => 'Convertible',
          '9' => 'Crossover',
          '10' => 'Motorcycle',
          '11' => 'Truck'
          ]; 
          ZoidHelpers::staticDropDown('body_type', $arrBody, $auto->body_type);
          ?>
              </div>

              <div class="form-group col-md-4">
                <label>(*) Transmission</label>
          <?php $arrTrans = [
          '1' => 'Manual',
          '2' => 'Automatic'
          ]; 
        
          ZoidHelpers::staticDropDown('transmission', $arrTrans , $auto->transmission);
          ?>
              </div>



              <div class="form-group col-md-4">
                <label>(*) Fuel Type</label>
          <?php $arrFuel = [
          '1' => 'Petrol',
          '2' => 'Diesel',
          '3' => 'Liquefied Petroleum'
          ]; 
          ZoidHelpers::staticDropDown('fuel_type', $arrFuel, $auto->fuel_type_id);
          ?>
              </div>


  
              <div class="form-group col-md-4">
                <label> Mileage</label>
              <div class="input-group">
                <input name="mileage" type="text" class="form-control"  value="<?php echo $auto->mileage; ?>"  placeholder="Mileage " >
                <span class="input-group-addon">km</span>
              </div>
              </div>

              <div class="form-group col-md-4">
                <label>Contact No.</label>
                <input name="contact_no"  type="text" class="form-control" value="<?php echo $auto->contact_no; ?>" placeholder="Contact No" >
             </div>


          <div class="form-group col-md-4">
            <label> Email</label>
            <input name="email"  type="text" class="form-control" value="<?php echo $auto->email; ?>" placeholder="Email" >
          </div>

              <div class="form-group col-md-4">
                <label>Alternative contact person (optional)</label>
                <input name="other_name"  type="text" class="form-control" placeholder="name" >
              </div>

        </div>




        <div class="row">
          <div class="form-group col-md-12">
                  <label>(*) Details</label>
                  <textarea name="details" type="textarea" class="ckeditor form-control" >
                    <?php echo $auto->details; ?>
                  </textarea>           
          </div>
        </div>


      <div class="row">

              <div class="form-group col-md-8">
                  <label>Street (optional)</label>
                  <input name="location" type="text" class="form-control" placeholder="Street">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
            <select id="country_code" name="country_id"  type="select" class="form-control">
                <option value="">Select Country</option>
              <?php $countryCodes = CountryCodes::find(); ?>
              <?php foreach ($countryCodes as $country_code) { ?>
                <?php if ($country_code->id == $auto->country_code_id) {?>
                  <option value="<?php echo $country_code->id; ?>" selected><?php echo $country_code->country_name; ?></option>
                <?php } else { ?>
                  <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php }?>
              <?php } ?>
            </select>

            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select counrty first)</label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state or province first)</label>
              <select id="city" name="city"  type="select" class="form-control">
         
              </select>
            </div>

        </div>



        <div class="row">
          <div class="col-md-3">
            <input type="submit" name="updates" value="update" class="btn btn-sm btn-success">
          </div>
        </div>


      </fieldset>
      <?php echo Phalcon\Tag::endForm(); ?>

      <fieldset class="sched-border">

      <legend class="sched-border">Photo Gallery </legend>
   


    <table class="table">

        <thead>

            <tr>
                <th>no</th>
                <th>Image</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>


            <?php $i = 0;
            foreach ($auto->AutomotivePhotos as $key => $autoPhoto) {
            $photos[$key] =  $autoPhoto->file_path.$autoPhoto->filename;
            $fileId[$key] = $autoPhoto->id;
            $i++;
            ?>

            <tr class="active">

                <td><?=$i?></td>

                <td>
                <?php echo Phalcon\Tag::image(array($photos[$key] , 'class' => 'img-responsive ', "style" => "height:50px")); ?>
                 
                </td>

                <td><a href="<?php echo $this->url->getBaseUri().'car_and_truck/delete_photo/'.$autoPhoto->id?>" class="btn btn-sm btn-success">Delete</a></td>
      
            </tr>


            <?php } ?>

        </tbody>

    </table>




      </fieldset>



<?php $autoP = count($auto->AutomotivePhotos); ?>
<?php if($autoP < 4){ ?>
      <fieldset class="sched-border">

      <legend class="sched-border"> Add Photo </legend>


        <legend class="pull-right" style="text-align:right">( * ) required field</legend>

        <?php echo Phalcon\Tag::form(array("car_and_truck/update_photo/". $auto->id, "method" => "post", "id" => "carNewP", "class" => "theForm" , "enctype"=>"multipart/form-data")); ?>

        <div class="row">
   
            <?php

              $autoP = count($auto->AutomotivePhotos);
              $sumP = abs($autoP - 4);
                for ($i=0; $i < $sumP; $i++) { 
             
            ?>

              <div class="form-group col-md-4">
                <label>Photo <?=$i + 1;?> </label>
                <input name="file<?=$i+1?>" type="file" class="file"/>
              </div>

            <?php } ?>

        </div>

   
        <div class="row">
          <div class="col-md-3">
            <input type="submit" name='photoAdd' value="Add" class="btn btn-sm btn-success">
          </div>
        </div>


      </fieldset>

      <?php echo Phalcon\Tag::endForm(); ?>
<?php } ?>




      </div>


</div><!-- end col-md-9 -->



      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->

<script type="text/javascript">
  $(document).ready(function() {

 

    $('#carNew').bootstrapValidator({


          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              location: {
                  validators: {
                      // notEmpty: {
                      //     message: '* Required'
                      // }
                  }
              },
              details: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              price: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      numeric: {
                          message: '* The price must be a number'
                      }
                  }
              },
              year_model: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              brand: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              model: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              body_type: {
                  selector: '#sample',
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              transmission: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              mileage: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              condition: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              fuel_type: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              contact_no: {
                  validators: {
                      numeric: {
                          message: '* The contact no must be a number'
                      }
                  }
              },
              email: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              country_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              state: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              mileage: {
                  validators: {
                  }
              },
              other_name: {
                  validators: {
                  }
              },
              file1: {
                  validators: {
                                          notEmpty: {
                          message: '* Required'
                      },
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file2: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file3: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file4: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }

            }
        });


    $('#carNewP').bootstrapValidator({


          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              file1: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file2: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file3: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file4: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }

            }
        });


    // // country change
    // $('#country_code').change(function() {
    //     var action = 'getStates/'; 
    //     var param  = $('#country_code').val();
    //     var link = action.concat(param);
    //      $.ajax({
    //         url: link,
    //         type: 'GET',
    //         dataType: 'json',
    //         success: function(data){
    //           var selectstate = '<option value="">Select State</option>';
    //             $.each(data, function(i, item) {
    //               selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
    //             });
    //             $('#state').html('');
    //             $('#city').html('');
    //             $('#state').append(selectstate);
    //             // $.each(data, function(i, item) {
    //             //   alert(item.name);
    //             // });

    //           $('#state').change(function() {
    //               var action = 'getCities/'; 
    //               var param  = $('#state').val();
    //               var link = action.concat(param);
    //                $.ajax({
    //                   url: link,
    //                   type: 'GET',
    //                   dataType: 'json',
    //                   success: function(data){
    //                     var selectcity = '<option value="">Select City</option>';
    //                       $.each(data, function(i, item) {
    //                         selectcity += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
    //                       });
    //                       $('#city').html('');
    //                       $('#city').append(selectcity);
    //                       // $.each(data, function(i, item) {
    //                       //   alert(item.name);
    //                       // });

    //                   },
    //                   error: function(){
    //                       alert("Select country error");
    //                   }
    //              });
    //           }); 
    //         },
    //         error: function(){
    //             alert("Select country error");
    //         }
    //    });
    // }); 



  $("#country_code" ).change(function() {
      callAjaxGetCountry();
  });

  $('#state').change(function() {
      callAjaxGetCities();
  });


  });





 function callAjaxGetCountry() {
   var param  = $('#country_code').val();
   $states = "<?php echo $auto->state; ?>";

   console.log("states " + $states);

    var datastring = "param=" + param;
   
     $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'car_and_truck/getStates'; ?>",
        type: 'GET',
        data: datastring,
        dataType: 'json',
        success: function(data){
            var selectstate = '<option value="">Select State</option>';
            $.each(data, function(i, item) {

               if(data[i].id == $states){
                selectstate += '<option value="'+data[i].id+'" selected>'+data[i].name+'</option>';
               }else{
                selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
               }
              //console.log(data[i].id);
            });

            $('#state').html('');
            $('#city').html('');
            $('#state').append(selectstate);

        },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }

      });
  }


  function callAjaxGetCities() {

    var param1  = $('#state').val();
    var state = "<?php echo $auto->state; ?>";
    var city = "<?php echo $auto->city; ?>";
    if(!param1 || 0 === param1.length){
      param1 = state;
    }
    var datastring1 = "param1=" + param1;
    $.ajax({
      url: "<?php echo $this->url->getBaseUri() . 'car_and_truck/getCities'; ?>",
      type: 'GET',
      data: datastring1,
      dataType: 'json',
      success: function(success){
          var selectcity = '<option value="">Select City</option>';
          $.each(success, function(i, item) {
  
           if(success[i].id == city){
            selectcity += '<option value="'+success[i].id+'" selected>'+success[i].name+'</option>';
           }else{
            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
           }

          });

          $('#city').html('');
          $('#city').append(selectcity);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }
    });
   return false;
  }

  $('body').ready(function(){
     callAjaxGetCountry();
     callAjaxGetCities();
  });











</script>
