<?php

  echo $this->tag->javascriptInclude('themes3/themes/boostrapConfirmation/confirmation.js');

?>


<style>
  
.uppercase{text-transform:uppercase;}
.relative{position:relative;}
.no-margin{margin:0!important;}
.no-padding{padding:0!important;}
.no-border{border:0;}
.width100,.w100{width:100%;}
.hw100{height:100%;width:100%;}
h1,h2,h3,h4,h5,h6{font-family:Roboto Condensed,Helvetica Neue,Helvetica,sans-serif;font-weight:normal;margin:0;padding-bottom:15px;}
h1{font-size:30px;line-height:35px;}
h2{font-size:24px;line-height:28px;}
h3{font-size:20px;line-height:24px;}
h4{font-size:17px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:12px;line-height:20px;}

.inner-box{
  background:none repeat scroll 0 0 #FFFFFF;
  border-radius:3px 3px;box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);
  box-shadow:0 1px 1px rgba(180,180,180,0.5);
  margin-bottom:30px;padding:20px 15px;
}

/* List curve */
.list-title a, .list-title {
  color: #222;
  font-size: 18px;
}

.list-title {
  border-bottom: 1px solid #ddd;
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
}

.list-title:before {
  border-color: #ddd transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;
}

.list-title:after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -12px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}


.list-title.gray:before {
    border-color: transparent transparent transparent;
}

.list-title.gray:after {
    border-color: transparent transparent transparent;
}


/* List Border */
.list-border > li {
  border-top: 1px solid #ebebeb;
  line-height: 36px;
  position: relative;
}

.list-border > li:first-child {
  border: none;
}

.panel-details {
  border: 1px solid #ddd;
  background: #f8f8f8;
  position: relative;
}


.sidebar-panel .panel-heading {
  background: #f8f8f8;
  position: relative;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  line-height: 22px;
}

.panel-contact-seller .panel-body {
  padding: 10px;
}
.seller-info {
  padding: 5px;
}
.ads-details-wrapper .info-row {
  border-top: 1px solid #ddd;
  margin-bottom: 15px;
  padding-top: 10px;
}
.info-row{display:block;clear:both;font-size:12px;color:#9a9a9a;}
  .item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.item .thumb img {
  width: 100%;
  margin: 2px;
}
.item img {
  width: 100%;  
}
</style>

<style>

</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

      <div style="margin-bottom:20px;"><!-- page wrapper body -->
   
<div class="row">
<div class="col-sm-3  page-sidebar-right">
  <aside>



    <div class="panel sidebar-panel panel-contact-seller">
      <div class="panel-heading">Contact Seller</div>
      <div class="panel-content user-info">
        <div class="panel-body text-center">
          <div class="seller-info">
          <?php $user = Members::findFirst($auto->member_id); ?>

            <h3 class="no-margin"><?php echo $user->first_name.' '.$user->last_name; ?></h3>
            <p>Location: <strong>Private</strong></p>
            <p> Joined: <strong>12 May 2015</strong></p>
          </div>
<!--           <div class="user-ads-action"> 
             <a class="btn  btn-default btn-block">
            <i class="fa fa-phone"></i> 01680 531 352 </a> 
          </div> -->
        </div>
      </div>
    </div>

<!--     <div class="panel sidebar-panel">
      <div class="panel-heading">Settings</div>
      <div class="panel-content">
        <div class="panel-body text-left">
          <ul class="list-border">
            <li><a href="">Update</a>  </li>
            <li>Delete </li>
            <li><a href="">My classifieds list</a></li>
          </ul>

        </div>
      </div>
    </div> -->

    <div class="panel sidebar-panel">
      <div class="panel-heading">Safety Tips for Buyers</div>
      <div class="panel-content">
        <div class="panel-body text-left">
          <ul class="list-check">
            <li> Meet seller at a public place </li>
            <li> Check the item before you buy</li>
            <li> Pay only after collecting the item</li>
          </ul>
          <!-- <p><a class="pull-right" href="#"> Know more <i class="fa fa-angle-double-right"></i> </a></p> -->
        </div>
      </div>
    </div>
  
  </aside>
</div>



<?php 
$daten = strtotime($auto->created);
$dates = date('F d Y ', $daten);  ?> 

 <!-- ********************************************************* -->
<div class="col-sm-9 page-content col-thin-right">

<div class="inner inner-box ads-details-wrapper">

  <h2> <?php echo '  '.ucfirst($auto->name); ?></h2>
  <span class="info-row"> 
    <span class="date"><i class=" icon-clock"> </i> <?php echo $dates; ?> </span> - 
 
    <span class="item-location">

                <?php 
                  $ecity = '';
                  $cities = Cities::findFirst($auto->city);
                  if($cities){
                    echo '<span class="fa fa-map-marker"></span> ';
                    $ecity .= $cities->city_name;
                    $ecity .= ', '. $cities->state_code_id;
                    $ecity .= ', '.$cities->CountryCodes->country_name;
                    echo $ecity;
                  }
                ?></span> 

    
  </span>


<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="ads-image">
      <div class="carousel slide" id="myCarousel" style="border:2px solid #333;">
          <div class="carousel-inner" style="max-height:400px;">
          <?php 
             $cc = count($auto->AutomotivePhotos);

                if($cc == 1 or $cc == 0){
                    $autoPhoto = 'img/nophoto.jpg'; 
                    if ($cc > 0) {
                      $autoPhoto = $auto->AutomotivePhotos[0]->file_path.$auto->AutomotivePhotos[0]->filename;
                    }
                    echo '<div class="item active">';
                      echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive']);
                    echo   '</div>';
                  }else{
                      $cx = 1;
                      foreach ($auto->AutomotivePhotos as $key => $photo) {
                      $photos[$key] =  $photo->file_path.$photo->filename;
                          $fileId[$key] = $photo->id;
                          if ($cx == 1) {
                           echo '<div class="item active">';
                          } else {
                           echo '<div class="item">';
                          }
                
                           echo Phalcon\Tag::image(array($photos[$key],'alt' => ''));
                               echo   '</div>';
                              $cx++;
                      } 
                  }
          ?>
          </div>  
          <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a> 
          <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>
        </div>


        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <?php
                      $cx = 0;
                      foreach ($auto->AutomotivePhotos as $key => $photo) {
                       $photos[$key] =  $photo->file_path.$photo->filename;
                       $fileId[$key] = $photo->id;
                    
                      echo '<div data-target="#myCarousel" data-slide-to="'.$cx.'" class="thumb">';
                      echo Phalcon\Tag::image(array($photos[$key],'alt' => ''));
                      echo '</div>';
                       $cx++;
                      } 
                    ?>
                </div><!-- /item -->
            </div><!-- /carousel-inner -->
        </div> <!-- /thumbcarousel -->
</div>
</div>
</div>
<div class="clearfix"></div>

  <div class="Ads-Details">
    <h5 class="list-title"><strong>Ads Details</strong></h5>
    <div class="row">
      <div class="ads-details-info col-md-8">

      <?php echo $auto->details; ?>


      </div>

      <div class="col-md-4">

        <aside class="panel panel-body panel-details">
          <ul>
            <li> <p class=" no-margin "><strong>Price:</strong> <?php echo number_format($auto->price,2); ?></p> </li> 

            <li> <p class="no-margin"><strong>Brand:</strong> <?php echo $auto->brand; ?></p> </li> 
            <li> <p class="no-margin"><strong>Model:</strong> <?php echo $auto->model; ?></p> </li> 
            <li> <p class="no-margin"><strong>Year Model:</strong> <?php echo $auto->year_model; ?></p> </li>
            <li> <p class=" no-margin "><strong>Condition:</strong> <?php echo $auto->AutomotiveConditions->name; ?></p> </li>
            <li> <p class="no-margin"><strong>Fuel Type:</strong> <?php echo $auto->AutomotiveFuels->name; ?></p> </li>
            <li> <p class="no-margin"><strong>Mileage:</strong> <?php echo $auto->mileage; ?></p> </li>
          </ul>
        </aside>

<!--         <div class="ads-action">
          <ul class="list-border">
            <li><a href="#"> <i class=" fa fa-user"></i> More ads by User </a> </li>
            <li><a href="#"> <i class=" fa fa-heart"></i> Save ad </a> </li>
            <li><a href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a> </li>
          </ul>
        </div> -->
      </div>


    </div>

    <div class="content-footer text-left"> 

    </div>
    
  </div>
</div>
 
</div>
 <!-- ********************************************************* -->



 
</div>






      </div><!-- end page wrapper body -->

    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
