<div class="row">
<?php
	$requests = ClaimRequests::find();

?>
					<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Claim Business Requests</h3>
							</div>
							<div class="panel-body">
								<table id="request" class="stripe hover cell-border" cellspacing="0" width="100%">
							        <thead>
							            <tr>
							                <th><i class="icon-user-6"></i> Member Name</th>
							                <th><i class="icon-office"></i> Business Name</th>
							                <th><i class="icon-email"></i> Email</th>
							                <th><i class="icon-phone-hang-up"></i> Telephone</th>
							               
							                <th>Status</th>
							                <th>Action</th>
							            </tr>
							        </thead>
							 
							        <tfoot>
							            <tr>
							                <th>Member Name</th>
							                <th>Business Name</th>
							                <th>Email</th>
							                <th>Telephone</th>
							                
							                <th>Status</th>
							                <th>Action</th>
							            </tr>
							        </tfoot> 
        							<tbody>
        							<?php foreach ($requests as $request) { 
        								echo "<tr>";
        									$businessId = $request->business->id;
        									$memberName = $request->members->first_name . ' ' . $request->members->last_name;
        									$email = $request->members->email;
        									echo '<td>'. $memberName . '</td>';
        									echo '<td>'. $request->business->name .'</td>';
        									echo '<td>'. $email .'</td>';
        									echo '<td>'. $request->business->telephone .'</td>';
        									echo '<td>';
        									if ($request->status == 'approved') {
        										echo 'approved';
        									} else if ($request->status == 'pending') {
        										echo 'pending';
        									} else if ($request->status == 'rejected') {
        										echo 'rejected';
        									}
        									echo '</td>';
        									echo '<td>
        										<button class="btn btn-primary btn-xs">Approve</button>
        										<button class="btn btn-danger btn-xs">Reject</button>
        										<button class="btn btn-warning btn-xs">Revert</button>
        										</td>';
        								echo "</tr>";
        							}?>
        							</tbody>
   								 </table>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">CLAIMED BUSINESS</h3>
							</div>
							<div class="panel-body demo">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Username</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Mark</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">REJECTED BUSINESS CLAIM REQUESTS</h3>
							</div>
							<div class="panel-body demo">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>#</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Username</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Mark</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#request').dataTable();
	// $('#request').DataTable({
	// 	"scrollY":        "400px",
 //        "scrollCollapse": true,
 //        "paging":         false
	// });
	//var request_table = $('#request').dataTable();
	// $('#request').dataTable( {
	//     "ajax": 'getclaimrequest',
	//     "scrollY":"400px",
	//     "scrollCollapse": true,
	//     "pageLength": 20
	// });


});
</script>