<div class="">
  <div class="panel-heading"> 
    <div class="row">
      <div class="col-md-12 colorBlue">
        <?php 
          $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$member->id.'"', 'primary_pic="Yes"'));
          $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
          if(isset($memberPhotos->filename)) {
            $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
          }

      //                 $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
      // $primaryPix = MemberPhotos::findFirst('member_id = "'.$review->member_id.'" and primary_pic="Yes"');
      //     if ($primaryPix) {
      // $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
      //     }

          
        ?>
        <?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-responsive')); ?>
        <h3 class="text-center" style="font-family:Arial;color:#023283;"><?php echo Phalcon\Tag::linkTo('member/page/'.$member->id.'/'.$member->first_name.'+'.$member->last_name, strtoupper($member->first_name.' '.substr($member->last_name, 0, 1).'.')); ?></h3>
      </div>
      
    </div>
  </div>
</div>  
    <div class="row">
      <!--<div class="col-md-12 text-center">
        <?php //if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
        <?php //if($memberId != $member->id){ ?>
        <?php //echo Phalcon\Tag::linkTo(array('friend_request/add/'.$member->id.'/'.$member->first_name.'+'.$member->last_name, 'Add as a Friend', 'class' => 'btn btn-primary btn-block')); ?>
        <?php //echo Phalcon\Tag::linkTo(array('member/follow/'.$member->id.'/'.$member->first_name.'+'.$member->last_name, 'Follow', 'class' => 'btn btn-danger btn-block')); ?>
        <br>
        <?php //} ?>
      </div>-->
      <div class="">
                <div class="col-md-12">
     <!-- <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                  <img src="<?php //echo $this->url->getBaseUri() . 'img/ca.png'; ?>">
        <?php //echo $member->city; ?>
                            </h3>
            </div>
            <ul class="list-group">
                <a href="#" class="list-group-item active"><span style="font-weight:bold;">PHOTO</span></a>
          <a href="<?php //$this->url->getBaseUri() . 'member/add_photo/' . $member->id; ?>"><span class="badge pull-right"><?php
        //$countReviews = Reviews::find(array('member_id = ' . $member->id));
        //echo count($countReviews);
      ?></span></a>
                <a href="http://www.jquery2dotnet.com/2014/01/jquery-export-table-data-into-ms-excel.html" class="list-group-item active"><span style="font-weight:bold;">REVIEWS</span>
          </a>
                <a href="#" class="list-group-item">
        

                <i class="fa fa-photo text-info"></i><b style="font-family: Myriad;font-size: 7px;"><img style="width: 13px;" src="<?php //echo $this->url->getBaseUri() . 'img/Like.png'; ?>"/> LIKE <span class="badge" style="font-size: 10px;"><?php 
        //$likeComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=0");    
            //echo count($likeComp);  
          ?></span></b>
             
                <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;<b style="font-family: Myriad;font-size: 7px;"><img style="width: 9px;" src="<?php //echo $this->url->getBaseUri() . 'img/Helpful.png'; ?>"/> HELPFUL <span class="badge" style="font-size: 10px;"><?php 
        //$helpfulComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=1");   
          //  echo count($helpfulComp); 
          ?></span></b>
              
                <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;<b style="font-family: Myriad; font-size: 7px;"><img style="width: 10px;" src="<?php //echo $this->url->getBaseUri() . 'img/Rockon.png'; ?>"/> AWESOME <span class="badge" style="font-size: 10px;"><?php 
        //$awesomeComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=2");   
            //echo count($awesomeComp); 
          ?></span></b>
            
          </a>
            </ul>
        </div>-->
                  <ul class="list-group">
                    <li class="list-group-item">
                     <a href="<?php echo $this->url->getBaseUri() . 'member/gallery/'. $member->id; ?>"> <span class="badge pull-right"><?php 
        $countPhotos = MemberPhotos::find(array('member_id = "'.$member->id.'"', 'order' => 'id DESC'));    echo count($countPhotos); 
      ?></span>
                      <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;PHOTOS
         </a>
                    </li>
                    <!--<li class="list-group-item">
                      <a href=""><span class="badge pull-right">0</span></a>
                      <i class="fa fa-users text-success"></i>&nbsp;&nbsp;FRIENDS
                    </li>-->
                    <li class="list-group-item">
                      <a href="<?php $this->url->getBaseUri() . 'member/add_photo/' . $member->id; ?>"><span class="badge pull-right"><?php
        $countReviews = Reviews::find(array('member_id = ' . $member->id));
        echo count($countReviews);
      ?></span></a>
                      <i class="fa fa-comments text-danger"></i>&nbsp;&nbsp;REVIEWS
                    </li>
        <li class="list-group-item treeview">
                     
                       <span class="badge pull-right"><?php 
    $likeComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=0");    
        echo count($likeComp);  
      ?></span>
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;LIKE
                     
                    </li>
        <li class="list-group-item treeview">
                    
                       <span class="badge pull-right"><?php 
    $helpfulComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=1");   
        echo count($helpfulComp); 
      ?></span>
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;HELPFUL
                      
                    </li>
                    <li class="list-group-item treeview">
                     
                       <span class="badge pull-right"><?php 
        $awesomeComp = ReviewCompliments::find("reviewer_id=". $member->id. " and rate=2");   
        echo count($awesomeComp); 
      ?></span>
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;AWESOME
                     
                    </li>
                    <!--<li class="list-group-item">
                      <a href=""><span class="badge pull-right">0</span></a>
                      <i class="fa fa-th-list text-warning"></i>&nbsp;&nbsp;ADVERTISMENTS
                    </li>-->
                  </ul>
                </div>
            </div>   
    </div>
  
