

  /***********************
    CUSTON NAVBAR
  ************************/


  #navbar{
  -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   border-top:0px;
  }
  .navbar-default{
    height:90px;
    border-bottom: 2px solid #023283;
  }

  .navbar-brand {
    padding:0px 5px;
  }

  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus{
    background: none;

  }

  .navbar-default .navbar-nav > li > a{
  color:#023283;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  }
  .nav > li > a:hover, .nav > li > a:focus{
  background: none;
  text-decoration:underline;
  outline: none;
  }


  /***********************
    CUSTON Carousel
  ************************/

  #sliderCarousel {
    position: relative;
    margin-top: 80px;


  }
 



  @media (max-width: 1024px) {
      #templatemo-carousel {
        background-image: url('../img/banig.jpg');
          overflow-x: hidden;
          margin-bottom:0;
      }
  }


  .container > .carousel-caption  img {
    width: 100%;
    border: 3px solid #fff;
  }


  .carousel-caption {
      left: 20%;
      right: 20%;
      padding-bottom: 15px;
  }

  .carousel-indicators {
      bottom: 5px;
  }
  #templatemo-carousel {
      background-image: url('../img/banig.jpg');
      overflow-x: hidden;
      margin-bottom:0;
  }

  #templatemo-carousel .carousel-caption {
      z-index: 2;
  }

  #templatemo-carousel .item {
      height: 200px;

  }

  .carousel-caption h1{
    color:#fff;
  }
  .carousel-caption p{
    background: #ccc;
    padding: 5px 10px;
    color:#333;
  }

    /* Large desktop */
    @media (min-width: 1200px) { 
      .container > .carousel-caption  img {
          width: 750px;
          height: 150px;
      }
        #templatemo-carousel .item {
            height: 230px;
        }


   }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { 
        #templatemo-carousel .item {
            height: 180px;
        }

     }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { 
        #templatemo-carousel .item {
            height: 150px;
        }
    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
        #templatemo-carousel .item {
            height: 110px;
        }

     }



/*  @media (min-width: 768px) {
      #templatemo-carousel .carousel-caption p {
       

          font-size: 14px;
      }

      #templatemo-carousel .carousel-caption {
         
          right: 20%;
          left: 20%;
      }
  }

  @media (max-width: 768px) {
      #templatemo-carousel .carousel-caption {
          padding-bottom: 20px;
      }
  }

*/
