z<?php 
echo $this->tag->stylesheetLink('themes3/css/forum.css');
echo $this->tag->stylesheetLink('themes3/themes/summernote/summernote.css');
  //echo $this->tag->javascriptInclude('themes3/themes/seeMore/seemore.js');
// echo $this->tag->stylesheetLink('themes3/themes/bootstrapSelect/css/bootstrap-select.css');
// echo $this->tag->javascriptInclude('themes3/themes/bootstrapSelect/js/bootstrap-select.js');
echo $this->tag->javascriptInclude('themes3/js/time.ago.js');
echo $this->tag->javascriptInclude('themes3/themes/summernote/summernote.js');
// echo $this->tag->javascriptInclude('themes3/js/forum.zoid.js');
 ?>


<?php use Helpers\ZoidHelpers; ?>
<script>
//   jQuery(document).ready(function() {
//   jQuery("time.timeago").timeago();
// });
</script>
<script>
  
// jQuery(document).ready(function() {
//     jQuery('.toggle-nav').click(function(e) {
//         jQuery(this).toggleClass('active');
//         jQuery('.menu ul').toggleClass('active');

//         e.preventDefault();
//     });
// });

</script>
<style>

  nav.menu {
    padding:10px;
  }

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
/*    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }*/
}
  nav.menu ul {
    list-style: none;
    padding:0px;
    margin:0px;
        display:inline-block;
  }
  nav.menu ul li {
     list-style: none;
    float:left;
    display: inline;
  }
  nav.menu ul li a {
    padding:15px 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }

  nav.menu ul li a:hover {
    text-decoration: underline;
  }




/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
    }

    .menu ul.active {
        display:none;
    }

    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .menu a {
        display:block;
    }

    .toggle-nav {
        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }

    .search-form {
        margin:12px 0px 0px 20px;
        float:left;
    }

    .search-form input {
        box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
    }
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: underline;
}

.btn-grey {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #fff;
  border-color: #ccc;
  color:#333;
}
.btn-grey .badge {
  color: #333;
  background-color: #333;
}
</style>
<script type="text/javascript">
    

$(function() {



    $("html, body").animate({ scrollTop: 150 }, 600);   
   // Summernote 
    // var uiSummernote = function(){
        /* Extended summernote editor */
            $("#summernote").summernote({
              height: 120,
                 codemirror: {
                    mode: 'text/html',
                    htmlMode: true,
                    lineNumbers: true,
                    theme: 'default'
                  }
            });
     
        /* END Extended summernote editor */
        /* Lite summernote editor */
        if($(".summernote_lite").length > 0){
            $(".summernote_lite").on("focus",function(){
                $(".summernote_lite").summernote({
                  height: 100, focus: true,
                  toolbar: [
                      ["style", ["bold", "italic", "underline", "clear"]],
                      ["insert",["link","picture","video"]]                                                          
                  ]
                 });
            });                
        }
        /* END Lite summernote editor */
        
        /* Email summernote editor */
        if($(".summernote_email").length > 0){
            $(".summernote_email").summernote(
              {height: 400, focus: true,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]                                                          
                ]
              });
        }
        /* END Email summernote editor */

    // }// END Summernote 

    // uiSummernote.init();
    // 

    $('#postReply').on('submit', function(){

      var idT = $('#topic_id').val();
      var cont = $('textarea[name="content"]').val();
      $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'forum/reply'; ?>",
        type:'GET',
        dataType: 'json',
        data: {positive:'redHorse',content:cont,id:idT},
          beforeSend: function(){
          $("#loader").show();
          $("#loader").css({'display':'inline'});
          },
        success:function(data){
              $("#loader").hide();
              $("#loader").css({'display':'none'});
            if(data.type == 'success'){
              $('#replyAjax').hide().append(data.text).fadeIn();
            }else if(data.type == 'error'){
              $('#replyAjax').hide().append(data.message).fadeIn();
            }else{
                $('#replyAjax').hide().append('somethin wrong').fadeIn();
            }

        }
      });
    return false;
    });

    $('#replyAjax').on('click', '.closex', function(){
        console.log('close');
       var href =  $(this).attr('id');
         var element = $(this).parent().parent().fadeOut();
       $.ajax({
            url:"<?php echo $this->url->getBaseUri() . 'forum/deleteReplyTopic'; ?>",
            type:'GET',
            dataType: 'json',
            data:{positive:'SanMiguel',id:href},
            success:function(data){
                if(data.type == 'success'){
                     element.fadeOut();
                }else{
                }
            }
       });
    return false;
    });

    $('a.closex').on('click', function(event){
  
       var href =  $(this).attr('id');
      var element = $(this).parent().parent().fadeOut();
      $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'forum/deleteReplyTopic'; ?>",
        type:'GET',
               dataType: 'json',
        data: {positive:'SanMiguel',id:href},
        success:function(data){
            if(data.type == 'success'){
                element.fadeOut();
            }else{

            }
        }
      });
      event.preventDefault();
    });




  /* HEADER MENU*/
  $('.menu_x').on('click',function(event){
    var zlinker = $(this).attr('id');
    ajaxSpinner(zlinker);
    console.log(zlinker);
    $("html, body").animate({ scrollTop: 150 }, 600);   
  });
  /* HEADER MENU*/


    $('#searchTopics').on('submit', function(){
      var key = $('#subjectKey').val();
      console.log(key);
      localStorage.setItem('_word', key);
      localStorage.setItem('_key', '1x1');
     window.location.replace('/forum/index/');
      return false;
    });


});




</script>




<!-- start body wrapper -->
<div class="body-wrapper" style="margin-top:88px;"> 

  <!-- start body wrapper container-fluid -->
  <div class="container-fluid" id="forum-image"  style=" height:150px"> 
  </div>


  <!-- start body wrapper container-fluid -->

  <div class="container-fluid"  style=" background:#fff;"> 
    <div class="row">
        <div class="container" style="padding-top:0px;margin-top:0px;margin-bottom:0px;padding-bottom:0px">
            <div class="row">
        
                <div class="col-md-8 col-sm-8" style="padding:5px 5px 5px 0px">


                        <nav role="custom-dropdown">
                            <input type="checkbox" id="button">
                            <label for="button" onclick>menu</label>
                            <ul>
                      <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_xx" id="z_all">All</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_lat">Latest</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_pop">Popular</a></li>
                        <?php if (isset($userSession['id'])) { ?>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/list_topic'; ?>" class="menu_xx" id="z_myt">My Topics</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/add'; ?>" class="menu_xx" id="z_adt">Start New Topic</a></li>
                        <?php } ?>
                            </ul>
                        </nav>

                </div>

                <div class="col-md-4 col-sm-4 " style="padding:5px">
            
                  <form method="post" id="searchTopics">
                    <div class="input-group" style="margin:0px;padding:0px 15px;">
                    <div class="input-group-btn" style="">
                      <button type="submit" id="sumbit_search" class="btn btn-primary">Search</button>
                    </div>
                    <input type="text" class="form-control" id="subjectKey" name="subject" placeholder="search">
                  </div>
                  </form>
           

                </div>

            </div>

        </div>
    </div>
  </div>

<!-- ************************************************************ -->
<div class="container"><!-- start container -->

    <div class="row" style="margin-top:20px">
        <div class="col-lg-8 col-md-8"><!-- start col-lg-8 col-md-8 -->


            <div class="post " style="border-top:2px solid #043081"><!-- //start of beforepagination -->

                <div class="topwrap"><!-- //start of topwrap -->
                    
                    <div class="userinfo pull-left"><!-- //start of userinfo -->
                        <div class="avatar"><!-- //start of avatar -->
                            
                                <?php 
                                $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                                $avatar = MemberPhotos::findFirst('member_id = "'.$whatsupTopics->member_id.'" and primary_pic="Yes"');
                                if ($avatar) {
                                    $profilePic =  'http://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
                                } ?>
                                <a class="restricted" href="<?=$this->url->getBaseUri()?>member/page/<?=$whatsupTopics->member_id?>">
                                <?php  echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:50px;height:50px')); ?>
                                </a>


                        </div><!-- //end of avatar -->

                      <!--   // <div class="icons">//start of icons
                        //     <img src="images/icon1.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt="">
                        // </div>//end of icons -->
                    </div><!-- //end of userinfo -->
                   

                   
                    <div class="posttext pull-left"><!-- //start of posttext -->
                        <h2><?=$whatsupTopics->subject?></h2>
                            <?php
                                $category = WhatsupCategories::findFirst($whatsupTopics->whatsup_category_id);
                                echo '<i style="text-decoration:underline">'.$category->name.'</i>';
                            ?>
    
                      
                        <p><?=$whatsupTopics->content?></p>
                    </div><!-- //end of posttext -->
                  <?php if($userSession['id'] == $whatsupTopics->member_id){?>

                    <div class="btn-group" style="position:absolute;right:20px;top:10px">
                      <button type="button" class="btn btn-grey dropdown-toggle" data-toggle="dropdown">
                         <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" >
                        <li ><a  href="<?=$this->url->getBaseUri().'forum/view_edit/'.$whatsupTopics->id?>">Edit</a></li>
                        <li><a  href="#">Delete</a></li>
                      </ul>
                    </div>
                        <?php }  ?>


                    <!-- <a href="#" class="close" style="background:#043081; border-radius:60px;padding:2px;margin:5px;">&times;</a> -->
                    <div class="clearfix"></div>

                </div><!-- //end of topwrap -->

                
                <div class="postinfobot"><!-- //start of topwrap -->
                    <!-- // <div class="likeblock pull-left">//start of likeblock
                    //     <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>25</a>
                    //     <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>3</a>
                    // </div>//end of likeblock

                    // <div class="prev pull-left"> //end of prev                                 
                    //     <a href="#"><i class="fa fa-reply"></i></a>
                    // </div>//end of prev -->

                    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <?=$whatsupTopics->created_at?></div>

                    <div class="next pull-right"><!-- //end of next pull     -->                                      
                        <!-- // <a href="#"><i class="fa fa-share"></i></a> -->
                        <a href="#"><i class="fa fa-flag"></i></a>
                    </div><!-- //end of next pull   -->

                    <div class="clearfix"></div>
                </div><!-- //end of postinfobot -->
            

            </div>

           <?php  $ccount = 1; foreach ($topicReplies as  $replies) { ?>

            <div class="post" style="width:95%;margin-left:5%;">
                <div class="topwrap">
                    <div class="userinfo pull-left" style="width:10%">
                        <div class="avatar">
                        <?php 
                                $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                                $avatar = MemberPhotos::findFirst('member_id = "'.$replies->member_id.'" and primary_pic="Yes"');
                                if ($avatar) {
                                    $profilePic =  'http://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
                                } ?>
                                <a class="restricted" href="<?=$this->url->getBaseUri()?>member/page/<?=$replies->member_id?>">
                                 <?php echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:30px;height:30px')); ?>
                                </a>
                        </div>

                        <div class="icons">
                            <!-- //<img src="images/icon3.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="posttext pull-left">
       <?php
                        $user = Members::findFirst($replies->member_id);
                        $name = $user->first_name;
                        ?>
                            <span class="fa fa-user"></span><i> <?php echo $name; ?></i>
                        <p> <?=$replies->content?></p>
                    </div>
                    <?php if($userSession['id'] == $replies->member_id){?>
                  <a href="#" class="close closex" id="<?=$replies->id?>" style="background:#043081; border-radius:60px;padding:2px;margin:5px;">&times;</a>
                  <?php }  ?>
                    <div class="clearfix"></div>
                </div>       
                <div class="postinfobot" style="padding:0px;margin:0px;line-height:30px">

                    <div class="likeblock pull-left">
                        <!-- // <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                        // <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>1</a> -->
                    </div>

                    <div class="prev pull-left">     

                     <!-- <a href="#"><i class="fa fa-reply"></i></a> -->
                    </div>

                    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <?=$replies->created_at?></div>

                    <div class="clearfix"></div>
                </div>
            </div>
            
           <?php  } ?>

            <div id="replyAjax"></div>
               <!-- load more loader -->
              <div id="loader" style="text-align:center;display:none">
                <?php echo Phalcon\Tag::image(array('img/finalgiffer6.gif','alt' => 'logo')); ?>
              </div>
            <form id="postReply" method="post" >
             <div class="post" style="width:95%;margin-left:5%">
                     <div class="topwrap">
                         <div class="userinfo pull-left">
                             <div class="avatar">
                                   <?php  if(isset($userSession['id'])){
                                        // profile picture 
                                        $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                                        $avatar = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                                        if ($avatar) {
                                        $profilePic =  'http://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
                                       } ?> 
                                        <a class="restricted" href="<?php echo $this->url->getBaseUri().'member/page/'.$userSession['id']; ?>">;
                                           <?php echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:50px;height:50px'));  ?>
                                        </a>
                                     <?php }else{ ?> 
                                        <img src="http://placehold.it/50x50&text=NO+PROFILE+PIC" alt="">
                                     <?php } ?> 
                       
                             </div>

                             <div class="icons">
                                <!--  <img src="images/icon3.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt=""> -->
                             </div>
                         </div>
                         <div class="posttext pull-left">

                                <?php if(isset($userSession['id'])){ ?>    
                                        <input type="hidden"  name="topic_id" id="topic_id" value="<?=$whatsupTopics->id?>">
                                      <textarea  id="summernote"  name="content"  ></textarea>
                               <?php }else{ ?>
                                    <div class="Note Closed SignInOrRegister">
                                    <a class="restricted" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                                    or <a class="restricted" href="#" data-toggle="modal" data-target="#register-modal">Signup</a> to comment.
                                    </div>
                              <?php  } ?>
                             </div>
                 
                         <div class="clearfix"></div>
                     </div>      

                <?php if(isset($userSession['id'])){ ?>
                     <div class="postinfobot">
                         <div class="notechbox pull-left">
                          <!--    <input name="note" id="note" class="form-control" type="checkbox"> -->
                         </div>

                         <div class="pull-left">
                            <!--  <label for="note"> Email me when some one post a reply</label> -->
                         </div>

                         <div class="pull-right postreply">
                            <!--  <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div> -->
                             <div class="pull-left"><button type="submit" class="btn btn-primary btn-sm">Post Reply</button></div>
                             <div class="clearfix"></div>
                         </div>
          
                         <div class="clearfix"></div>
                     </div>
                           <?php } ?>
  
             </div><!-- POST -->
          </form>



    </div><!-- end col-lg-8 col-md-8 -->

       <div class="col-lg-4 col-md-4"><!-- start col-lg-4 col-md-4 -->

            <!-- -->
            <div class="sidebarblock">
                <h3>Categories</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                    <li><a class="menu_category" data-cat="" href="<?=$this->url->getBaseUri()?>forum/test">All<span class="badge pull-right"><?php echo WhatsupTopics::count();?></span></a></li>
                    <?php
                        foreach ($forum_category as $value) {
                            $res = WhatsupTopics::find("whatsup_category_id = '$value->id' ");
                            $count = count($res);
                            echo '<li><a class="menu_category" data-cat="'.$value->id.'" href="'.$this->url->getBaseUri().'forum/test/'.$value->id.'">'.$value->name.'<span class="badge pull-right">'.$count.'</span></a></li>';
                        }
                    ?>
                    </ul>
                </div>
            </div>

          <div class="sidebarblock">
        <h3>Badges</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>


          <div class="sidebarblock">
        <h3>My Active Threads</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>

<?php $this->partial('partials/ads2'); ?>
        </div><!-- end col-lg-4 col-md-4 -->

    </div>
                
</div><!-- end container -->


<!-- ************************************************************ -->

</div><!-- end body wrapper -->


<script>
    function compliment(rate,topicId,counter) {
     //alert(rate + ' ' + topicId + ' ' + memberId);
        $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'forum/compliment'; ?>",
                type: 'GET',
                data: {rate:rate, topicId:topicId, counter:counter},
                dataType: 'json',
                success: function(result){
                    //alertify.success(result[0].rate + ' ' + result[0].topicId + ' ' + result[0].counter);
                    var r = result[0].rate;
                    if (r == '0') {
                       $('#lykCount'+counter).html(result[0].count);
                    } else if (r == '1') {
                       $('#helpCount'+counter).html(result[0].count);
                    } else if (r == '2') {
                       $('#aweCount'+counter).html(result[0].count);
                    }
                    $('#forum-compliment'+counter).html('');
                },
                error: function(){
                    alertify.error("whoops, something went wrong.");
                }
        });
    }
</script>
<script type="text/javascript">



$(document).ready(function(event){




      $('#flagify').click(function() {
        $('#flagModal').modal('hide');
        if ($('#flag_type').val() == "0") {
          alertify.error("you must choose one option");
        } else {
          var flagger = $("#flaggerId").val();
          var review = $('#reviewId').val();
          var reviewer = $('#reviewerId').val();
          var flag_type = $('#flag_type').val();
          var span_counter = $('#flagId').val();
              $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'thing/flag'; ?>",
                type: 'GET',
                data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                dataType: 'json',
                success: function(result){
                  $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
                  alertify.success("Your report has been sent to admins.");
                  //console.log(result.items);
                },
                error: function(){
                  alertify.error("whoops, something went wrong.");
                }
           });
          }
      }); 


     });


    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag </span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag car</button>
      </div>
    </div>
  </div>
</div>
