<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">You're Almost There! Just Confirm Your Email</h2>
				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">You've successfully created a MyBarangay for Business account. To activate it, please click below to confirm your email address.

				<br>
				<br>
				
				<a style="background:#1F4788;color:#fff;padding:10px" href="http://mybarangay.com/<?php echo $confirmUrl; ?>">Confirm</a>

				<br>
				<br>
				Isang mundo. Isang wika. Isang barangay.
				<br>
			</p>
		</td>
	</tr>
</tbody>
