      <!-- ******************* start Whatsup *********************** -->

    
          <div class="panel panel-default"><!-- start panel Events -->

            <div class="panel-heading" >
              <h4 style="padding:0px 5px;margin:0px;"><i class="fa fa-list-alt"></i> Featured Biz </h4>
            </div>

            <div class="panel-body"><!-- panel body -->


              <a href="<?php echo $this->url->getBaseUri().'business/view2/69'; ?>" >
                <?php echo Phalcon\Tag::image([ 'img/ad/paradise200x100.jpg', 'class' => 'img-responsive', 'style' => 'height:100px;margin-bottom:5px;border:1px solid #ccc;width:100%']); ?>
              </a>


              <a href="https://www.mybarangay.com/index/knowl_center#!/service" ><div class="" style="background:#db0201;padding:30px 10px;font-weight:bold;text-align:center;margin-bottom:5px;height:100px;color:#fff;">
                <span class="" >Advertise in MyBarangay for as low as 32 cents per day!</span>
              </div></a>

              <?php //for ($i=0; $i < 1; $i++) {  ?>
              <a href="https://www.mybarangay.com/index/knowl_center#!/service"><div class="" style="background:#4DA9C0;padding:0px 10px;font-weight:bold;text-align:center;line-height:100px;margin-bottom:5px;height:100px;color:#fff">
                <span class="">Place your ad here</span>
              </div></a>
              <?php //} ?>
            </div>
          </div><!-- end panel events -->
      <!--   </div> -->
      <!-- ******************* end Whatsup *********************** -->