
 
        <div class="row" style="">
            <div class="col-md-12 "  >
                <div class="col-md-12 col-xs-12"  >
                    <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                        <li><a href="index.html">Home</a></li>
                        <?php

                        if(!$breadcmp){
                          echo '<li class="active">pending</li>';
                        }else{
                          echo '<li class="active">'.$breadcmp.'</li>';
                        }

                        ?>

                    </ul>
                </div>
<!-- 
               <div class="col-md-12 col-xs-12 col-sm-12" >
               <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
               </div> -->

            </div>
        </div>

