<?php 	
	if ($sessionType == 1) {
	$getDays = BusinessHours::count("business_id='".$business->id."'"); 
	} else {
	$getDays = 0;
	}
	echo '<ul class="list-group">';	
?>
<?php
	if ($getDays > 0) {
	    $getMonday = BusinessHours::findFirst("business_id='".$business->id."' and day='monday'");
		echo '<li class="list-group-item">Monday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getMonday->start.'</span>-<span class="label label-primary">'.$getMonday->end.'</span></span>
                  </li>';
	    $getTues = BusinessHours::findFirst("business_id='".$business->id."' and day='tuesday'");
		echo '<li class="list-group-item">Tuesday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getTues->start.'</span>-<span class="label label-primary">'.$getTues->end.'</span></span>
                  </li>';
	    $getWed = BusinessHours::findFirst("business_id='".$business->id."' and day='wednesday'");
		echo '<li class="list-group-item">Wednesday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getWed->start.'</span>-<span class="label label-primary">'.$getWed->end.'</span></span>
                  </li>';
	    $getThu = BusinessHours::findFirst("business_id='".$business->id."' and day='thursday'");
		echo '<li class="list-group-item">Thursday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getThu->start.'</span>-<span class="label label-primary">'.$getThu->end.'</span></span>
                  </li>';
	    $getFri = BusinessHours::findFirst("business_id='".$business->id."' and day='friday'");
		echo '<li class="list-group-item">Friday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getFri->start.'</span>-<span class="label label-primary">'.$getFri->end.'</span></span>
                  </li>';
	    $getSat = BusinessHours::findFirst("business_id='".$business->id."' and day='saturday'");
		echo '<li class="list-group-item">Saturday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getSat->start.'</span>-<span class="label label-primary">'.$getSat->end.'</span></span>
                  </li>';
	    $getSun = BusinessHours::findFirst("business_id='".$business->id."' and day='sunday'");
		echo '<li class="list-group-item">Sunday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">'.$getSun->start.'</span>-<span class="label label-primary">'.$getSun->end.'</span></span>
                  </li>';
	}

echo "</ul>";
?>

                  
                 <!-- <li class="list-group-item">Tuesday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">10:00 AM</span>-<span class="label label-primary">07:00 PM</span></span>
                  </li>
                  <li class="list-group-item">Wednesday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">10:00 AM</span>-<span class="label label-primary">07:00 PM</span></span>
                  </li>
                  <li class="list-group-item">Thursday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">10:00 AM</span>-<span class="label label-primary">07:00 PM</span></span>
                  </li>
                  <li class="list-group-item">Friday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">10:00 AM</span>-<span class="label label-primary">07:00 PM</span></span>
                  </li>
                  <li class="list-group-item">Saturday
                  <span class="pull-right" style="font-size:14px;"><span class="label label-primary">10:00 AM</span>-<span class="label label-primary">07:00 PM</span></span>
                  </li>
                  <li class="list-group-item">Sunday
                   <span class="pull-right" style="font-size:14px;">closed</span>
                  </li>-->
                
