 <?php
    if ($tempMain[0] == 'Shopping') {
        $bizInfo = ReviewOptions::findFirst("business_id='".$business->id."'");
        echo "<b>Wi-Fi: <b><span class='blueInfo'>{$bizInfo->wifi}</span><br>";
        echo "<b>Price Range: </b><span class='blueInfo'>{$bizInfo->pricerange}</span><br>";
    }
?>