<section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About MyBarangay</h4>

<p style="text-align:justify">
<b>My</b>Barangay serves as virtual bridge that connects Filipinos all over the world like never before.  It offers a platform for all of us to follow our hearts, share our thoughts, connect with our kabarangays and truly feel at home.

</p>
<p style="text-align:justify">
 Be part of a global Filipino community that shares, supports and empowers its members. Let us show our children and the world the resilience, will and beauty of the Filipino.
 Together we can.</p>
 <p><b>Isang mundo</b>. Isang wika. <b>Isang barangay</b>.</p>


                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <h4>Company</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/company'; ?>">Company Overview</a></li>
                            <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/team'; ?>">Meet The Team</a></li>
                            <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/partner'; ?>">Our Awesome Partners</a></li>
                            <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/terms'; ?>">Terms and Conditions</a></li>
                     

<!--                        <li><a href="#">Company Overview</a></li>
                            <li><a href="#">Meet The Team</a></li>
                            <li><a href="#">Our Awesome Partners</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Copyright</a></li> -->
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <h4>Knowledge Center</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="<?php echo $this->url->getBaseUri().'index/knowl_center#!/service'; ?>">Our Services</a></li>
                            <li><a href="<?php echo $this->url->getBaseUri().'index/knowl_center#!/faq'; ?>">Frequently Asked Questions</a></li>
                            <li><a href="<?php echo $this->url->getBaseUri().'vlog';//echo $this->url->getBaseUri().'index/knowl_center#!/blog'; ?>">Blog</a></li>
                        </ul>
              <a class="btn btn-social-icon btn-sm btn-facebook" href="https://www.facebook.com/pages/MyBarangay/605719569528125?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i></a>     
              <a class="btn btn-social-icon btn-sm btn-google" href="https://plus.google.com/app/basic/112523870943102573402" rel="publisher"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social-icon btn-sm btn-twitter" href="https://twitter.com/mybarangay/"><i class="fa fa-twitter"></i></a>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1681038525457312',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

                    </div>  
                </div><!--/.col-md-3-->




                <div class="col-md-2 col-sm-6">
                    <h4>Address</h4>
                    <address>
                        <b>MyBarangay Ventures, Ltd.</b><br>
                        Suite 600, 1200 West 73rd Ave.
                        Vancouver, BC V6P 6G5<br><br>
                        <abbr title="email">E:</abbr> info@mybarangay.com<br>
                        <abbr title="Phone">P:</abbr> 1 (778) 889-INFO (4636)
                    </address>
                </div> <!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    &copy; 2015 <a target="_blank" href="" title="">MyBarangay Ventures, Ltd</a>. All Rights Reserved.
                </div>
                <div class="col-sm-7 col-md-8">
                    <ul class="pull-right">
                        <li><?php echo Phalcon\Tag::linkTo(array('biz/biz_claimsearch', 'MyBarangay for Business', 'class' => 'footer_link'));?></li>
                        <li><?php //echo Phalcon\Tag::linkTo(array('biz/biz_claimsearch', 'Claim Business', 'class' => 'footer_link'));?></li>
                        <li><br></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

