

<style>

.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}


/**************************** Ready to link ****************************/
.input_container ul {
  max-width: 206px;
  border: 1px solid rgb(240,240,240);
  position: absolute;
  z-index: 9;
  background: #fff;
  list-style: none;
}
.input_container ul li {
  padding: 5px 10px;
  border-bottom:1px solid #e5e5e5;
}
.input_container ul li:hover {
  background: rgb(204,33,14);
  cursor:pointer;
  color: #fff;
}
.show_city {
  display: none;
} 
/**************************** Ready to link ****************************/
</style>

<script type="text/javascript">

// ********************************** Ready to link ********************************************

  $(document).ready(function(){
       var min_length = 3; // min caracters to display the autocomplete
        $(".city_list").keyup(function(e){
        var keyword = $(this).attr('id');
        keyword = $('#'+keyword).val();
        var parent = $(this).parent().attr("id");

        if (keyword.length >= min_length) {
          
          //console.log(keyword);
          $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'index/ajaxAddress'; ?>",
            type: 'GET',
            data: {keyword:keyword, parent:parent},
            success:function(data){
               var child = $('#'+parent).children(".show_city").attr("id");
              $('#'+child).show();
              $('#'+child).html(data);
            },
            error:function(){
                console.log('error');
            }
          });

        } else {

           var child = $('#'+parent).children(".show_city").attr("id");
           $('#'+child).val('');   
           $('#'+child).hide();

            $cityid = $('#'+parent).children(".city_id").attr("id");
            $('#'+$cityid).val('');
        }

      });

  });
  // set_item : this function will be executed when we select an item
  function set_item(item,parent) {
    // change input value
    $citylist = $('#'+parent).children(".city_list").attr("id");
    $('#'+$citylist).val(item);

    // hide proposition list
    $scity = $('#'+parent).children(".show_city").attr("id");
    $('#'+$scity).hide();
  }

  // set_item : this function will be get the city_code
  function set_code(code,parent) {
    // change input value
    $cityid = $('#'+parent).children(".city_id").attr("id");
    $('#'+$cityid).val(code);

    // hide proposition list
    $scity = $('#'+parent).children(".show_city").attr("id");

 
    $('#'+$scity).hide();
  }
// ********************************** Ready to link ********************************************
</script>




<header class="navbar navbar-default navbar-fixed-top" role="banner"  id="main-header"> <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  

      <!-- start logo --> 
      <div class="col-md-4 col-sm-5 col-xs-12  " style="width:300px;text-align:center;"> 
        <div class="navbar-brand">
        <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay',
          'style' => 'cursor:pointer'));
        ?>
        </a>

        </div>
      </div> <!-- start logo -->

      <!-- start Navigation -->
      <div class="col-md-6 col-sm-6  hidden-xs head-navbar"  style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px" > 
          <!-- start header search bar -->
          <div class="collapse navbar-collapse" style="padding-top:10px;">

            <?php echo Phalcon\Tag::form(["index/search", "method" => "get"]); ?>
             <input type="hidden" id="type" name="type" value="1">
              <ul class="nav navbar-nav navbar-left">
  

                <li > <input type="text" class="form-control wd" name="keyword"  placeholder="Find" style="border:1px solid #bcbcbc;width:200px">
                </li>
                <li > 



                
                <div class="input_container" id="universal">
                <input type="text" id="country_id" class="city_list form-control  wd" autocomplete="off" name="city"  
                placeholder="city" style="border:1px solid #bcbcbc;width:200px">
                <input type="hidden" id="city_code" name="city_code" class="city_id">
                <ul id="country_list_id" class="show_city" ></ul>
                </div>
                <!-- <input type="text" id="country_id" onkeyup="autocomplet()"> -->
                    

                </li> 
                <li >
                <button type="submit" class="btn btn-primary" name="btn_search" ><i class="glyphicon glyphicon-search"></i></button></li>
              </ul>
            <?php echo Phalcon\Tag::endForm(); ?>
          </div>
          <!-- end header search bar -->


          <!-- start header navigation -->
        <div class="hidden-sm">
          

          <div class="collapse navbar-collapse ">
              
            <ul class="nav navbar-nav navbar-left">
            <?php
             if(!isset($home)){
                   $home = '';
             }
             if(!isset($review)){
                   $review = '';
             }
             if(!isset($event)){
                   $event = '';
             }
             if(!isset($classified)){
                   $classified = '';
             }
             
             ?>
             <?php echo ($home == 'act')? '<li class="active" >': '<li>' ; ?>
             <?php echo Phalcon\Tag::linkTo(array('', 'Home')).  '</li>'; ?>
              
             <?php echo ($review == 'act')? '<li class="active" >': '<li>' ; ?>
             <?php echo Phalcon\Tag::linkTo(array('review/search_business', 'Write a review')). '</li>'; ?>

             <?php echo ($event == 'act')? '<li class="active" >': '<li>' ; ?>
             <?php echo Phalcon\Tag::linkTo(['event/index', 'Events']) . ' </li>'; ?>
             
            <li ><?php echo Phalcon\Tag::linkTo(['forum/index', 'What\'s up']); ?><li>

             <?php echo ($classified == 'act')? '<li class="dropdown active" >': '<li class="dropdown">' ; ?>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classifieds <i class="glyphicon glyphicon-menu-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><?php echo Phalcon\Tag::linkTo(['car_and_truck/index', 'Cars and Trucks']); ?></li>
                    <li><?php echo Phalcon\Tag::linkTo(array('job/index', 'Jobs')); ?></li>
                    <li><?php echo Phalcon\Tag::linkTo(array('real_estate/index', 'Real Estate')); ?></li>
                    <li><?php echo Phalcon\Tag::linkTo(['thing/index', 'Things']); ?></li>
                  </ul>
              </li>

            </ul>
          </div>
         </div>
          <!-- end header navigation -->

      </div>  <!-- end Navigation -->

      <!-- start login -->
          <div class="col-md-2 col-sm-3 text-center hidden-sm hidden-xs login-mesg" style="padding-top:10px; padding-right: 30px;"> 
           
            <?php if( empty($userSession) ) { ?>
                  <p style="font-weight:bold;padding:0px;margin:0px;">Tuloy po kayo</p>
                <?php echo Phalcon\Tag::linkTo(['member/login', 'Login', 'class' => 'btn btn-primary btn-sm']); ?>
                <?php echo Phalcon\Tag::linkTo(['member/signup', 'Signup', 'class' => 'btn btn-primary btn-sm']); ?>
            <?php }?>
            <?php if( !empty($userSession) ) { 
                    $profilePic = 'https://placehold.it/250x250&text=NO+PROFILE+PIC';
                    $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                    if ($primaryPix) {
                       $profilePic = 'https://mybarangay.com'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                    }
            ?>


          <ul class="nav navbar-nav" >
            <li class="dropdown">
               <h4 style="padding:0px;margin:0px"> Welcome Home</h4>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <?php 
            // not working in phalcon 2
            //echo Phalcon\Tag::image(array($profilePic, 'class' => 'profile-img-card', 'id' => 'profile-img', 'alt' => 'photo')); ?>
            <img id="profile-img" alt="Settings" class="profile-img-card" src="<?php echo $profilePic; ?>">
            </a>
         

                <ul class="dropdown-menu" style="margin-top:-10px;margin-left:-30px">
                   <li>
                      <div class="navbar-content">
                          <div class="row">
                              <div class="col-md-5">
                            <div class="img-thumbnail">

                             <img class="img-responsive" alt="no photo" src="<?php echo $profilePic; ?>">
                            </div>                      
                                                         
                                  <p class="text-center small">
                                  
                                    <?php echo Phalcon\Tag::linkTo(array('member/gallery/'.$userSession['id'], 'Change Photo')); ?>
                                  </p>

                              </div>
                              <div class="col-md-7">
                                  <span><?php echo $userSession['first_name'].' '.substr($userSession['last_name'], 0,1).'.'; ?></span>
                                  <p class="text-muted small">
                                     Member since 
                                       <?php echo date('M Y', strtotime($userSession['created'])); ?>
                                      </p>
                                  <div class="divider">
                                  </div>

                                    <?php echo Phalcon\Tag::linkTo(array('biz/page/'.$userSession['id'], 'View Profile', 'class' => 'btn btn-primary btn-sm active')); ?>    

                              </div>
                          </div>
                      </div>
                      <div class="navbar-footer">
                          <div class="navbar-footer-content">
                              <div class="row">
                                  <div class="col-md-6">
                                    <?php echo Phalcon\Tag::linkTo(array('member/change_password/'.$userSession['id'], 'Change Password', 'class' => 'btn btn-default btn-sm')); ?>
                                  </div>
                                  <div class="col-md-6">

                                      <?php echo Phalcon\Tag::linkTo(array('logout', 'Logout', 'class' => 'btn btn-default btn-sm pull-right')); ?>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                </ul>

             </ul>
            
            <?php }?>

          </div> <!-- end login -->


      <!-- start menu toggle -->
      <a id="cd-menu-trigger" class="hidden-md hidden-lg" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
      </a> 
      <!-- end menu toggle -->


    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->

<!-- start cd-lateral-nav-->
<nav id="cd-lateral-nav" >



  <!-- start cd-navigation -->
  <ul class="cd-navigation">


   <?php if( empty($userSession) ) { ?>
    <!-- item home -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase;color:#fff">
        <?php echo Phalcon\Tag::linkTo(['member/login', 'Login', 'style' => 'font-size:14px;color:#fff']); ?>
    </li>
    <!-- item home -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase;color:#fff">
         <?php echo Phalcon\Tag::linkTo(['member/signup', 'Signup', 'style' => 'font-size:14px;color:#fff']); ?>
    </li>
   <?php }?>

    <?php if( !empty($userSession) ) { 
        $profilePic = 'https://placehold.it/250x250&text=NO+PROFILE+PIC';
        $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
        if ($primaryPix) {
           $profilePic = 'https://mybarangay.com'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
        }
    ?>
    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0">
      <img id="profile-img" alt="Settings" class="profile-img-card" style="text-align:left;margin:0px;font-size:14px;color:#fff"  src="<?php echo $profilePic; ?>">
      Account <i class="fa fa-caret-down"></i></a> 
      <ul class="sub-menu">
                                        
        <li><?php echo Phalcon\Tag::linkTo(array('biz/page/'.$userSession['id'], 'View Profile')); ?></li>

      </ul>
    </li>



   <?php }?>


<hr>
    <!-- item home -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase">
    <?php echo Phalcon\Tag::linkTo(array('', '<i class="fa fa-home"></i> Home', 'style' => 'font-size:14px;color:#fff')); ?>
    </li>  
    <!-- item Write a review -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase">
      <a href="<?php echo $this->url->getBaseUri().'review/search_business' ?>" style="font-size:14px;color:#fff"> <i class="fa fa-list-alt"></i> Write a review</a>
    </li>

    <!-- item Events -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase">
      <a href="<?php echo $this->url->getBaseUri().'event/index' ?>" style="font-size:14px;color:#fff"><i class="fa fa-calendar"></i> Event</a>
    </li>

    <!-- item Events -->
    <li class="menu2" style="font-weight:bold;text-transform:uppercase"> 
      <a href="<?php echo $this->url->getBaseUri().'forum/index' ?>" style="font-size:14px;color:#fff"><i class="fa fa-comment"></i> What' s up</a>
    </li>

    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0" style="font-size:15px;color:#fff"><i class="fa fa-list"></i> Classifieds <i class="fa fa-caret-down"></i></a> 
      <ul class="sub-menu">
        <li><a href="<?php echo $this->url->getBaseUri().'car_and_truck/index' ?>" > Cars and Trucks</a></li>
        <li><a href="<?php echo $this->url->getBaseUri().'job/index' ?>"> Jobs</a></li>
        <li><a href="<?php echo $this->url->getBaseUri().'real_estate/index' ?>"> Real Estate</a></li>
        <li><a href="<?php echo $this->url->getBaseUri().'thing/index' ?>"> Things</a></li>
      </ul>
    </li>

  </ul> <!-- end cd-navigation -->


  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/company'; ?>" style="font-size:14px;color:#fff">Company Overview</a></li>
    <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/team'; ?>" style="font-size:14px;color:#fff">Meet The Team</a></li>
    <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/partner'; ?>" style="font-size:14px;color:#fff">Our Awesome Partners</a></li>
    <li><a href="<?php echo $this->url->getBaseUri().'index/info#!/terms'; ?>" style="font-size:14px;color:#fff">Terms and Conditions</a></li>
  </ul> <!-- cd-single-item-wrapper -->

  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a  href="<?php echo $this->url->getBaseUri().'index/knowl_center#!/service'; ?>" style="font-size:14px;color:#fff">Our Services</a></li>
    <li><a href="<?php echo $this->url->getBaseUri().'index/knowl_center#!/faq'; ?>" style="font-size:14px;color:#fff">Frequently Asked Questions</a></li>
    <li><a href="<?php echo $this->url->getBaseUri().'index/knowl_center#!/blog'; ?>" style="font-size:14px;color:#fff">Blog</a></li>
  </ul> <!-- class="current" cd-single-item-wrapper -->

  <ul class="cd-navigation cd-single-item-wrapper" style="margin-top:20px;">
        <li><?php echo Phalcon\Tag::linkTo(array('logout', 'Logout', 'style' => 'font-size:14px;color:#fff')); ?></li>
  </ul> <!-- class="current" cd-single-item-wrapper -->



      <div class="cd-navigation socials">
       <a class="btn btn-social-icon btn-sm btn-facebook" href="https://www.facebook.com/pages/MyBarangay/605719569528125?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i></a>     
       <a class="btn btn-social-icon btn-sm btn-google" href="https://plus.google.com/app/basic/112523870943102573402" rel="publisher"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-sm btn-twitter" href="https://twitter.com/mybarangay/"><i class="fa fa-twitter"></i></a>
  </div> <!-- socials -->

</nav> <!-- end cd-lateral-nav-->



<!-- ************************* start Login Modal **************************** -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px"><b>Hello Kabarangay</b></h4>
          </div>
          <div class="modal-body login-modal">
    <img src="<?php echo $this->url->getBaseUri(); ?>themes/customize/img/logo1.png" style="height:87px;margin-top:0px;padding-top:0px;" />
    <p style="margin-left: 19px;font-size: 12px;">
        Come join our vision of a global Filipino community that shares, 
        supports and empowers its members.
       </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer' style="padding-left: 38px;">
    
           
                  
                   <a class="btn btn-lg btn-info" href="<?php echo $this->url->getBaseUri() . 'member/login';?>">LOGIN</a> 
       <a class="btn btn-lg btn-primary" href="<?php echo $this->url->getBaseUri(). 'member/signup';?>">SIGNUP</a> 

        
            
            </div>                                                        
            <div class="clearfix"></div>
            
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

<div class="modal fade" id="restricted-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px"><b>Hello Kabarangay</b></h4>
          </div>
          <div class="modal-body login-modal">
    <img src="<?php echo $this->url->getBaseUri(); ?>themes/customize/img/logo1.png" style="height:87px;margin-top:0px;padding-top:0px;" />
    <p style="margin-left: 19px;font-size: 12px;">
      <?php
        if ($this->session->has('guestoruser')) {
            $g = $this->session->get('guestoruser');
            if ($g == '0') {
              echo "are you sure you want to proceed?";
            } else {
              echo "You are currently logged-in as a basic member in MyBarangay. We will log you off the system so you may enter MyBarangay for Business to claim your business. To continue, click Proceed";
            }
            $this->session->remove('guestoruser');
        }
      ?>
        
       </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer' style="padding-left: 48px;">
    
           
                  
      <!--<a class="btn btn-lg btn-info" href=">">LOGIN</a> -->
      <?php if ($this->session->has('proceed')) { ?>
        <a class="btn btn-lg btn-primary" style="margin-left:28px;" href="<?php echo $this->url->getBaseUri(). 'biz/signup/'. $this->session->get("proceed");?>">Proceed</a> 
      <?php } else {?>
        <a class="btn btn-lg btn-primary" style="margin-left:28px;" href="<?php echo $this->url->getBaseUri(). 'biz/signup/';?>">Proceed</a> 
      <?php } ?>

        
            
            </div>                                                        
            <div class="clearfix"></div>
            
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

<!-- ************************* end Login Modal **************************** -->



