<header class="navbar navbar-default navbar-fixed-top" role="banner"  id="main-header"> <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  

      <!-- start logo --> 
      <div class="col-md-4 col-sm-5 col-xs-12  " style="width:300px;text-align:center;"> 
        <div class="navbar-brand">
        <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay',
          'style' => 'cursor:pointer'));
        ?>
        </a>

        </div>
      </div> <!-- start logo -->

      <!-- start Navigation -->
      <div class="col-md-6 col-sm-6  hidden-xs head-navbar" style="padding-top:25px" > 

          <!-- start header navigation -->
        <div class="hidden-sm">
          <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-left">
                     <li><?php echo Phalcon\Tag::linkTo(['biz/page/'. $userSession['id'], 'Home']); ?></li>
                    <!--<li><?php //echo Phalcon\Tag::linkTo(['biz/biz_claimsearch', 'Find a Business']); ?></li>-->
                    
                    <li><?php echo Phalcon\Tag::linkTo(['biz/manage_ad/'.$userSession['id'], 'Manage my Ad']);?> </li>
            </ul>
          </div>
         </div>
          <!-- end header navigation -->

      </div>  <!-- end Navigation -->

      <!-- start login -->
          <div class="col-md-2 col-sm-3 text-center hidden-sm hidden-xs login-mesg" style="padding-top:10px;"> 
           
            <?php if( empty($userSession) ) { ?>
                  <p style="font-weight:bold;padding:0px;margin:0px;">Tuloy po kayo</p>
  
          <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login-modal">
            login
          </button>
          <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#register-modal">
            signup
          </button>  
 
            <?php }?>

            <?php if( !empty($userSession) ) { ?>
     
                        <?php 

                          $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                            if ($primaryPix) {
                               $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                            } else {
                                $profilePic = 'http://www.androidpolice.com/wp-content/uploads/2013/04/nexusae0_googlenow_help_avatar.png';
                            } 
                          ?>
          <ul class="nav navbar-nav" >
            <li class="dropdown">
               <h4 style="padding:0px;margin:0px"> Welcome Home</h4>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'profile-img-card', 'id' => 'profile-img')); ?>
            </a>
                <ul class="dropdown-menu" style="margin-top:-10px;margin-left:-30px">
                    <li>
                        <div class="navbar-content">
                            <div class="row">
                                <div class="col-md-5">
                                      <?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-responsive')); ?>
                                    <!--<p class="text-center small">
                                        <a href="#">Change Photo</a></p>-->
                                </div>
                                <div class="col-md-7">
                                    <h4>
                                      <?php echo $userSession['first_name'].' '.substr($userSession['last_name'], 0,1).'.'; ?>
                                    </h4>
                                    <p class="text-muted small">
                                      Member since 
                                      <?php echo date('M Y', strtotime($userSession['created'])); ?>
                                    </p>
                                    <div class="divider">
                                    </div>
<!-- 
                                    <a href="#" class="btn btn-primary btn-sm active">View Profile</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="navbar-footer">
                            <div class="navbar-footer-content">
                                <div class="row">
                                    <div class="col-md-6">

                                      <?php echo Phalcon\Tag::linkTo(array('biz/page/'.$userSession['id'], 'About me', 'class' => 'btn btn-primary')); ?>    

                                    </div>
                                    <div class="col-md-6">
                                    <?php echo Phalcon\Tag::linkTo(array('logout', 
                                    'Logout', 'class' => 'btn btn-default btn-sm pull-right')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


            <?php }?>

          </div> <!-- end login -->



      <!-- start menu toggle -->
      <a id="cd-menu-trigger" class="hidden-md hidden-lg" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
      </a> 
      <!-- end menu toggle -->



    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->

<!-- start cd-lateral-nav-->
<nav id="cd-lateral-nav" >

  <!-- start cd-navigation -->
  <ul class="cd-navigation">

    <!-- item home -->
    <li class="item-has-children">
      <a href="#0">Home</a>
    </li> 

    <!-- item Write a review -->
    <li class="item-has-children">
      <a href="#0">Write a review</a>
    </li>

    <!-- item Events -->
    <li class="item-has-children">
      <a href="#0">Events</a>
    </li>

    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0">Classifieds</a>
      <ul class="sub-menu">
        <li><a href="#0">London</a></li>
        <li><a href="#0">New York</a></li>
        <li><a href="#0">Milan</a></li>
        <li><a href="#0">Paris</a></li>
      </ul>
    </li>

  </ul> <!-- end cd-navigation -->

  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="#0">Tour</a></li>
    <li><a href="#0">Login</a></li>
    <li><a href="#0">Register</a></li>
    <li><a href="#0">Pricing</a></li>
    <li><a href="#0">Support</a></li>
  </ul> <!-- cd-single-item-wrapper -->


  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a class="current" href="#0">Journal</a></li>
    <li><a href="#0">FAQ</a></li>
    <li><a href="#0">Terms &amp; Conditions</a></li>
    <li><a href="#0">Careers</a></li>
    <li><a href="#0">Students</a></li>
  </ul> <!-- cd-single-item-wrapper -->

  <!--     <div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
  </div> --> <!-- socials -->
</nav> <!-- end cd-lateral-nav-->



    <?php $this->partial("partials/responsivemenu") ?>
    <?php $this->partial("partials/modal") ?>
