

      <div class="panel panel-default">
        <div class="panel-body profile bg-info">

            <div class="profile-image">

            <?php
              $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
              $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                if ($primaryPix) {
              $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                 }       
            ?>
            <img src="<?php echo $profilePic; ?>">

          
            </div>
            <div class="profile-data">
                <div class="profile-data-name">John Doe</div>
                <div class="profile-data-title">UI/UX Designer</div>
            </div>
            <div class="profile-controls">
                <a href="#" class="profile-control-left"><span class="fa fa-twitter"></span></a>
                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
            </div>

        </div>
        <div class="panel-body list-group" style="margin-bottom:50px">


            <a href="#" class="list-group-item"><span class="fa fa-user"></span> Profile</a>

       <a href="<?php echo $this->url->getBaseUri() . 'member/pageu/'.$userSession['id']; ?>" class="list-group-item"><span class="fa fa-home"></span> Reviews</a>


       <a href="#" class="list-group-item"><span class="fa fa-star"></span> Classifieds</a>


          <?php $countPhotos = MemberPhotos::count(array('member_id = ' . $userSession['id']));; ?>
              <a href="<?php echo $this->url->getBaseUri() . 'member/galleryu/'.$userSession['id']; ?>" class="list-group-item">
              <span class="fa fa-camera"></span>Photos<span class="badge" style="background:#333;"><?=$countPhotos?></span></a>
            

            <a href="<?php echo $this->url->getBaseUri() . 'member/updateu/'.$userSession['id']; ?>" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>
            <a href="#" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>
            <a href="#" class="list-group-item"><span class="fa fa-sign-out"></span> Logoff</a>
        </div>           

        <h4 class="text-title">Photos</h4>  

        <div class="gallery" id="links">  


          <a href="assets/images/gallery/music-1.jpg" title="Music Image 1" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/music-1.jpg" alt="Music Image 1">
              </div>                                            
          </a>
          <a href="assets/images/gallery/music-2.jpg" title="Music Image 2" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/music-2.jpg" alt="Music Image 2">
              </div>                                            
          </a>
          <a href="assets/images/gallery/music-3.jpg" title="Music Image 3" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/music-3.jpg" alt="Music Image 3">
              </div>                                            
          </a>
          <a href="assets/images/gallery/nature-1.jpg" title="Nature Image 1" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/nature-1.jpg" alt="Nature Image 1">
              </div>                                            
          </a>
          <a href="assets/images/gallery/nature-2.jpg" title="Nature Image 2" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/nature-2.jpg" alt="Nature Image 2">
              </div>                                            
          </a>
          <a href="assets/images/gallery/nature-3.jpg" title="Nature Image 3" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/nature-3.jpg" alt="Nature Image 3">
              </div>                                            
          </a>
          <a href="assets/images/gallery/nature-4.jpg" title="Nature Image 4" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/nature-4.jpg" alt="Nature Image 4">
              </div>                                            
          </a>
          <a href="assets/images/gallery/nature-5.jpg" title="Nature Image 5" class="gallery-item" data-gallery="">
              <div class="image">
                  <img src="assets/images/gallery/nature-5.jpg" alt="Nature Image 5">
              </div>                                            
          </a>                                        
            </div>




    
      </div>