<section id="sliderCarousel" > <!-- start sliderCarousel -->
   <div class="container-fluid" > <!-- start container-fluid [0] -->
      <div class="row"> <!-- start container-fluid row [0] -->

         <!-- start carousel slide -->
         <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">

            <!-- start Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
               <li data-target="#templatemo-carousel" data-slide-to="1"></li>
               <li data-target="#templatemo-carousel" data-slide-to="2"></li>
               <li data-target="#templatemo-carousel" data-slide-to="3"></li>
            </ol><!-- end Indicators -->

            <!-- start slider content -->
            <div class="carousel-inner">
               
               <div class="item active" >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="https://www.mybarangay.com/business/view2/69">';
                           echo Phalcon\Tag::image(array('img/ad/paradiseleaderb.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>
               <?php
                  $adcamp = ImageAds::find('type = 3');
                  if($adcamp){
                     foreach ($adcamp as $ads) {
               ?>
                        <div class="item " >
                           <div class="container">
                              <div class="carousel-caption" style="">
                                 <?php
                                    echo '<a href="https://www.mybarangay.com/business/view2/69">';
                                    echo Phalcon\Tag::image(array($ads->file_path.$ads->file_name, 'alt' => 'Place your ad here'));
                                    echo '</a>';
                                 ?>
                              </div>
                           </div>
                        </div>
               <?php
                     }
                  }
               ?>
               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="https://www.mybarangay.com/index/knowl_center#!/service">';
                           echo Phalcon\Tag::image(array('img/ad/placeyourad.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>
               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="https://www.mybarangay.com/review/search_business">';
                           echo Phalcon\Tag::image(array('img/ad/shareyourad.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>
               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="https://www.mybarangay.com/index/knowl_center#!/service">';
                           echo Phalcon\Tag::image(array('img/ad/claimadd.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>

            </div><!-- end slider content -->

             <!-- prev and next -->
             <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
             </a>

             <a class="right carousel-control" href="#templatemo-carousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>

         </div> <!-- end carousel slide -->

      </div> <!-- start container-fluid row [0] -->
   </div> <!-- start container-fluid [0] -->
</section> <!-- start sliderCarousel -->
