<?php

echo $this->tag->stylesheetLink('themes3/css/list-type.css'); 
// notification 
echo $this->tag->javascriptInclude("js/bootstrap-notify.min.js");
?>

<?php echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); ?>
<script type="text/javascript">
  $(document).ready(function(){
    // apply matchHeight to each item container's items
    var byRow = $('body');
    $('.adds-wrapper').each(function() {
      $(this).children('.item-list').matchHeight({
        byRow: byRow
      });
    });
  });
</script>
<?php $this->partial('partials/slider'); ?>
<!-- start body wrapper -->
<div class="body-wrappers" style="border-top:1px solid #042764;"  > 

<?php
//$avatar = 'https://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G';
$avatar = 'https://placehold.it/50x50&text=...';
function mediaReviewer(){
    echo '<div class="media" style="border-bottom:1px solid #ddd;">';
      echo '<div class="pull-left">';
      echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
        echo '</div>';
        echo '<div class="media-body">';
        echo '<span class="media-heading ellipsis4">$preview->content</span>';
      echo '</div>';
    echo '</div>';
}
?>
<?php
if ($this->session->has("loginAsAMember")) {
  echo "<script>alertify.alert('".$this->session->get('loginAsAMember')."'); </script>";
  $this->session->remove("loginAsAMember");
}

?>

<!-- start tab header  asd asd asd asd david heart mercado -->
  <div class="container-fluid" style="background:rgb(0,48,130);"> <!-- start header container-fluid [0]-->
    <div class="row" > <!-- start header row [0] -->
        <div class="container" > <!-- start header container [0] -->
            <div class="row" > <!-- start header row [1] -->
      
              <ul class="nav nav-tabs" id="rowTab" >
              <li class="active"><a href="#Food" data-toggle="tab">Food</a></li>
              <li ><a href="#Automotive" data-toggle="tab">Automotive</a></li>
              <li><a href="#Lifestyle" data-toggle="tab">Lifestyle</a></li>
              <li><a href="#Health" data-toggle="tab">Medical ,Health & Beauty</a></li>
              <li><a href="#Profesional" data-toggle="tab">Professional & Financial</a></li>
              <li><a href="#Hotels" data-toggle="tab">Hotels & Travel</a></li>
              <li><a href="#RealEstate" data-toggle="tab">Real Estate</a></li>
              <li><a href="#Shopping" data-toggle="tab">Shopping</a></li>

              </ul> <!-- cd-tabs-navigation -->

          </div><!-- end  header row [1]-->
        </div><!-- end  header container [0]-->
    </div><!-- end  header row [0] -->
  </div><!-- end header container-fluid [0] -->
<!-- end tab header -->

<style>
.round {
    border-radius: 50%;
    display:block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.round img {
    width: 100%;
}
/* Ribbons  */
.cornerRb {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  left: -14%;
  overflow: hidden;
  position: absolute;
  top: -2%;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  width: 100px;
  z-index: 2;
  padding:14px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}
.cornerRb a {
  color: #fff;
  display: block;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}
.cornerRb.featuredAds a {
  color: #fff;
}
.cornerRb.featuredAds {
    background: #FB8D17;
}
 /* List Border */
.list-border > li {
  border-top: 1px solid #ebebeb;
  line-height: 36px;
  position: relative;
}

.list-border > li:first-child {
  border: none;
}
</style>


<!-- start tab content -->
<div class="container" style="background:#fff" > <!-- start content container -->
  <div class="row" > <!-- start content row -->

    <div class="col-md-9"> <!-- start tabs content col-md-9 -->
        <div class="tab-content">
        <!-- **************************************************************************** -->
            <div class="tab-pane active" id="Food"><!-- start Food tab -->
              <div class="row item-match"><!-- start Food row-->
                  <?php $this->partial('index/tabs/food'); ?>
              </div><!-- end Food row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=food&page=1" class="btn btn-primary btn-sm pull-right">See more...</a>
              </div>
            </div><!-- end Food tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane " id="Automotive"><!-- start Automotive tab -->
              <div class="row item-match "><!-- start Automotive row-->
                  <?php $this->partial('index/tabs/auto'); ?>
              </div><!-- end Automotive row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=automotive&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>
            </div><!-- end Automotive tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="Lifestyle"><!-- start Lifestyle tab -->
              <div class="row item-match"><!-- start Lifestyle row-->
                  <?php $this->partial('index/tabs/lifestyle'); ?>
              </div><!-- end Lifestyle row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=lifestyle&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>
            </div><!-- end Lifestyle tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="Health"><!-- start Health tab -->
              <div class="row item-match"><!-- start Health row-->
                  <?php $this->partial('index/tabs/health'); ?>
              </div><!-- end Health row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=health&page=1" class="btn btn-primary btn-sm pull-right">See more...</a>
              </div>
            </div><!-- end Health tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="Profesional"><!-- start Profesional tab -->
              <div class="row item-match"><!-- start Profesional row-->
                  <?php $this->partial('index/tabs/profesional'); ?>
              </div><!-- end Profesional row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2/professional?cat=professional&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>
            </div><!-- end Profesional tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="Hotels"><!-- start Hotels tab -->
              <div class="row item-match"><!-- start Hotels row-->
                  <?php $this->partial('index/tabs/hotels'); ?>
              </div><!-- end Hotels row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=hotel&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>
            </div><!-- end Hotels tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="RealEstate"><!-- start RealEstate tab -->
              <div class="row item-match"><!-- start RealEstate row-->
                  <?php $this->partial('index/tabs/realestate'); ?>
              </div><!-- end RealEstate row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=realestate&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>

            </div><!-- end RealEstate tab -->
        <!-- **************************************************************************** -->

        <!-- **************************************************************************** -->
            <div class="tab-pane" id="Shopping"><!-- start Shopping tab -->
              <div class="row item-match"><!-- start Shopping row-->
                  <?php $this->partial('index/tabs/shopping'); ?>
              </div><!-- end Shopping row-->
              <div class="row">
                <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=shopping&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
              </div>
            </div><!-- end Shopping tab -->
        <!-- **************************************************************************** -->
        </div>
    </div> <!-- start tabs content col-md-9 -->



<div class="col-md-3"   style="padding-top:10px ;margin-top:10px ;border-left:1px solid #ddd"><!-- start tabs content col-md-3 -->

    <!-- Weather Widget Vancouver Canada -->
    <div class="col-md-12 col-sm-6">
        <span style="display: block !important; width:100%;; text-align: center; font-size: 12px; border:1px solid #c3c3c3;margin-bottom:10px"><p>Vancouver Canada</p><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71892&bannertypeclick=wu_clean2day" title="Vancouver, British Columbia Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=CYVR&ForcedCity=Vancouver&ForcedState=Canada&wmo=71892&language=EN" alt="Find more about Weather in Vancouver, CA" style="width:100%;" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71892&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank"></a>
        </span>
    </div>

    <!-- Weather Widget Manila Philippines -->
    <div class="col-md-12 col-sm-6" style="margin-bottom:10px">
          <span style="display: block !important; width:100%; text-align: center; font-size: 12px;border:1px solid #c3c3c3;"><p>Manila Philippines</p><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.98429&bannertypeclick=wu_clean2day" title="Manila, Philippines Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=RPLL&ForcedCity=Manila&ForcedState=Philippines&wmo=98429&language=EN" alt="Find more about Weather in Manila, PH" style="width:100%; "/></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.98429&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank"></a>
          </span>
    </div>




    <!-- Exchange Rate -->
    <div class="col-md-12" >

<script type="text/javascript"   src="http://www.exchange-rates.org/GetCustomContent.aspx?sid=RT000DBFS&amp;type=RatesTable&amp;stk=-0VUTNKKEX6" charset="utf-8">
</script>
<div>Source: <a href="http://www.exchange-rates.org/">www.exchange-rates.org</a></div>
    </div>




    <!-- ******************* start Classifieds *********************** -->
    <div class="col-xs-12 col-sm-6 col-md-12 " style="padding:0px;margin:10px 0px 0px 0px;z-index:1">

        <div class="panel panel-default"><!-- start panel classifieds -->
      
           <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" ><a href="#" style="font-size:15px;font-weight:bold"> <i class="glyphicon glyphicon-list-alt"></i> Classifieds</a></span>

          


            <div class="panel-body">

            <?php 
                $countAuto = Automotives::count();
                if ($countAuto > 0) {

                    $autos = Automotives::find(array('order' => 'id desc', 'limit' => 1));
                    foreach ($autos as $auto) {?>

                        <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($auto->automotivephotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                            </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'car_and_truck/view2/'. $auto->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $auton = strip_tags($auto->name);
                                            if (strlen($auton) > 25) {
                                            $stringCut = substr($auton, 0, 25);
                                                $auton = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $auton;
                                        ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($auto->created)); ?></small></p>
                            </div><!-- end of media body -->
                        </div>
            <?php 
                    }
                } 
            ?>
            <?php
                $countthing = Things::count();
                if ($countthing > 0) {
                    $things = Things::find(array('order' => 'id desc', 'limit' => 1));
                    foreach ($things as $thing) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">

                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($thing->thingphotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'thing/view2/'. $thing->id;?>" style="color: #333; font-weight: bold;">
                                    <?php
                                        $thingn = strip_tags($thing->name);
                                        if (strlen($thingn) > 25) {
                                            $stringCut = substr($thingn, 0, 25);
                                            $thingn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                        }
                                        echo $thingn;
                                    ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($thing->created)); ?></small></p>
                            </div><!-- end of media body -->
                        </div>
            <?php 
                    }
                }
            ?>
            <?php
                $countAuto = Jobs::count();
                if ($countAuto > 0) {
                    $jobs = Jobs::find(array('limit' => 1));
                    foreach ($jobs as $job) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($job->joblogos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $job->joblogos[0]->file_path.$job->joblogos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'job/view2/'. $job->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $jobn = strip_tags($job->position);
                                            if (strlen($jobn) > 25) {
                                            $stringCut = substr($jobn, 0, 25);
                                                $jobn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $jobn;
                                        ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($job->created)); ?></small></p>

                            </div><!-- end of media body -->
                        </div>
            <?php 
                    }
                }
            ?>
            <?php
                $countAuto = Realties::count();
                if ($countAuto > 0) {
                    $realties = Realties::find(array('order' => 'id desc', 'limit' => 1));
                    foreach ($realties as $realty) {?>
                        <div class="media" style="border-bottom:1px solid #ddd;">

                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($realty->realtyphotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $realty->realtyphotos[0]->file_path.$realty->realtyphotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <span class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'real_estate/view2/'. $realty->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $realtyn = strip_tags($realty->name);
                                            if (strlen($realtyn) > 25) {
                                            $stringCut = substr($realtyn, 0, 25);
                                                $realtyn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $realtyn;
                                        ?>
                                    </a>
                                </span>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($realty->created)); ?></small></p>


                            </div><!-- end of media body -->
                        </div>
            <?php 
                    }
                }
            ?>
          </div>
        </div><!-- end panel classifieds -->
      </div>
    <!-- ******************* end Classifieds *********************** -->

    <!-- ******************* start Events *********************** -->
    <div class="col-xs-12 col-sm-6 col-md-12" style="padding:0px;margin:0px;z-index:1">
        <div class="panel panel-default"><!-- start panel Events -->

           <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" ><a href="#" style="font-size:15px;font-weight:bold"> <i class="fa fa-calendar"></i>  Events</a></span>



            <div class="panel-body"><!-- panel body -->

            <?php 
                $countEvents = Events::find(); 
                if ($countEvents->count() > 3 ) {
                $events = Events::find(["order" => 'id desc']);
                $limiter = 0;

                while($limiter < 4) { ?>
                    <div class="media" style="border-bottom:1px solid #ddd;">
                        <div class="pull-left " style="margin-bottom:5px;">
                        <div class="round" style="width:50px;height:50px;">
                            <?php
                                $eventPhoto = 'https://placehold.it/50x50&text=no+photo';
                                $rPhotoCount = count($events[$limiter]->EventPhotos);
                                if ($rPhotoCount > 0) {
                                    $eventPhoto = $events[$limiter]->eventphotos[0]->file_path.$events[$limiter]->eventphotos[0]->filename;
                                }
                                echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-responsive', 'style'=> 'width: 50px; height: 50px;']);
                            ?>
                        </div>
                        </div>

                        <div class="media-body">
                            <span class="media-heading">
                                <a href="<?php echo $this->url->getBaseUri() . 'event/view/'. $events[$limiter]->id;?>" class="" style="color: #333; font-weight: bold;">
                                    <?php
                                        $string = strip_tags($events[$limiter]->name);
                                        if (strlen($string) > 45) {
                                        $stringCut = substr($string, 0, 40);
                                            $string = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                        }
                                        echo $string;
                                    ?>
                                </a>
                            </span>
                            <p><small class="">
                                <?php
                                    $datess = ''; 
                                    $ccx = count($events[$limiter]->EventDatetimes);
                                    if ($ccx > 0) {
                                        $datess = $events[$limiter]->EventDatetimes[0]->date; 
                                    }
                                    echo date('M d, Y ', strtotime($datess));
                                ?>
                                </small>
                            </p>
                        </div>
                    </div>
            <?php $limiter++; } }?>
          </div><!-- panel body -->
        </div><!-- end panel events -->
    </div>
    <!-- ******************* end Events *********************** -->

    <div class="clearfix"></div>
    <!-- ******************* start Whatsup *********************** -->
    <div class="col-xs-12 col-sm-6 col-md-12" style="padding:0px;margin:0px;z-index:1">
        <div class="panel panel-default"><!-- start panel Events -->
 
           <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" ><a href="#" style="font-size:15px;font-weight:bold"> <i class="fa fa-comment"></i>  What's Up</a></span>

            <div class="panel-body"><!-- panel body -->
                <?php 
                $topics = WhatsupTopics::find(["order" => 'id desc', 'limit' => 4]); 

                    foreach ($topics as $top) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                $profilePic = 'https://placehold.it/50x50&text=NO+PROFILE+PIC';
                                $avatar = MemberPhotos::findFirst('member_id = "'.$top->member_id.'" and primary_pic="Yes"');
                                if ($avatar) {
                                $profilePic =  'https://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
                                } ?> 
                                <a class="restricted" href="<?php echo $this->url->getBaseUri().'member/page/'.$top->member_id; ?>">
                                <?php echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:50px;height:50px'));  ?>
                                </a>
                            </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">
                                <a href="<?php echo $this->url->getBaseUri() . 'forum/view/'. $top->id;?>">
                                    <?php
                                        $subject = strip_tags($top->subject);
                                        if (strlen($jobn) > 25) {
                                        $stringCut = substr($subject, 0, 25);
                                            $subject = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                        }
                                        echo $subject;
                                    ?>
                                </a>
                                </span>
                                <br><small class="muted"> <?php echo date('M d, Y ', strtotime($top->created_at)); ?> </small>
                            </div><!-- end of media body -->
                        </div>
                <?php 
                    } ?>
            </div>
        </div><!-- end panel events -->
    </div>
    <!-- ******************* end Whatsup *********************** -->


    <!-- ********* ads ********* -->
    <div class="col-xs-12 col-sm-6 col-md-12" style="padding:0px;margin:0px;z-index:1">
        <?php $this->partial("partials/ads"); ?>
    </div>

</div><!-- end col-md-3 -->

</div><!-- end content row -->


    <div class="row">
        <!-- ad 1 -->
        <div class="col-md-3 col-sm-6 matcher" style="height:213px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Square 1 -->
              <ins class="adsbygoogle"
                 style="display:inline-block;width:255px;height:213px"
                 data-ad-client="ca-pub-2827353860802948"
                 data-ad-slot="6306061710">
               </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <!-- ad 2 -->
        <div class="col-md-3 col-sm-6 matcher" style=" height:213px">
            <ins class="adsbygoogle"
                style="display:inline-block;width:255px;height:213px"
                data-ad-client="ca-pub-2827353860802948"
                data-ad-slot="6306061710">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <!-- ad 3 -->
        <div class="col-md-3 col-sm-6 matcher" style=" height:213px">
            <ins class="adsbygoogle"
                style="display:inline-block;width:255px;height:213px"
                data-ad-client="ca-pub-2827353860802948"
                data-ad-slot="6306061710">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <!-- ad 4 -->
        <div class="col-md-3 col-sm-6 matcher" style="height:213px">
            <ins class="adsbygoogle"
                style="display:inline-block;width:255px;height:213px"
                data-ad-client="ca-pub-2827353860802948"
                data-ad-slot="6306061710">
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>




</div><!-- end body wrapper -->
<?php $this->partial('partials/notification'); ?>
<script type="text/javascript">
function rememberTabSelection(tabPaneSelector, useHash) {
    var key = 'selectedTabFor' + tabPaneSelector;

    if(get(key)) 
     var  dave =   $(tabPaneSelector).find('a[href=' + get(key) + ']').tab('show');

    

    $(tabPaneSelector).on("click", 'a[data-toggle]', function(event) {
        set(key, this.getAttribute('href'));
        console.log(this.getAttribute('href'));
    }); 

    function get(key) {
        return useHash ? location.hash: localStorage.getItem(key);
    }

    function set(key, value){
        if(useHash)
            location.hash = value;
        else
            localStorage.setItem(key, value);
    }
}

$(document).ready(function () {
    rememberTabSelection('#rowTab', !localStorage);
});
</script>

<?php

     // echo $this->tag->javascriptInclude('themes3/js/tabs.js'); 
?>
