	

<style type="text/css">
	
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

		html{background-color:#F3F3F3;color:#585858;background-image:url(assets/images/image_15.png);background-repeat:repeat;background-attachment:fixed;}
		::-moz-selection{background:#111111;color:#F1F1F1;}
		::selection{background:#111111;color:#F1F1F1;}
		#documenter_sidebar #documenter_logo{background-image:url(assets/images/logo.png);}
		a{color:rgb(4,48,129);}
		table td { padding: 10px; }
		hr{border-top:1px solid #E5E5E5;border-bottom:1px solid #F9F9F9; margin-bottom: 40px;}
		#documenter_sidebar, #documenter_sidebar ol a{background-color:#e0e0e0;color:#F1F1F1;background-image:url(assets/images/image_17.gif);background-repeat:repeat-y;}
		#documenter_sidebar ol a{
			;-webkit-text-shadow:1px 1px 0px #fff;-moz-text-shadow:1px 1px 0px #fff;text-shadow:1px 1px 0px #fff;}
		#documenter_sidebar ol{border-top:1px solid #b1b1b1;}
		#documenter_sidebar ol a{border-top:1px solid #fff;border-bottom:1px solid #b1b1b1;color:#2e3192;}
		#documenter_sidebar ol a:hover{background:#2e3192;color:#F1F1F1;border-top:1px solid #2e3192;}
		#documenter_sidebar ol a.current{background:#2e3192;color:#F1F1F1;border-top:1px solid #b1b1b1;}
		#documenter_copyright{display:block !important;visibility:visible !important; color:rgb(4,48,129);}
		
		table { background: #fafafa; border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
		table th { background: #f5f5f5; font-weight: bold; padding: 10px; white-space: nowrap; } 


		
  #main-header{
/*    overflow: hidden;*/
  color: #333333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */

  }
section p {
	text-align:justify
}

#company{
	height: 100%;
max-width:900px;
}


#team{
	margin-top:80px;
	height: 100%;
max-width:900px;
}




#partner{
	height: 100%;
max-width:900px;
}


#terms{
	height: 100%;
max-width:900px;
}







</style>



	<div id="documenter_sidebar">
    



       <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay' ,
          'style' => 'cursor:pointer', 'style' => 'width:100%'));
        ?>
        </a>


<h1 style="text-align:center;color:rgb(4,48,129);font-size:17px;margin-bottom:20px">Company</h1>
		<ol id="documenter_nav">
			<li><a class="current" href="#company">Company Overview </a></li>
			<li><a href="#team">Meet the Team</a></li>
			<li><a href="#partner">Our Awesome Partners</a></li>
			<li><a href="#terms">Terms and Conditions</a></li>
	
	
		</ol>

	<!-- 	<div class="">
			If you have any questions that are beyond the scope of this help file, 
            please feel free to email via my user page contact form here. Thanks so much!
		</div> -->
		<div id="documenter_copyright">Copyright MyBarangay 2015<br>
		</div>
	</div>


<div id="documenter_content">
    
        <section id="company" style="">
            <h1>Company Overview </h1>

        
            <p >At MyBarangay, our goal is to help Filipinos across the globe find the best restaurants, hotels and other local businesses, and discover what makes Filipino food and culture unique - a culture na talagang hahanap-hanapin.</p>
			    <hr>
			<h4>Mission and Vision</h4>

			<p>Filipinos are everywhere. From the busy streets of New York to the hot deserts of Dubai, there is a Pinoy whose hard work and dedication inspire everyone. 
			Filipinos go abroad for various reasons but wherever we may be, some things remain constant: our unshakable identity, distinct heritage and unconditional love for our family, country and yes, <b>FOOD</b>.</p>


			<p>Living abroad,  we all strive to experience and feel the unspeakable bond of meeting fellow Filipinos and know that <b>in our minds and in our hearts</b>, we are one and say <b>“Pinoy ako!”</b>.</p>

			<p>
			<b>MyBarangay</b> serves as virtual bridge that connects Filipinos all over the world like never before.  It offers a platform for all of us to follow our hearts, share our thoughts, connect with our kabarangays and truly feel at home.  It is an invitation to get together and build a global community – a community without boundaries.  Our barangay, <b>MyBarangay</b>, is a community of support, positivity and solutions.
			</p>
				<p>
			We urge you to join and help us build <b>OUR barangay</b>. Be part of a global Filipino community that shares, supports and empowers its members.  Let us share and appreciate our own talents, initiatives, businesses and professions as we move forward towards a truly united barangay.</p>


			<p>
			Let us show our children and the world the resilience, will and beauty of the Filipino. Together we can.<br> <b>Isang mundo. Isang wika. Isang barangay</b>.</p>
			 <hr>
        </section>


        <section id="team">
            <h1>Meet The Team</h1>
            <hr>

				<p>
				Owned and operated by MyBarangay Ventures Ltd., MyBarangay is designed as virtual bridge that connects Filipinos around the globe.  Our goal is to provide a platform where our kabarangays can find and share the best Pinoy businesses from restaurants to independent professionals, from small businesses to large corporations, explore the coolest places, and check out the latest happenings around the metro.
				</p>

				<p>
				Our team is composed of Filipino professionals here in Canada and the Philippines whose diverse background lend to the website’s personality that is uniquely Pinoy. MyBarangay team is dedicated to make finding awesomeness a breeze. Feel free to get in touch with us anytime, we’d love to hear from you.
				</p>

   <hr>
        </section>

        <section id="partner">
            <h1>Our Awesome Partners</h1>
    
            <hr>
            <ul>
                <li>Coming Soon.</li>

            </ul>
         
<!--             <p>If you have any questions that are beyond the scope of this help file, 
            please feel free to email via my user page contact form here. Thanks so much!
            </p> -->
               <hr>
        </section>

        <section id="terms">
            <h1>Terms and Conditions</h1>

    

<h4>Terms of Use and Privacy Policy</h4>





<p>
<strong>A.	Terms and Conditions</strong></p><p><strong>
These terms and conditions (the "Terms") govern your access to and use of MyBarangay’s websites that link  or reference these Terms ("Site"). By using the Site, you agree to these Terms and enter a legally binding contract with MyBarangay., a corporation headquartered in Ontario, Canada ("MyBarangay"). Do not access or use the Site if you are unwilling or unable to be bound by the Terms.</strong>

</p>


            <ul>	
      <hr class="notop">
                <li><strong>1. DEFINITIONS</strong>
                
                	<ul>
                    	<li>
						<b>A.       Parties</b><p>
						"You" and "your" refer to you, as a user of the Site. A "user" is someone who accesses, browses, crawls, scrapes, or in any way uses the Site. "We", "us", and "our" refer to MyBarangay.</p>
						<p>
                    	</li>
                        <li>
							<b>B.      Content</b>
							<p>
							"Content" means text, images, photos, audio, video, location data, and all other forms of data or communication. "Your Content" means  Content that you submit or transmit to, through, or in connection with the Site, such as ratings, reviews, compliments, invitations, check-ins, messages, and information that you publicly display or displayed in your account profile. </p>
							<p>
							"User Content" means Content that users submit or transmit to, through, or in connection with the Site. "MyBarangay Content" means Content that we create and make available in connection with the Site. "Third Party Content" means Content that originates from parties other than MyBarangay or its users, which is made available in connection with the Site. "Site Content" means all of the Content that is made available in connection with the Site, including Your Content, User Content, Third Party Content, and MyBarangay Content.</p>
                        </li>
          
                    </ul>
                </li>
     			<hr class="notop">
                <li><strong>2. CHANGES TO THE TERMS OF USE</strong>
           
                	<ul>
                    	<li>
					<p>
We may modify the Terms from time to time. You understand and agree that your access to or use of the Site is governed by the Terms effective at the time of your access to or use of the Site. If we make material changes to these Terms, we will notify you by email or by posting a notice on the Site prior to the effective date of the changes. We will also indicate at the top of this page the date that revisions were last made. You should revisit these Terms on a regular basis as revised versions will be binding on you. Any such modification will be effective upon our posting of new Terms. You understand and agree that your continued access to or use of the Site after the effective date of modifications to the Terms indicates your acceptance of the modifications.</p>
						
                    	</li>
    
          
                    </ul>
                </li>

 				<hr class="notop">
                <li><strong>3.  TRANSLATION</strong>
                	<ul>
                        <li>
We may translate these Terms into other languages for your convenience. Nevertheless, the English version governs your relationship with MyBarangay, and any inconsistencies among the different versions will be resolved in favor of the English version.
                        </li>
                    </ul>
                </li>









				<hr class="notop">
                <li><strong>4.    USING THE SITE</strong>
                	<ul>

<li><p>
<strong>A.       Eligibility</strong>

To access or use the Site, you must be 18 years or older and have the requisite power and authority to enter into these Terms. You may not access or use the Site if you are a competitor of ours or if we have previously banned you from the Site or closed your account.
</p>
</li>
<li><p>
<strong>B.      Permission to Use the Site</strong>

We grant you permission to use the Site subject to the restrictions in these Terms. Your use of the Site is at your own risk, including the risk that you might be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate.
</p>
</li>
<li><p>
<strong>C.       Site Availability</strong>

The Site may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability.
</p>
</li>
<li><p>
<strong>D.      User Accounts</strong>
You must create an account and provide certain information about yourself in order to use some of the features that are offered through the Site. You are responsible for maintaining the confidentiality of your account password. You are also responsible for all activities that occur in connection with your account. You agree to notify us immediately of any unauthorized use of your account. We reserve the right to close your account at any time for any or no reason.


</p>

<p>
Your account is for your personal, non-commercial use only. In creating it, we ask that you provide complete and accurate information about yourself to bolster your credibility as a contributor to the Site. You may not impersonate someone else (e.g., adopt the identity of a celebrity or your next-door neighbour), create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple accounts. If you use a pseudonym, take care to note that others may still be able to identify you if, for example, you include identifying information in your reviews, use the same account information on other sites, or allow other sites to share information about you with MyBarangay. Please read our Privacy Policy for more information.
</p>



</li>


<li><p>
<strong>E.       Communications from MyBarangay and other Users</strong>

By creating an account, you agree to receive certain communications in connection with the Site. For example, you might receive compliment, review replies, or profile follows from other Users.</p>
</li>



                    </ul>
                </li>


				<hr class="notop">
                <li><strong>5.   	CONTENT</strong>
				  	<ul>
<li>
<p>
<strong>A.       Responsibility for Your Content</strong>
You alone are responsible for Your Content, and once published, it cannot always be withdrawn. You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you personally identifiable. You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is in any way sponsored or endorsed by MyBarangay.
</p>

<p>
You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.
</p>

</li>


<li>
<p>
<strong>B.      Our Right to Use Your Content</strong>
We may use Your Content in a number of different ways, including publicly displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and media platforms ("Other Media"). 
</p>

<p>
As such, you hereby irrevocably grant us world-wide, perpetual, non-exclusive, royalty-free, assignable, sublicensable, transferable rights to use Your Content for any purpose. Please note that you also irrevocably grant the users of the Site and any Other Media the right to access Your Content in connection with their use of the Site and any Other Media. Finally, you irrevocably waive, and cause to be waived, against MyBarangay and its users any claims and assertions of moral rights or attribution with respect to Your Content. By "use" we mean use, copy, publicly perform and display, reproduce, distribute, modify, translate, remove, analyze, commercialize, and prepare derivative works of Your Content.
</p>

</li>


<li>
<p>
<strong>C.       Ownership</strong>
As between you and MyBarangay, you own Your Content. We own the MyBarangay Content, including but not limited to visual interfaces, interactive features, graphics, design, compilation, including, but not limited to, our compilation of User Content and other Site Content, computer code, products, software, aggregate user review ratings, and all other elements and components of the Site excluding Your Content, User Content and Third Party Content. 
</p>

<p>
We also own the copyrights, trademarks, service marks, trade names, and other intellectual and proprietary rights throughout the world ("IP Rights") associated with the MyBarangay Content and the Site, which are protected by copyright, trade dress, patent, trademark laws and all other applicable intellectual and proprietary rights and laws. As such, you may not modify, reproduce, distribute, create derivative works or adaptations of, publicly display or in any way exploit any of the MyBarangay Content in whole or in part except as expressly authorized by us. Except as expressly and unambiguously provided herein, we do not grant you any express or implied rights, and all rights in and to the Site and the MyBarangay Content are retained by us.
</p>

</li>



<li>
<p>
<strong>D.      Advertising</strong>
MyBarangay and its licensees may publicly display advertisements and other information adjacent to or included with Your Content. You are not entitled to any compensation for such advertisements. The manner, mode and extent of such advertising are subject to change without specific notice to you.
</p>

</li>




<li>
<p>
<strong>E.       Other</strong>
User Content (including any that may have been created by users employed or contracted by MyBarangay) does not necessarily reflect the opinion of MyBarangay. We reserve the right to remove, screen, edit, or reinstate User Content from time to time at our sole discretion for any reason or no reason, and without notice to you. For example, we may remove a review if we believe it violates our Content Guidelines. We have no obligation to retain or provide you with copies of Your Content, nor do we guarantee any confidentiality with respect to Your Content.
</p>

</li>








                    </ul>
                </li>








				<hr class="notop">
                <li><strong>6.   	RESTRICTIONS</strong>

<p>
We are under no obligation to enforce the Terms on your behalf against another user. While we encourage you to let us know if you believe another user has violated the Terms, we reserve the right to investigate and take appropriate action at our sole discretion.
</p>

<ul>


<li><p>

<strong>A.       You agree not to, and will not assist, encourage, or enable others to use the Site to:</strong>
<ul>

<li><p>
i.   Violate our Terms of Use, for example, by writing a fake or defamatory review, trading reviews with other businesses, or compensating someone or being compensated to write or remove a review;
</p></li>

<li><p>
ii.   Violate any third party's rights, including any breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right;
</p></li>

<li><p>
iii. Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;
</p></li>

<li><p>
iv. Promote a business or other commercial venture or event, or otherwise use the Site for commercial purposes, except in connection with a Business Account and as expressly permitted by MyBarangay;
</p></li>

<li><p>
v. Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage in keyword spamming, or otherwise attempt to manipulate the Site's search results or any third party website;
</p></li>

<li><p>
vi. Solicit personal information from minors, or submit or transmit pornography; or
</p></li>


<li>
vii. Violate any applicable law.
</li>

</ul>


</p>
</li>

<li><p>

<strong>You also agree not to, and will not assist, encourage, or enable others to:</strong>

<ul>

<li><p>
i. Violate the Terms;

<li><p>
ii. Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit the Site or Site Content (other than Your Content), except as expressly authorized by MyBarangay;
</p></li>


<li><p>
iii.   Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the Site or any Site Content;
iv. Reverse engineer any portion of the Site;
</p></li>

<li><p>
v. Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Site or on any materials printed or copied from the Site;
</p></li>

<li><p>
vi. Record, process, or mine information about other users;
</p></li>

<li><p>
vii.            Access, retrieve or index any portion of the Site for purposes of constructing or populating a searchable database of business reviews;
</p></li>

<li><p>
viii. Reformat or frame any portion of the Site;
</p></li>

<li><p>
ix. Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on MyBarangay's technology infrastructure or otherwise make excessive traffic demands of the Site;
</p></li>

<li><p>
x. Attempt to gain unauthorized access to the Site, user accounts, computer systems or networks connected to the Site through hacking, password mining or any other means;   
</p></li>

<li><p>
xi.            Use the Site or any Site Content to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively, "Viruses");
</p></li>

<li><p>
xii.            Use any device, software or routine that interferes with the proper working of the Site, or otherwise attempt to interfere with the proper working of the Site;
</p></li>

<li><p>
 xiii.            Use the Site to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm to, the Site or Site Content; or 
</p></li>

<li><p>
 xiv.            Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Site, features that prevent or restrict the use or copying of Site Content, or features that enforce limitations on the use of the Site.
</p></li>


</ul>



<p class="warning"><strong>Note:</strong> 
The restrictions above only apply to the extent permissible under applicable law. Nevertheless, you agree not to act contrary to them (even if permissible under applicable law) without providing 30 days' prior written notice to us here(link to Contact Us page), together with any information that we may reasonably require to give us an opportunity to provide alternative remedies or otherwise accommodate you at our sole discretion.

</p>



</p>
</li>


                    </ul>
                </li>











				<hr class="notop">
                <li><strong>7.   	GUIDELINES AND POLICIES</strong>
				  	<ul>
						<li><p>
<strong>      Privacy</strong> 
You represent that you have read and understood our Privacy Policy. Note that we may disclose information about you to third parties if we have a good faith belief that such a disclosure is reasonably necessary to (i) take action regarding suspected illegal activities; (ii) enforce or apply our Terms and Privacy Policy; (iii) comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; or (iv) protect our rights, reputation, and property, or that of our users, affiliates, or the public. If you use the Site outside of the United States, you consent to having your personal data transferred to and processed in the United States.


						</p></li>
                    </ul>
                </li>




				<hr class="notop">
                <li><strong>8.   	SUGGESTIONS AND IMPROVEMENTS</strong>
				  	<ul>
						<li><p>
By sending us any ideas, suggestions, documents or proposals ("Feedback"), you agree that (i) your Feedback does not contain the confidential or proprietary information of third parties, (ii) we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (iii) we may have something similar to the Feedback already under consideration or in development, and (iv) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, prepare derivative works, publish, distribute and sublicense the Feedback, and you irrevocably waive, and cause to be waived, against MyBarangay and its users any claims and assertions of any moral rights contained in such Feedback.

						</p></li>
                    </ul>
                </li>






				<hr class="notop">
                <li><strong>9.   	THIRD PARTIES</strong>
				  	<ul>
						<li>
<p>
The Site may include links to other websites or applications (each, a "Third Party Site"). We do not control or endorse any Third Party Site. You agree that we are not responsible for the availability or contents of such Third Party Sites. Your use of Third Party Sites is at your own risk.
</p>

<p>
Some of the services made available through the Site may be subject to additional third party or open source licensing terms and disclosures.
</p>



						</li>
                    </ul>
                </li>




				<hr class="notop">
                <li><strong>10.   INDEMNITY</strong>
				  	<ul>
						<li><p>
You agree to indemnify, defend, and hold MyBarangay, its parents, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them (collectively, the "MyBarangay Entities") harmless, including costs, liabilities and legal fees, from any claim or demand made by any third party arising out of or relating to (i) your access to or use of the Site, (ii) your violation of the Terms, (iii) any products or services purchased or obtained by you in connection with the Site, or (iv) the infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. MyBarangay reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims. You agree not to settle any such matter without the prior written consent of MyBarangay. MyBarangay will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.


						</p></li>
                    </ul>
                </li>



				<hr class="notop">
                <li><strong>11.	DISCLAIMERS AND LIMITATIONS OF LIABILITY</strong>

<p><strong>PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF THE MYBARANGAY ENTITIES TO YOU. EACH OF THE SUBSECTIONS BELOW ONLY APPLIES UP TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. NOTHING HEREIN IS INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY NOT BE LAWFULLY LIMITED. IF YOU ARE UNSURE ABOUT THIS OR ANY OTHER SECTION OF THESE TERMS, PLEASE CONSULT WITH A LEGAL PROFESSIONAL PRIOR TO ACCESSING OR USING THE SITE. BY ACCESSING OR USING THE SITE, YOU REPRESENT THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO THESE TERMS, INCLUDING THIS SECTION. YOU ARE GIVING UP SUBSTANTIAL LEGAL RIGHTS BY AGREEING TO THESE TERMS.</strong></p>

				  	<ul>
						<li><p>

A.       THE SITE IS MADE AVAILABLE TO YOU ON AN "AS IS", "WITH ALL FAULTS" AND "AS AVAILABLE" BASIS, WITH THE EXPRESS UNDERSTANDING THAT THE MYBARANGAY ENTITIES MAY NOT MONITOR, CONTROL, OR VET USER CONTENT. AS SUCH, YOUR USE OF THE SITE IS AT YOUR OWN DISCRETION AND RISK. THE MYBARANGAY ENTITIES MAKE NO CLAIMS OR PROMISES ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE SITE, ITS SAFETY OR SECURITY, OR THE SITE CONTENT. ACCORDINGLY, THE MYBARANGAY ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE, FOR EXAMPLE, FROM THE SITE'S INOPERABILITY, UNAVAILABILITY OR SECURITY VULNERABILITIES OR FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, REVIEWS (INCLUDING THEIR CONTENT, ORDER, AND DISPLAY), OR METRICS FOUND ON, USED ON, OR MADE AVAILABLE THROUGH THE SITE.
						</p></li>


						<li><p>
B.       THE MYBARANGAY ENTITIES MAKE NO CLAIMS OR PROMISES WITH RESPECT TO ANY THIRD PARTY, SUCH AS THE BUSINESSES OR ADVERTISERS LISTED ON THE SITE OR THE SITE'S USERS. ACCORDINGLY, THE MYBARANGAY ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS OR OMISSIONS, INCLUDING, FOR EXAMPLE, IF ANOTHER USER OR BUSINESS MISUSES YOUR CONTENT, IDENTITY OR PERSONAL INFORMATION, OR IF YOU HAVE A NEGATIVE EXPERIENCE WITH ONE OF THE BUSINESSES OR ADVERTISERS LISTED OR FEATURED ON THE SITE. YOUR PURCHASE AND USE OF PRODUCTS OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE SITE IS AT YOUR OWN DISCRETION AND RISK.
						</p></li>


						<li><p>
C.       THE MYBARANGAY ENTITIES EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY BUSINESSES LISTED ON THE SITE, AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO YOU BY A REPRESENTATIVE OF ONE OF THE MYBARANGAY ENTITIES SHALL CREATE A REPRESENTATION OR WARRANTY.
						</p></li>

						<li><p>
D.      YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE SITE, RELATED SERVICES, OR ANY OTHER GRIEVANCE SHALL BE YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE SITE.
						</p></li>


						<li><p>
E.       THE MYBARANGAY ENTITIES' MAXIMUM AGGREGATE LIABILITY TO YOU FOR LOSSES OR DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SITE OR THESE TERMS IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU TO THE MYBARANGAY ENTITIES IN CONNECTION WITH THE SITE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $100.
						</p></li>

						<li><p>
F.       THE MYBARANGAY ENTITIES DISCLAIM LIABILITY FOR ANY (i) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) REPUTATIONAL HARM, OR (v) LOSS OF INFORMATION OR DATA.
						</p></li>







                    </ul>
                </li>






				<hr class="notop">
                <li><strong>12.   CHOICE OF LAW AND VENUE</strong>
				  	<ul>
						<li><p>
Canada law will govern these Terms, as well as any claim, cause of action or dispute that might arise between you and MyBarangay (a "Claim"), without regard to conflict of law provisions. FOR ANY CLAIM BROUGHT BY EITHER PARTY, YOU AGREE TO SUBMIT AND CONSENT TO THE PERSONAL AND EXCLUSIVE JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE STATE AND FEDERAL COURTS LOCATED WITHIN VANCOUVER, CANADA.						
						</p></li>
                    </ul>
                </li>










				<hr class="notop">
                <li><strong>13.	TERMINATION</strong>
				  	<ul>
						<li><p>
A.       You may terminate the Terms at any time by closing your account, discontinuing your use of the Site, and providing MyBarangay with a notice of termination. Please review our Privacy Policy for information about what we do with your account when terminated.
						</p></li>

						<li><p>
B.       We may close your account, suspend your ability to use certain portions of the Site, and/or ban you altogether from the Site for any or no reason, and without notice or liability of any kind. Any such action could prevent you from accessing your account, the Site, Your Content, Site Content, or any other related information.
						</p></li>


						<li><p>
C.       In the event of any termination of these Terms, whether by you or us, Sections 1, 5, 6, 10 - 14 will continue in full force and effect, including our right to use Your Content as detailed in Section 5.
						</p></li>


                    </ul>
                </li>

















				<hr class="notop">
                <li><strong>14.	GENERAL TERMS</strong>
				  	<ul>
						<li><p>
A.       We reserve the right to modify, update, or discontinue the Site at our sole discretion, at any time, for any or no reason, and without notice or liability.
						</p></li>


						<li><p>
B.	We may provide you with notices, including those regarding changes to the Terms by email, regular mail or communications through the Site.

						</p></li>


						<li><p>
C.	Except as otherwise stated in Section 10 above, nothing herein is intended, nor will be deemed, to confer rights or remedies upon any third party.
						</p></li>

						<li><p>
D.	The Terms contain the entire agreement between you and us regarding the use of the Site, and supersede any prior agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed on any representation made but not expressly contained in these Terms.
						</p></li>



						<li><p>
E.	Any failure on MyBarangay's part to exercise or enforce any right or provision of the Terms does not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
						</p></li>

						<li><p>
F.	If any provision of the Terms is found to be unenforceable or invalid, then only that provision shall be modified to reflect the parties' intention or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable.
						</p></li>


						<li><p>
G.      The Terms, and any rights or obligations hereunder, are not assignable, transferable or sublicensable by you except with MyBarangay's prior written consent, but may be assigned or transferred by us without restriction. Any attempted assignment by you shall violate these Terms and be void.
						</p></li>

						<li><p>
H.      The section titles in the Terms are for convenience only and have no legal or contractual effect.
						</p></li>

                    </ul>
                </li>



				<hr class="notop">




			</ul>


<p>
<strong>B.	Privacy Policy</strong></p>

<p>
MyBarangay’s privacy policy is simple: we do not share or sell your information. You will only get information on the businesses and users you follow and the updates they share. We will not spam or send you nonsense ads.
</p>

<p>
<strong>Your Activities</strong>
We may collect and store information from users when they subscribe. We use such information to complete your requests, personalize your experience, offer the Service’s functionality and track its usage, display relevant advertising, improve on the service, and provide customer service.
</p>


<p>
<strong>How It is Done</strong>
Just like any website, we use cookies to track your browsing and usage.  Your basic information is taken when you sign up with MyBarangay using your email address or other third-party services like Facebook. These 3rd-party sites may have their own privacy policy outside of MyBarangay.
</p>








            <hr>

        </section>




</div>