<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>

<div class="container" id="container" >
	<div class="col-md-12">
		<div class="row containerBorder">
			<!-- <div class="col-md-12 bg-primary">
			<br>
			<div class="col-md-8 ">
				<h1>Search Business</h1>
				<h3>Review everything from your favorite burger to your dentist.</h3>
				<form action="search_business" method="post" class="" id="newBusinessForm">
				  	<div class="col-md-5">
						<div class="form-group">
						  <div class="input-group">
						    <span class="input-group-btn">
						      <button class="btn btn-default" type="button">Find</button>
						    </span>
						    <input name="name" type="text" class="form-control">
						  </div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
						  <div class="input-group">
						    <span class="input-group-btn">
						      <button class="btn btn-default" type="button">Near</button>
						    </span>
						    <input name="address" type="text" class="form-control">
						  </div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<button name="searchBtn" type="submit" class="btn btn-danger" ><span class="fa fa-search"></span></button>
						</div>
					</div>
				</form>	
			</div>
			<div class="col-md-4 text-center">
				<center>
				<?php //echo Phalcon\Tag::image(array("themes/mybarangay1/img/biz/mybarangay.jpg", 'class' => 'media-object img-responsive img-thumbnail img-circle img-block biz-search-logo')); ?>
				</center>
				<br>
			</div>
			</div> -->

			<div class="col-md-3">
				<br>
				<div class="panel panel-default bg-primary">
					<div class="panel-body">
						<?php echo Phalcon\Tag::form(array("search", "method" => "get")); ?>
						<div class="form-group">
						    <label style="color:#597EA8!important;">Find</label>
						    <input name="find" type="text" class="form-control">
						</div>
						<div class="form-group">
						    <label style="color:#597EA8!important;">Near</label>
						    <input name="near" type="text" class="form-control">
						</div> 
						<div class="form-group">
							<button type="submit" class="btn btn-danger btn-block" ><span class="fa fa-search"></span> Search</button>
						</div>
						<?php echo Phalcon\Tag::endForm(); ?>
					</div>
				</div>
				<!--<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="text-primary"><strong>Not here? Tell us what we're missing.</strong></h4>
							<p>If the business you're looking for isn't here, add it!</p>
							<?php //echo Phalcon\Tag::linkTo(array('review/new_business', '+ Add A Business', 'class' => 'btn btn-block btn-lg btn-primary restricted')); ?>
					</div>
				</div>-->
			</div>
			<div class="col-md-9">
				<br>
				<div style="background-color: #DC0000!important;color:#fff;">
					<div class="panel-body form-horizontal">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-lg-2 control-label">Sort</label>
								<div class="col-lg-8">
									<select name="country_id"  type="select" class="form-control">
										<option value="highest_rating">Highest Rating</option>
										<option value="most_reviews">Most Reviews</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-lg-8 control-label">Business per page</label>
								<div class="col-lg-4">
									<select name="country_id"  type="select" class="form-control">
										<option value="">10</option>
										<option value="">20</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
					<?php $searchCount = count($autos) + count($things) + count($jobs); ?>
					<?php if($searchCount == 0):?>
						<h3 class="text-danger"><strong>Search Result</strong></h3>
					<?php else: ?>
						<h3 class="text-danger"><strong><?php echo $searchCount . " results found."; ?></strong></h3>
					<?php endif; ?>
						<hr class="red">
	
						<div class="row">
						<h3 class="text-left"><strong class="text-primary">Business</strong></h3>
						<?php $i = 1; foreach ($business as $key => $biz) { ?>

							<?php 
								$category= '';
								$tempMain = array();
								$tempTitle = array();
								$tempSubTitle = array();

								foreach ($biz->BusinessCategoryLists as $key => $businessCategoryList) {
									$mainY = 0;

									if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
										$mainY = 1;
										$tempMain[] = $businessCategoryList->BusinessCategories->main_title;
										$category .= $businessCategoryList->BusinessCategories->main_title;
									} 
									$titleY = 0;
									if($businessCategoryList->BusinessCategories->title){
										if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
											$titleY = 1;
											$tempTitle[] = $businessCategoryList->BusinessCategories->title;
											if($mainY == 1){
												$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
											} else {
												$category .= $businessCategoryList->BusinessCategories->title;
											}
										}									
									}
									if($businessCategoryList->BusinessCategories->sub_title){
										if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
											$tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
											if($titleY == 0){
												$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
											} else {
												$category .= $businessCategoryList->BusinessCategories->sub_title;
											}
										}
									}
							 		$category .= ', ';
							 	}  
							 	$category = substr($category, 0, -2);
							?>

										<div class="col-md-4" style="overflow:hidden; position:relative;height: 290px; text-overflow: ellipsis; ">
											<div style="border:1px solid #efefef;padding:10px;margin-bottom:10px;"  data-url="business/view/<?php echo $biz->id; ?>" style="border:2px solid #000">
											 <a href="<?php echo '/business/view/'.$biz->id; ?>">
											 	<?php 
											 		$img = 'themes/mybarangay1/img/biz/mybarangay.jpg';
											 		foreach ($biz->BusinessImages as $key => $bizImage) {
											 			$img = $bizImage->file_path.$bizImage->filename;
											 		}
											 	?>
											 	<?php echo Phalcon\Tag::image(array($img, 'class' => 'item_img1')); ?>
											  </a>
											  <div class="item_desc1 width100">
											  	<span class="text-primary"><strong>
											  	<?php if ($i < 4): ?>
													<p style="vertical-align: text-bottom;">
													<span class="label label-danger label-as-badge" >Ad</span>
													<?php endif; $i++ 
												?>
											  	<?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
													
											  	</strong></span>
											    	<p><i class="fa fa-bookmark"></i>&nbsp;&nbsp;<?php echo $category . 'asd'; ?></p>
											    	<!-- <p><i class="fa fa-globe"></i>&nbsp;&nbsp;<?php echo $biz->website; ?></p> -->
											    	<p>Rating:</p>
													<div class="rating1" style="margin-top:-15px;margin-left:40px;">
									                      <?php
									                              $ctr = 0; 
									                              while($ctr<$biz->average_rate) {
									                                  $ctr++;
									                              }
									                              $arrayRate = explode('.', $biz->average_rate);
									                              	if(isset($arrayRate[1])){
										                              if($arrayRate[1] > 5) { 
										                              	$arrayRate[0]++; $arrayRate[1] = 0; 
										                              }
										                              if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
										                              	 $arrayRate[1] = 5; 
										                              }
										                            } else {
										                            	$arrayRate[1] = 0;
										                            }
										                          //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on... 									
										                          
									                              if(!$arrayRate[0]){
									                              	$arrayRate[0] = 0;
									                              }
									                              $rate = $arrayRate[0].'.'.$arrayRate[1];
									                              $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
									                            ?>
									                            <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
									                  </div>
											    	<?php echo Phalcon\Tag::linkTo(array('review/add/'.$biz->id, '<span class="glyphicon glyphicon-pencil"></span> Write a review', 'class' => 'btn btn-danger col-md-12 button_write restricted')); ?>
											 
											  </div>
											 
											 
											    	
											   
											  </div>
											</div>
											
							
						
							<?php } ?>

						</div>

							<div class="row">
							<h3 class="text-left"><strong class="text-primary">Cars & Trucks</strong></h3>
							<?php $i = 1; foreach($autos as $auto): ?>
								<div class="col-md-4" style="overflow:hidden; position:relative;height: 290px; text-overflow: ellipsis; ">
									<div style="border:1px solid #efefef;padding:10px;margin-bottom:10px;"  data-url="car_and_truck/view/<?php echo $auto->id; ?>" style="border:2px solid #000">
									<?php
										$autoPhoto = 'http://placehold.it/230x230&text=no+photo';
										$rPhotoCount = count($auto->automotivephotos);
										if ($rPhotoCount > 0) {
											$autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
										}
									?>
										 <a href="#">
										 <?php echo Phalcon\Tag::image(array($autoPhoto, 'class' => 'item_img1')); ?>
										 <?php
										 	//echo Phalcon\Tag::image([$autoPhoto, 'class' => 'media-object img-responsive img-rounded item_img1']);
										 ?>
										 </a>
										 <div class="item_desc1 width100">
											 <p class="text-center">
											 <?php $strlen = strlen($auto->name); 
											 	if ($strlen > 21) {
											 		$title = substr($auto->name, 0, 20) . '...';
											 	} else {
											 		$title = $auto->name;
											 	}
											 ?>
											 <h5 class="text-center"><b>
											 <?php if ($i < 4): ?>
											  	<p style="vertical-align: text-bottom;">
												 <span class="label label-danger label-as-badge" >Ad</span>
												<?php endif; $i++ ?>
											 <?php echo "<a class=\"text-primary autoName\" href=\"/mybarangayteam/car_and_truck/view/".$auto->id."/\">".$title."</a>"; ?>
											 	</p>
											 </b></h5>
											 <p title="" data-toggle="tooltip" class="text-center  price" data-original-title="Price"><label class="label label-danger label-lg">P <?php echo $auto->price; ?></label></p>
											 
											 	<h5 class="text-center text-primary"><strong><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<?php echo $auto->location; ?></strong></h5>
										    	<p class="text-center"><i class="fa fa-info"></i>&nbsp;&nbsp;<?php echo $auto->automotiveconditions->name; ?></p>
										 </div>
									</div>
								</div>
							<?php endforeach; ?>
							</div>	
							<div class="row">
							<?php if (count($autos) == 0):?>
								<h4 class="text-danger text-left">no results found.</h4>
							<?php else:?>
								<h4 class="text-danger text-left"><?php echo Phalcon\Tag::linkTo(array('car_and_truck/index?find='.$find.'&near='.$near, 'See more '.count($autos).' cars and trucks results')); ?></h4>
							<?php endif; ?>
							</div>	


							<div class="row">
							<h3 class="text-left"><strong class="text-primary">Things</strong></h3>
							<?php foreach ($things as $key => $thing): ?>
								<?php if($key < 6){ ?>
								<div class="col-md-4" style="overflow:hidden; position:relative;height: 290px; text-overflow: ellipsis; ">
									<div <?php echo "data-url=\"thing/view/\"".$thing->id; ?> style="border:1px solid #efefef;padding:10px;margin-bottom:10px;">
									<?php
										$thingPhoto = 'http://placehold.it/230x230&text=no+photo';
										$rPhotoCount = count($thing->thingphotos);
										if ($rPhotoCount > 0) {
											$thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
										}
									?>
										 <a href="<?php echo "thing/view/$thing->id"; ?>">
										 <?php
										 	echo Phalcon\Tag::image([$thingPhoto, 'class' => 'media-object img-responsive img-rounded item_img1']);
										 ?>
										 </a>
										 <div class="width100">
											 <p class="text-center">
											 <?php $strlen = strlen($thing->name); 
											 	if ($strlen > 21) {
											 		$title = substr($thing->name, 0, 20) . '...';
											 	} else {
											 		$title = $thing->name;
											 	}
											 ?>
											 <?php echo "<a class=\"text-primary thingName\" href=\"/mybarangayteam/thing/view/".$thing->id."/\">".$title."</a>"; ?>
											 	</p>
											 <p title="" data-toggle="tooltip" class="text-center  price" data-original-title="Price"><label class="label label-danger label-lg">P <?php echo $thing->price; ?></label></p>
											 
											 	<h5 class="text-center text-primary"><strong><i class="fa fa-cube"></i>&nbsp;&nbsp;<?php echo $thing->thingcategories->name; ?></strong></h5>
										 </div>
									</div>
								</div>
								<?php } ?>
							<?php endforeach; ?>

							</div>	<!-- end row -->
							<div class="row">
							<?php if (count($things) == 0): ?>
							<!-- 	<h4 class="text-danger text-left">no results found.</h4> -->
							<?php else: ?>
								<h4 class="text-danger text-left"><?php echo Phalcon\Tag::linkTo(array('thing/index?find='.$find.'&near='.$near, 'See more '.count($things).' things results')); ?></h4>
							<?php endif; ?>
							</div>
							</div>	



							<div class="row" style="padding-left: 13px;">
							<h3 class="text-left"><strong class="text-primary">Jobs</strong></h3>
							<?php 
								$i = 1;
								foreach ($jobs as $key => $job) { ?>
								<div class="col-md-4" style="overflow:hidden; position:relative;height: 290px; text-overflow: ellipsis; ">
									<div style="border:1px solid #efefef;padding:10px;margin-bottom:10px;"  data-url="job/view/<?php echo $job->id; ?>" style="border:2px solid #000">
									 <a href="#">
									 	<?php 
									 		$jobLogo = 'http://placehold.it/230x230';
									 		if(count($job->JobLogos)>0){ 
									 			$jobLogo = $job->JobLogos[0]->file_path.$job->JobLogos[0]->filename;
									 		} 
									 	?>
									 	<?php echo Phalcon\Tag::image(array($jobLogo, 'class' => 'media-object img-responsive img-rounded item_img1')); ?>
									 </a>
									 <div class="width100">
									 <?php $strlen = strlen($job->position); 
											if ($strlen > 28) {
												$title = substr($job->position, 0, 20) . '...';
											} else {
												$title = $job->position;
											}
									?>
									<?php if ($i < 4): ?>
										<p style="vertical-align: text-bottom;">
										<span class="label label-danger label-as-badge" >Ad</span>
										<?php endif; $i++ 
									?>
									 <strong>
									 	<?php echo Phalcon\Tag::linkTo(array('job/view/'.$job->id.'/'.str_replace(' ', '+', $job->position.'/'.$job->company), $title,'class' => 'text-primary')); ?>
									 </strong>
									 	<p><i class="fa fa-bookmark"></i>&nbsp;&nbsp;<?php echo $job->JobCategories->name; ?></p>
								    	<p><i class="fa fa-university"></i>&nbsp;&nbsp;<?php echo $job->company; ?></p>
								    	<p><i class="fa fa-home"></i>&nbsp;&nbsp;<?php echo $job->street; ?>, <?php echo $job->city; ?>, <?php echo $job->Countries->country; ?></label>
								    	<?php if(isset($userSession)){ ?>
								    	<p data-toggle="tooltip" title="Salary range"><span class="fa fa-money"></span> <?php echo number_format($job->salary_from,2).' - '.number_format($job->salary_to,2); ?></p>
								    	<?php } ?>
								    	<small data-toggle="tooltip" title="Last updated"><span class="fa fa-clock-o"></span> <?php echo date('M d, Y h:i A', strtotime($job->modified)); ?></small>
									 </div>
								</div>
							
							<?php } ?>
							</div>
							<div class="row" style="padding-left: 13px;">
							<?php if (count($jobs) == 0): ?>
								<!-- <h4 class="text-danger text-left">no results found.</h4> -->
							<?php else: ?>
								<h4 class="text-danger text-left"><?php echo Phalcon\Tag::linkTo(array('job/index?find='.$find.'&near='.$near, 'See more '.count($jobs).' jobs results')); ?></h4>
							<?php endif; ?>
							</div>	
						
					</div>
				</div>
			</div>

					
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.media').on('click', function(){
			window.location.href = $(this).data('url');
		});

		$('[data-toggle="tooltip"]').tooltip();

		$('#businessCategories').on('change', function(){
			var id = $(this).val();
			$('#businessCategoryId').val(id);
		});

		function formatRepo (category) {
			var markup = '';
		    if (category.loading) return category.text;

		    markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';

		    if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
		    return markup;
		  }

		  function formatRepoSelection (category) {
		  	var markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
		  	if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
			return markup;
		  }


		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "/mybarangay/business_category/list",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    }
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});

	});
</script>

