<div class="container" style="margin-top:100px;">
	<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-red">
						<div class="panel-heading  text-center" style="background-color:#E08B27;">
						<h3 style="color:#FFF;">BASIC PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$29.99 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Campaign ad for business</li>
							<li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-danger"></i></li>
							<li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-danger"></i></li>
							<li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-info"></i> </li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-danger" style="background-color:yellow;" href="https://www.mybarangay.com<?= $this->url->getBaseUri() . 'payment/process/1'?>">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-blue">
						<div class="panel-heading arrow_box text-center" style="background-color:#02A5DE;">
						<h3 style="color:#FFF;">ENHANCED PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$39.99 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-info"></i> Campaign ad for business</li>
							<li class="list-group-item"><i class="icon-ok text-info"></i> Website banner ad (230px X 100px)</li>
							<li class="list-group-item"><i class="icon-ok text-info"></i> First 3 months FREE</li>
							<li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-info"></i> </li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-info" href="https://www.mybarangay.com<?= $this->url->getBaseUri() . 'payment/process/2'?>">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center" style="background-color:#E72510;">
						<h3 style="color:#FFF;">PREMIUM PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$99.99 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Campaign ad for business</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Website banner ad (230px X 100px)</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Web leaderboard ad (720px X 150px)</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> First 3 months FREE</li>
						</ul>
						<div class="panel-footer">

							<a class="btn btn-lg btn-block btn-primary" href="https://www.mybarangay.com<?= $this->url->getBaseUri() . 'payment/process/3'?>">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>
	</div>
            
</div>