<link href='http://fonts.googleapis.com/css?family=Palanquin+Dark:500' rel='stylesheet' type='text/css'>
<style>
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  



      <div class="col-md-12" > <!-- start col-md-6 -->
	
	<div class="panel panel-default" style="margin:2px !important;">
	  <div class="panel-body">
	    <center><b><h4>ADVERTISING SUBSCRIPTION FORM</h4></b></center>
	  </div>
	</div>
      <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-12" style="font-size: 12pt; line-height: 2em;">
        <br>
          <div class="panel panel-info">
                <div class="panel-heading display-table" >
                        <h3 class="panel-title display-td" style="font-family: 'Palanquin Dark', sans-serif;"><b>Advertiser Details</b></h3>                   
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Company Name:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Address:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">City, State/Province:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Postal Code:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Contact Number:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Phone Number:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="required">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Company Website:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                      </div>
                    </div>

                  </div>
                </div>
          </div>
        </div>
<!--asdas-->
<div class="col-xs-12 col-md-12" style="font-size: 12pt; line-height: 2em;">
          <div class="panel panel-info">
                <div class="panel-heading display-table" >
                        <h3 class="panel-title display-td" style="font-family: 'Palanquin Dark', sans-serif;"><b>Advertising Package Details</b></h3>                   
                </div>
                <div class="panel-body">
                  <table class="table table-bordered">
                    <tr>
                      <td class="active">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Basic Package
                        </label>
                      </div>
                      </td>
                      <td class="active">$29.99 + GST/mo</td>
                      <td class="active">
                        Includes:
                        <ul>
                          <li><i class="fa fa-check"></i> Upload photos & add business information</li>
                          <li><i class="fa fa-check"></i> Respond to reviews</li>
                          <li><i class="fa fa-check"></i> Targeted advertising to active searches on MyBarangay</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="active">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Enhanced Package
                        </label>
                      </div>
                      </td>
                      <td class="active">$39.99 + GST/mo</td>
                      <td class="active">
                        Includes Basic Package Features plus:
                        <ul>
                          <li><i class="fa fa-check"></i> Website and mobile banner ads on inner page and sidebar</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="active">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Premium Package
                        </label>
                      </div>
                      </td>
                      <td class="active">$99.99 + GST/mo</td>
                      <td class="active">
                        Includes Basic Package Features plus:
                        <ul>
                          <li><i class="fa fa-check"></i> Website and mobile banner ads on inner page and sidebar</li>
                          <li><i class="fa fa-check"></i> Website leaderboard advertising</li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </div>
          </div>
        </div>
<!-- asdas -->
        <div class="col-xs-12 col-md-6">
        <br>
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-info credit-card-box">
                <div class="panel-heading" >
                   <span style="font-family: 'Palanquin Dark', sans-serif;">Payment Details</span>                  
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">

                                    <div style="margin-right: 10px;">
                                    <center>
                                      <input type="radio" name="optionsRadios" id="credit" value="option1" >&nbsp; <i class="fa fa-cc-amex fa-3x"></i> <input type="radio" name="optionsRadios" id="credit" value="option1" >&nbsp; <i class="fa fa-cc-mastercard fa-3x"></i> <input type="radio" name="optionsRadios" id="credit" value="option1" >&nbsp; <i class="fa fa-cc-visa fa-3x"></i> <input type="radio" name="optionsRadios" id="credit" value="option1" >&nbsp; <i class="fa fa-cc-discover fa-3x"></i>
                                    </center>  
                                    </div>

                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV CODE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2 col-md-offset-10">
                              <a href="https://ssl.comodo.com/free-ssl-certificate.php">
<img src="https://ssl.comodo.com/images/comodo_secure_76x26_white.png" alt="Free SSL Certificate" width="76" height="26" style="border: 0px;"></a>
                            </div>
                        </div>

                        <div class="row">
                        <br>
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->  
        </div>   
        <!-- asdas -->                 
        <!-- asdas -->
        <div class="col-xs-12 col-md-6">
        <br>
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-info">
                <div class="panel-heading" style="font-family: 'Palanquin Dark', sans-serif;">
                       PRODUCTION DESCRIPTION                
                </div>
                <div class="panel-body">
                    <dl>
                      <dt>Basic Package</dt>
                      <dd>offers a set of solutions designed to help you maximize the potential of your MyBarangay Business Page.</dd>
                      <dt>Enhanced Package</dt>
                      <dd>offers advanced business solutions to help you attract and engage with your customers.</dd>
                      <dt>Premium Package</dt>
                      <dd>gives you the best of the best with all of my MyBarangay business and advertising solutions plus exclusive business page features and suppoert.</dd>
                      <dt>Website Banner ad</dt>
                      <dd>on inner pages are 200px X 100px.</dd>
                      <dt>Mobile Banner ad</dt>
                      <dd>on inner pages are 320px X 60px.</dd>
                      <dt>Website leaderboard ad</dt>
                      <dd>on homepage is 720px X 150px.</dd>
                    </dl>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->  
        </div>   
        <!-- asdas -->            
    </div>
     </div> <!-- end col-md-6 -->




  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->


