
<header id="main-header" class="navbar navbar-default" role="header" > <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  


    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->

<!-- start cd-lateral-nav-->
<nav id="cd-lateral-nav" >

  <!-- start cd-navigation -->
  <ul class="cd-navigation">

    <!-- item home -->
    <li class="item-has-children">
      <a href="#0">Home</a>
    </li> 

    <!-- item Write a review -->
    <li class="item-has-children">
      <a href="#0">Write a review</a>
    </li>

    <!-- item Events -->
    <li class="item-has-children">
      <a href="#0">Events</a>
    </li>

    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0">Classifieds</a>
      <ul class="sub-menu">
        <li><a href="#0">London</a></li>
        <li><a href="#0">New York</a></li>
        <li><a href="#0">Milan</a></li>
        <li><a href="#0">Paris</a></li>
      </ul>
    </li>

  </ul> <!-- end cd-navigation -->

  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="#0">Tour</a></li>
    <li><a href="#0">Login</a></li>
    <li><a href="#0">Register</a></li>
    <li><a href="#0">Pricing</a></li>
    <li><a href="#0">Support</a></li>
  </ul> <!-- cd-single-item-wrapper -->


  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a class="current" href="#0">Journal</a></li>
    <li><a href="#0">FAQ</a></li>
    <li><a href="#0">Terms &amp; Conditions</a></li>
    <li><a href="#0">Careers</a></li>
    <li><a href="#0">Students</a></li>
  </ul> <!-- cd-single-item-wrapper -->

  <!--     <div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
  </div> --> <!-- socials -->
</nav> <!-- end cd-lateral-nav-->