<section id="sliderCarousel" > <!-- start sliderCarousel -->
  <div class="container-fluid" > <!-- start container-fluid [0] -->
    <div class="row"> <!-- start container-fluid row [0] -->

      <!-- start carousel slide -->
      <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
          <!-- start Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#templatemo-carousel" data-slide-to="1"></li>
              <li data-target="#templatemo-carousel" data-slide-to="2"></li>
          </ol><!-- end Indicators -->

          <!-- start slider content -->
          <div class="carousel-inner">
              <div class="item active">
                  <div class="container" >
                          <div class="carousel-caption"   >

           <img src="/barangay1/public/img/backgrounds/1.jpg" >
<!--                               <div class="col-sm-6 col-md-6">


                                <h1>Sample 1</h1>
        


                                  <p>Suspendisse pellentesque, odio vel ultricies interdum, mauris nulla ullamcorper magna, non aliquet odio velit aliquam augue.</p>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <h1>Sample 1</h1>
                                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam mattis fringilla urna.</p>
                              </div> -->
                          </div>
                  </div>
              </div>
              <div class="item">
                  <div class="container">
                          <div class="carousel-caption">
                   <img src="/barangay1/public/img/backgrounds/2.jpg" >
                          </div>
                  </div>
              </div>
              <div class="item" >
                  <div class="container">
                          <div class="carousel-caption" style="">
                              <img src="/barangay1/public/img/backgrounds/3.jpg" >
                          </div>
                  </div>
              </div>
          </div><!-- end slider content -->

          <!-- prev and next -->
          <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> <!-- end carousel slide -->


    </div> <!-- start container-fluid row [0] -->
  </div> <!-- start container-fluid [0] -->
</section> <!-- start sliderCarousel -->