<?php use Helpers\ZoidHelpers; ?>
<script type="text/javascript">
$(document).ready(function(){
	$(document).on('click','.show_more',function(){
		var ids = $(this).attr('id');
		console.log(ids);
		$('.show_more').hide();
		$('.loding').show();
		$.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'event/load_ajax'; ?>",
            type:'GET',
			data: {id:ids},
			success:function(html){
				$('#show_more_main'+ids).remove();
				$('.tutorial_list').append(html);
			}
		});
	});

});
</script>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

		<div style="margin-bottom:20px"><!-- page wrapper body -->

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li class="active">Events</li>
            </ul>
        </div>
    </div>

	<!-- start left panel -->
			<div class="col-md-3" style="">
				<div class="col-md-12 col-sm-12 boxiy" style="padding:0px;margin:0px 0px 20px 0px;">
			
					<hr><h4 class="text-center">Find Events</h4><hr>

					<?php echo Phalcon\Tag::form(array("event/index", "method" => "post")); ?>					
						<div class="form-group col-md-12 col-sm-6">

							<label style="color:#597EA8!important;">Event Title</label>
							<input type="text" class="form-control" name="name" value="<?=$ename?>" placeholder="Event Title" >
						</div>
						<div class="form-group col-md-12 col-sm-6">
			                <div class="input_container" id="auto">
			                <input type="text" id="autocity" value="<?=$ecity?>" class="city_list form-control" autocomplete="off" name="city" 
			                  placeholder="city" >
			                <input type="hidden" id="autocitycode" name="city_code" value="<?=$ecity_code?>" class="city_id">
			                <ul id="autocitylistid" class="show_city"></ul>
			                </div>
						</div>

						<div class="form-group col-md-12 col-sm-6">
							<input name="submit" class="btn btn-sm  btn-primary" type="submit" value="Search">
						</div>
					<?php Phalcon\Tag::endForm(); ?>
						

					<hr>
					<div class="clearfix"></div>
					<div class="form-group col-md-12">
					<h4>Posting event?</h4>
					<!-- <p class="text-info"><strong>Selling Car?</strong></p> -->
					<a class="btn btn-sm btn-primary" href="<?=$this->url->getBaseUri()?>event/new">Post your event now</a>
					</div>
					<div class="clearfix"></div>
					
				</div>
<?php $this->partial("partials/ads"); ?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			</div>
			<!-- end left panel -->



		<div class="col-md-9 boxiy" style="padding-top:20px"> <!-- start col-md-9 -->

			<div class="row item-match tutorial_list">
			  <?php 
				$i = 1;
				foreach ($events as $event): 
			  ?>
		 
         	<!-- 1st item events-->
		         
		          <div class="col-md-4 col-sm-6 matcher-height">
		              <div class="panel panel-default item-box paperts" style="min-height:270px">
		               <a href="<?php echo $this->url->getBaseUri().'event/view/'. $event->id; ?>">
			                <div class="panel-thumbnail custom-thumbnail">
							<?php
								$eventPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($event->EventPhotos);
								if ($rPhotoCount > 0) {
									$eventPhoto = $event->eventphotos[0]->file_path.$event->eventphotos[0]->filename;
								}
								echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-responsive']);
							?>
			                </div>
		                </a>
		                <div class="panel-body" style="text-center"><!-- start of panel body -->
		                <a href="<?php echo $this->url->getBaseUri().'event/view/'. $event->id; ?>">
		                  <p class="lead ellipsis5"  data-toggle="tooltip" title="<?php echo $event->name; ?> "  >
									 <?php echo $event->name;  ?> 
						   </p><!-- end of lead -->
						 </a>
				
						    <span  class="s3d designmoo">
							<i class="fa fa-calendar"></i>

								<?php
									$datess = ''; 
									$ccx = count($event->EventDatetimes);
									if ($ccx > 0) {
										$datess = $event->EventDatetimes[0]->date; 
									}
								echo date('M d, Y ', strtotime($datess));

										// 		if (EventDatetimes::count($event->id)) {
										// 	$date = EventDatetimes::findFirst($event->id);
											
										// }
										// echo date('M d, Y ', strtotime($date->date));
								 ?>
							
							 </span>
							<div class="ellipsis2">
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($event->city);
									if($cities){
										echo '<span class="glyphicon glyphicon-map-marker"></span>';
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
							            echo $ecity;
									}
								?>

							</div>
					
					</div>
		        </div>
		    </div>
		     
		          <!-- 1st item items events-->
				<?php endforeach; ?>

			</div>

		<?php  if($trigger != 1){ ?>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
			            <div class="show_more_main" id="show_more_main<?php echo $event->id; ?>">
			                <span id="<?php echo $event->id; ?>" class="btn btn-primary show_more btn-block" title="Load more posts">Show more</span>
			                <span class="loding" style="display: none;"><span class="loding_txt">Loading...</span></span>
			            </div>
					</div>
				</div>
			</div>
		<?php } ?>

		<?php if(!$counter){?>
			
			<h3 class="text-center text-primary">No Search Result Found</h3>

		<?php }?>
			</div> <!-- end col-md-9 -->


		</div><!-- end page wrapper body -->

	</div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
