

<?php echo $this->tag->javascriptInclude('themes3/themes/typeHead/typehead.min.js');  ?>



<style type="text/css">
  
.typeahead,
.tt-query,
.tt-hint {
/*  width: 396px;
  height: 30px;

  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;*/
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#navb li ul li  {
  
position: relative;
display: block;
padding:0px 15px;

}
#navb li ul li a  {
  

padding-left:5px;
}
#navb li ul li a:hover  {
  
text-decoration: underline;

}

</style>
<!--  -->

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px;"><!-- page wrapper body -->
    

      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12 "  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                  <li>Event</li>
                  <li class="active">Event List</li>
              </ul>
          </div>
      </div>



      
      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" >




        <?php if(isset($userSession['id'])) { ?>

            <ul class="nav nav-pills nav-stacked" id="navb">
                <li class="nav-header"></li>
                <li><a href="<?=$this->url->getBaseUri()?>event/index"><strong><i class="glyphicon glyphicon-list-alt"></i> Events</strong></a>
                <ul >
                  <li><a href="<?=$this->url->getBaseUri()?>event/new"> Create event</a></li>
                  <li><a href="<?=$this->url->getBaseUri()?>event/list"> Event list</a></li>
                </ul>

            </ul>

        <?php } else { 

          echo "<p style='padding:5px;text-align:center'>Event preview</p>";
       }?>


  <hr>
      
    



        </div>
      </div>
      <!-- end left panel -->


     <div class="col-md-10 col-sm-8 boxiy"  > <!-- start col-md-12 -->
      <hr>
<!-- **********************************8 -->

<script type="text/javascript">
  
$(document).ready(function(){
    console.log('david');

    var countries = new Bloodhound({


      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      
      // url points to a json file that contains an array of country names, see
      // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
      prefetch: "<?php echo $this->url->getBaseUri() . 'event/sample'; ?>"
 




    });
     
    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('#prefetch .typeahead').typeahead(null, {
      name: 'countries',

      source: countries



    });

});

</script>
<?php

  $cities = Cities::find(['WHERE' => '10']);

foreach ($cities as $city) {
 $array[] =  $city->city_name;
}

//echo json_encode($array);



?>
<!-- <div id="prefetch">
  <input class="typeahead form-control" type="text" placeholder="Countries">
</div> -->

  <?php 
  $error = '';
  if ($this->session->has("errorMessasge")) {
      $error = $this->session->get("errorMessasge");
      ?>
    <table class="table table-bordered">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <?=$error?>
    </div>

  <?php $this->session->remove("errorMessasge"); } ?>

  <?php 
  $success = '';
  if ($this->session->has("successMessasge")) {
     $success = $this->session->get("successMessasge");
     ?>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> <?=$success?>
    </div>
  <?php $this->session->remove("successMessasge"); } ?>


    <table class="table table-bordered">


      <thead style="text-primary">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date created</th>
          <th style="width:70px">Edit</th>
          <th style="width:70px">Delete</th>
        </tr>
      </thead>
      <tbody>
   
<?php $c = 1; foreach ($events as $event) { ?>
        <tr>
          <td><?=$c++?></td>
          <td><?=$event->name?></td>
          <td><?=$event->created?></td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>event/view/<?=$event->id?>" target="_blank" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
          </td>
          <td>
              <a href="<?=$this->url->getBaseUri()?>event/delete_list/<?=$event->id?>" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</a>
          </td>
        </tr>
<?php } ?>

      </tbody>

    </table>

 
<!--  **********************************8-->
      <hr>          
     </div> <!-- end col-md-12 -->




      </div><!-- end page wrapper body -->
    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
