<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

      <div style="margin-bottom:20px;"><!-- page wrapper body -->
     


      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li class="active">Events</li>
              </ul>
          </div>
      </div>



     <!-- start left panel -->
     <div class="col-md-3" style="border-right:1px solid #dedede;">
        <?php $member = $event->Members; ?>
        <?php if(isset($userSession['id'])) 
        { $memberId = $userSession['id']; $this->partial("layouts/elements/profile_widget"); 
        } else { ?>
     
				<div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">
				<div class="well">
					<label class="redlabel">
					 <span class="glyphicon glyphicon-search"></span> Find Events
					</label>
					<div class="page-line"></div>
					<?php echo Phalcon\Tag::form(array("event/index", "method" => "post")); ?>					
						<div class="form-group">

							<label style="color:#597EA8!important;">Name</label>
							<input type="text" class="form-control" name="name" value="<?=$ename?>" >
						</div>
						<div class="form-group">
							<label style="color:#597EA8!important;">Street</label>
							<input type="text" class="form-control" name="street" value="<?=$estreet?>">
						</div>
						<div class="form-group">
							<label style="color:#597EA8!important;">City</label>
							<input type="text" class="form-control" name="city" value="<?=$ecity?>">
						</div>
						<div class="form-group">
							<label style="color:#597EA8!important;">Country</label>
							<select class="form-control" type="select" name="country">
								<?php //$thing_categories = ThingCategories::find(); ?>
								<option value="">Select country</option>
									<!-- retrieve all thing categories-->
									<?php foreach ($countries as $country): ?>
										<?php echo "<option value=\"". $country->id ."\">". 
										$country->country ."</option>"; 
										?>
									<?php endforeach; ?>
							</select>
						</div>
						<div class="form-group">
							<label style="color:#597EA8!important;">Event Category</label>
							<select class="form-control" type="select" name="category">
								<?php //$thing_categories = ThingCategories::find(); ?>
								<option value="">Select category</option>
									<!-- retrieve all thing categories-->
									<?php foreach ($categories as $category): ?>
										<?php echo "<option value=\"". $category->id ."\">". 
										$category->name ."</option>"; 
										?>
									<?php endforeach; ?>
							</select>
						</div>
						<div class="form-group">
							<span class="glyphicon glyphicon-search "></span>
							<input name="submit" class="btn btn-block sear-button red" value="Search" type="submit">
						</div>
					<?php Phalcon\Tag::endForm(); ?>
						
					</div><!-- end class well -->
				</div>

        <?php } ?>
     </div>
     <!-- end left panel -->









      </div><!-- end page wrapper body -->

    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->