<style type="text/css">
	

#navb li ul li  {
  
position: relative;
display: block;
padding:0px 15px;

}
#navb li ul li a  {
  

padding-left:5px;
}
#navb li ul li a:hover  {
  
text-decoration: underline;

}

</style>

       <script type="text/javascript">
            $(document).ready(function() {

                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    //Retrieve its value
                    $error = $this->session->get("errorMessasge");
                   ?>
                    
                   var error = "<?=$error?>";
                   alertify.error(error);

                <?php $this->session->remove("errorMessasge"); } ?>

               });

                <?php 
                $success = '';
                //Check if the variable is defined
                if ($this->session->has("successMessasge")) {
                    //Retrieve its value
                    $success = $this->session->get("successMessasge");
                   ?>
                   var success = "<?=$success?>";
                   alertify.error(success);
                <?php $this->session->remove("successMessasge"); } ?>
               });

        </script>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

      <div style="margin-bottom:20px;"><!-- page wrapper body -->
     


      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12 "  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                  <li>Event</li>
                  <li class="active">preview</li>
              </ul>
          </div>
      </div>
   

      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" >

        <?php if(isset($userSession['id'])) { ?>

            <ul class="nav nav-pills nav-stacked" id="navb">
                <li class="nav-header"></li>
                <li><a href="<?=$this->url->getBaseUri()?>event/index"><strong><i class="glyphicon glyphicon-list-alt"></i> Events</strong></a>
                <ul >
                  <li><a href="<?=$this->url->getBaseUri()?>event/new"> Create event</a></li>
                  <li><a href="<?=$this->url->getBaseUri()?>event/list"> Event list</a></li>
                </ul>

            </ul>

        <?php } else { 

          echo "<p style='padding:5px;text-align:center'>Event preview</p>";
       }?>


	<hr>
     	
    



        </div>
      </div>
      <!-- end left panel -->



     <div class="col-md-10 col-sm-8  boxiy" style="padding-top:15px;"> <!-- start col-md-9 -->

      <div class="col-md-8" ><!-- start col-md-8 -->

		<div class="col-md-12" style="border-bottom:1px solid #d3d3d3;margin-bottom:20px;">
		  <h3  style="padding:3px;padding-bottom:0px;font-family:berlin;font-weight:bold;padding-top:0px;margin-top:0px">
		  <span class="glyphicon glyphicon-calendar"></span>
		    <?php echo '  '.ucfirst($event->name); ?>
		  </h3>
		  <div>
		    <p class="pull-left"><span class="glyphicon glyphicon-globe"></span><?php echo '  '.$event->website; ?></p>
		  </div>
		</div>

        <div class="row">
        <div class="col-md-12">
          <?php if (isset($userSession['id'])) { ?>
            <?php if($userSession['id'] == $event->member_id) { ?>
          <div class="btn-group pull-right" style="padding:5px 0px">
            <?php echo Phalcon\Tag::linkTo(array('event/update/'.$event->id, '<i class=" glyphicon glyphicon-pencil"></i> Edit', 'class' => 'btn btn-xs btn-primary', 'data-toggle' => 'tooltip', 'title' => 'update')); ?>
          </div>
            <?php } ?>
          <?php } ?>
          </div>
        </div>

		<div class="col-md-12" style="padding:0px;margin:0px;" >



<div class="panel panel-default">
	<div class="panel-heading">
	   Description
	</div>

	<div class="panel-body">
				<?php
				$eventPhoto = 'http://placehold.it/320X220/bbb/fff';
				$eventCount = count($event->eventPhotos);
				if ($eventCount > 0) {
					$eventPhoto = $event->eventPhotos[0]->file_path.$event->eventPhotos[0]->filename;
				}
				
				?>

			        
			        <div class="media" >
			          <div class="pull-left">
					<?php
				echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-thumbnail pull-left', 'style' => 'width:170px;margin-right:5px;' ]);
			         // echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'width:50px; height: 50px;margin-bottom:5px;'));
					?>
			            </div>
			            <div class="media-body">
			            	<span class="media-heading "><?php echo  $event->eventinfo; ?></span>

			            </div>
			        </div>









	</div>

	<div class="panel-footer">Description</div>
</div>

		
		</div>

      </div><!-- end col-md-8 -->



    <div class="col-md-4" >

	<div class="panel panel-default">
		<div class="panel-heading">
		   Information
		</div>
		<ul class="list-group">
	    <li class="list-group-item">
	      <h4 class="list-group-item-heading">Date posted</h4>
	      <p ><?php echo $event->modified; ?></p>
	    </li>
	    <li class="list-group-item">
	      <h4 class="list-group-item-heading">Telephone</h4>
	      <p class="list-group-item-text"><?php echo $event->telephone; ?></p>
	    </li>
	    		</ul>
	</div>



	<div class="panel panel-default">
		<div class="panel-heading">
			Event Date
		</div>
		<ul class="list-group">
			<?php foreach($event->EventDatetimes as $date): ?>
			<li class="list-group-item"><i class="fa fa-calendar"></i> <?php echo $date->date . "<br>";?><i class="fa fa-clock-o"></i> <?php echo $date->from_time . " - ". $date->to_time; ?></li>
			<?php endforeach; ?>
			</ul>

	</div>
<style>
  #map-canvas {
    height: 400px;
    background-color: #CCC;
  }
</style>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<?php

  $ecity = '';
  $cities = Cities::findFirst($event->city);
  if($cities){
    echo '<span class="glyphicon glyphicon-map-marker"></span>';
    $ecity .= $cities->city_name;
    $ecity .= ', '. $cities->state_code_id;
    $ecity .= ', '.$cities->CountryCodes->country_name;
   echo $myaddress =  $cities->city_name.",".$cities->CountryCodes->country_name;
  }

   $whereurl = urlencode($myaddress);
   $location = file_get_contents("http://maps.googleapis.com/maps/api/geocode/json?address=$whereurl&sensor=true");
   $a=json_decode($location);
   //print_r($a);
   $a1 = $a->results[0]->geometry->location->lat;
   $a2 = $a->results[0]->geometry->location->lng;
  // $a3 = $a->results[0]->geometry->location->formatted_address;
?>


<script>
$(function() {
    var map;
      var spot = new google.maps.LatLng("<?=$a1?>","<?=$a2?>");
      var mapCenter = new google.maps.LatLng("<?=$a1?>","<?=$a2?>");
      var mapOptions = { center: mapCenter, zoom: 14, mapTypeId: google.maps.MapTypeId.ROADMAP };
      function initialize() {
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var iconShadow = new google.maps.MarkerImage(
          new google.maps.Size(59,32),
          new google.maps.Point(0,0),
          new google.maps.Point(15,32));

        var marker1 = new google.maps.Marker({
          map: map,
          position: spot,
          shadow: iconShadow
        });
        var infowindow1 = new google.maps.InfoWindow({content:"<?=$myaddress?>"});
        infowindow1.open(map,marker1);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
});
</script>


		<div class="well">


    <div id="map-canvas"></div>



		</div>


	  </div>



	 </div> <!-- end col-md-9 -->




      </div><!-- end page wrapper body -->

    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->