<div class="container top_margin" style="margin-top:70px; margin-bottom: 90px;background-color:#fff;border:1px solid #efefef">

	<div class="row">
			<div class="col-md-12 bg-primary container" style="margin-bottom:25px;">
				<h1>Add Photo</h1>
				<!--<p>Please note: This photo will not appear in search results until it has been approved by our moderators.</p>-->
			</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<?php $this->partial("layouts/elements/profile_widget"); ?>	
		</div>
	<div class="col-md-6 bg-white">
		<div class="container containerBorder col-md-12 top_margin">
			<div class="col-md-12">
				<div class="col-md-12">
					<h2 class="line-height-50 colorBlue"><strong><?php echo Phalcon\Tag::linkTo('business/view/'.$business->id, $business->name); ?></strong><strong class="text-danger"> : Add photo</strong></h2>
				</div>
				<div class="col-md-12">
					<div class="container col-md-12 ">
						<?php  echo Phalcon\Tag::form(array("business/add_photo/".$business->id, "method" => "post", "enctype"=>"multipart/form-data")); ?>
						<div class="form-group">
							<input name="photo" type="file" class="form-control file" id="photo" >
						</div>
						<div class="form-group">
						<?php if (isset($review_id)) {
							echo '<input name="review_photo" type="hidden" class="form-control file" value="'.$review_id.'">';
						} else {
							echo '<input name="review_photo" type="hidden" class="form-control file" value="0">';
						}?>
							
						</div>
						<div class="form-group">
							<label> Photo Caption</label>
							<textarea name="caption" type="textarea" rows="5" class="form-control" placeHolder=""></textarea>
						</div>
						<div class="form-group">
							<div class="pull-right text-center">
								<?php echo Phalcon\Tag::linkTo(array('business/view2/'.$business->id, 'Cancel', 'class' => 'btn btn-danger'));?>
								<button type="submit" class="btn btn-primary">&nbsp;Post&nbsp;</button>
							</div>
						</div>
						<?php  echo Phalcon\Tag::endForm(); ?>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
		<br>
	</div>
	<div class="col-md-3">
		<img id="imgPreview" src="#" alt="your image" class="hidden img-responsive img-rounded img-thumbnail"/>
	</div>
	</div>
	
	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        reader.onload = function (e) {
		            $('#imgPreview').attr('src', e.target.result);
		            $('#imgPreview').removeClass('hidden');
		        }
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#photo").change(function(){
		    readURL(this);
		});
	});
</script>
