<?php echo $this->tag->javascriptInclude("js/unitegallery.js"); ?>
<?php echo $this->tag->stylesheetLink("css/ug.css"); ?>
<?php echo $this->tag->javascriptInclude("js/ug-tiles.js"); ?>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  <div class="col-md-12" > <!-- start col-md-6 -->
  <div class="row">
	<!--<button class="btn btn-default">Add Photo</button>-->
  </div>
  <div class="row" style="padding-bottom: 20px;">
	<div id="gallery" style="display:none;">
		
		<?php foreach ($businessImages as $image) {?>
			<?php $uploader = Members::findFirstById($image->member_id); 
			      $uploaderName = $uploader->first_name . " " . substr($uploader->last_name, 0, 1);
			?>
			<a href="http://unitegallery.net">
			<img alt="<?php echo '<a href='.'#'.'>'.$image->caption. '</a><br>uploaded by: '. $uploaderName; ?>"
			     src="<?php echo $this->url->getBaseUri() . $image->file_path.$image->filename; ?>"
			     data-image="<?php echo $this->url->getBaseUri() . $image->file_path.$image->filename; ?>"
			     data-description="<?php echo $image->caption; ?>"
			     style="display:none">
			</a>
		<?php } ?>
			 
	</div>
  </div>    	
  </div> <!-- end col-md-6 -->
  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<script>
jQuery("#gallery").unitegallery({
	tile_enable_textpanel:true,
	tile_textpanel_title_text_align: "center",
	tiles_type: "justified",
});
</script>


