<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   
   </div>
   <!-- end left panel -->


  <div class="col-md-6" > <!-- start col-md-6 -->
    <h3>Picture Editor powered by Pixlr</h3>
    <div class="col-md-12">
      <a href="javascript:pixlr.overlay.show({image:'http://2.bp.blogspot.com/-vJR0Vz4HR9g/VJWBAvpz2uI/AAAAAAAADxY/3feZoIuCjQ8/s1600/Inline-Editing-using-PHP-MySQL-jQuery-and-Twitter-Bootstrap.png', title:'Inline Editing using PHP MySQL jQuery and Twitter Bootstrap'});">
		<img src="http://2.bp.blogspot.com/-vJR0Vz4HR9g/VJWBAvpz2uI/AAAAAAAADxY/3feZoIuCjQ8/s1600/Inline-Editing-using-PHP-MySQL-jQuery-and-Twitter-Bootstrap.png" class="img-responsive img-bottom-margin edit_image" title="Edit in pixlr" />
		<button class="btn btn-default btn-success text-center pull-center">Edit In Pixlr</button>
	  </a>
    </div>
  </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

   </div> 
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<?php echo $this->tag->javascriptInclude("js/pixlr.js"); ?>
<script>
  $(document).ready(function() {
    $('#google_image_div').hide();
    $('#aw0').hide();
  });
</script>
    <script type="text/javascript">
        pixlr.settings.target = 'http://localhost/pixlr-editor/save.php';
   	 	pixlr.settings.exit = 'http://localhost/pixlr-editor/';
   		pixlr.settings.method = 'GET';
   	    pixlr.settings.redirect = false;
   	    //pixlr.settings.locktarget = true;
      
	   	/*$(document).on('click','.edit_image',function(){
	   		img = $(this).data('src');
	   		pixlr.overlay.show({image:img, title:'Roof Crafters'});
	   	});*/
    </script>
