<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   
   </div>
   <!-- end left panel -->


    <div class="col-md-6" > <!-- start col-md-6 -->
        
    </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

   </div> 
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->