
<?php echo $this->tag->javascriptInclude("js/unitegallery.js"); ?>
<?php echo $this->tag->stylesheetLink("css/ug.css"); ?>
<?php echo $this->tag->javascriptInclude("js/ug-tiles.js"); ?>
<?php //echo $this->tag->stylesheetLink("css/button3d.css"); ?>
>
 <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      height: auto;
      margin: auto;
  }

  .hoverable {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.hoverable:hover {
  cursor: pointer;
  -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }

  #owl-demo .item{
  margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .owl-demo2 .item{
  margin: 3px;
  }
  .owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  body {
    background-image: url('http://theinteramerican.org/wp-content/uploads/2014/07/white-background-texture.jpg');
  }
  </style>
    <?php      
        $category= '';
        $tempMain = array();
        $tempTitle = array();
        $tempSubTitle = array();
        foreach ($businessCategoryLists as $key => $businessCategoryList) {
          $mainY = 0;
          if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
            $mainY = 1;
            $tempMain[] = $businessCategoryList->BusinessCategories->main_title;
            $category .= $businessCategoryList->BusinessCategories->main_title;
          } 
          $titleY = 0;
          if($businessCategoryList->BusinessCategories->title){
            if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
              $titleY = 1;
              $tempTitle[] = $businessCategoryList->BusinessCategories->title;
              if($mainY == 1){
                $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
              } else {
                $category .= $businessCategoryList->BusinessCategories->title;
              }
            }                 
          }
          if($businessCategoryList->BusinessCategories->sub_title){
            if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
              $tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
              if($titleY == 0){
                $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
              } else {
                $category .= $businessCategoryList->BusinessCategories->sub_title;
              }
            }
          }
          $category .= ', ';
        }  
        //$list = explode(',', $category);
        if ($businessImgCover) {
          $coverImg = $this->url->getBaseUri().$businessImgCover->file_path.$businessImgCover->filename;
        } else {
            switch ($tempMain[0]) { 
              case 'Restaurants':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Food':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Nightlife':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Automotive':
                 $coverImg = 'https://c1.staticflickr.com/1/172/392475628_ad37b95530_z.jpg';
                break;
              case 'Hotels & Travel':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Financial Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Profesional Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Event Planning & Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Real Estate':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Shopping':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Health & Medical':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Beauty & Spas':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Home Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Local Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Pets':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Active Life':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Arts & Entertainment':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Local Flavor':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Bicycles':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Education':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Public Services & Government':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Religious Organizations':
                   $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Mass Media':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              default:
                 $coverImg = 'http://placehold.it/539x230&text=Image'; 
                break;
            }
        }

      ?>
<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag Review</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
<div class="container-fluid" style="margin-top: 110px; padding-top: 0px;"><!-- container-fluid -->
  <div class="row"><!-- row[1] -->
    <div class="container"> <!-- container[1]-->
      <div class="fb-profile"><!-- fb-profile -->
      
        <img class="fb-image-lg" style="z-index: 0;width: 1140px; height: 363px;margin-bottom: 10px;
    border: 5px solid white;"src="<?php echo $coverImg; ?>" alt="Profile image example" align="left">
        <?php 
            if(isset($businessLastImg->filename)) {
              $logo = $businessLastImg->file_path.$businessLastImg->filename;
            } else {
              $logo = 'http://placehold.it/200x200&text=Logo';
            } 

            //echo Phalcon\Tag::image(array($logo, 'class' => 'img-responsive img-rounded biz-review'));
          ?>
       <!-- <img class="fb-image-profile thumbnail img-responsive img-rounded" style="margin: -170px 10px 0px 30px;
    z-index: 9;
    width: 20%;max-width:224px!important;max-height:244px!important;" src="#" alt="Profile image example" align="left">-->
        <?php 
  if (isset($userSession['type'])) {
    if ($userSession['type'] == 'Business') {
      echo  Phalcon\Tag::linkTo(array('business/photos/'. $business->id. '/'. $userSession['id'], Phalcon\Tag::image(array($logo, 'style'=>"margin: -170px 10px 0px 30px;z-index: 9;width: 20%;max-width:244px!important;max-height:244px!important; height: 300px; width: 300px;float: left;border: 5px solid white;")))); ?><h1 style="font-family: cursive; color: #103786; padding-bottom: 0px; margin-botton: 0px; float: left; padding-top: 0px; margin-top: 0px;"><?php echo $business->name;
    } else {
      echo Phalcon\Tag::image(array($logo, 'style'=>"margin: -170px 10px 0px 30px;z-index: 9;width: 20%;max-width:244px!important;max-height:244px!important; height: 300px; width: 300px;float: left;border: 5px solid white;"));
echo '<h1 style="font-family: "Comic Sans MS", cursive, sans-serif; color: #103786; padding-bottom: 0px; margin-botton: 0px; float: left; padding-top: 0px; margin-top: 0px;">'; ?><?php echo $business->name;
    }
  } else {
    echo Phalcon\Tag::image(array($logo, 'style'=>"margin: -170px 10px 0px 30px;z-index: 9;width: 20%;max-width:244px!important;max-height:244px!important; height: 300px; width: 300px;float: left;border: 5px solid white;"));
echo '<h1 style="font-family:"Comic Sans MS", cursive, sans-serif; color: #103786; padding-bottom: 0px; margin-botton: 0px; float: left; padding-top: 0px; margin-top: 0px;">'; echo $business->name;
  }
        ?> 
        <?php $checkBusinessStatus = ClaimRequests::findFirst("business_id=".$business->id . "and status = 'approved'");
           if (!empty($checkBusinessStatus)) {
            echo ' <img src="http://static19.folos.im/static/im/verified.png">';
            $businessStatus = 1;
           } else {
            $businessStatus = 0;
           }
        ?>
       </h1>
        <div class="buttons" style="float: right;">
    <button id="fuckoff" type="button" class="btn btn3d btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span> Gallery</button>
      <?php
  if (isset($userSession['type'])) {
        if ($userSession['type'] == 'Business') {
            $checkRightOwner = ClaimRequests::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id . "and status = 'approved'"); 
            if (empty($checkRightOwner)) {
              
            } else {
              echo '<a href="'.$this->url->getBaseUri().'business/add_photo/'.$business->id.'"><button id="writereviewbtn" type="button" class="btn btn3d btn-default btn-sm"><span class="glyphicon glyphicon-camera"></span> Add Photo</button> </a>';
              echo '<a href="'.$this->url->getBaseUri().'review/update_business/'.$business->id.'"><button id="writereviewbtn" type="button" class="btn btn3d btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit Business Info</button> </a>';
            }
        } else if ($userSession['type'] == 'Member') {
    echo '<a href="'.$this->url->getBaseUri().'review/add/'.$business->id.'"><button id="writereviewbtn" type="button" class="btn btn3d btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Write a Review</button> </a>';
  } 
  }
      ?>
          
      
     <?php //isset($userSession['id'])
  $checkBusinessStatus = ClaimRequests::findFirst("business_id=".$business->id . "and status = 'approved'"); 
  if (!empty($checkBusinessStatus)) {
  if (isset($userSession['id'])) {
    $checkClaimRequest = ClaimRequests::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id);
    if (!empty($checkClaimRequest)) {
      if ($checkClaimRequest->status == 'rejected') {
        echo Phalcon\Tag::linkTo(array('review/add/'.$business->id, '<span class="glyphicon glyphicon-asterisk"></span> Business Claim Rejected!', 'class' => 'btn btn3d btn-warning restricted'));       
      } else if ($checkClaimRequest->status == 'pending'){
      echo "<button onclick=\"refresh()\" class='btn btn3d btn-warning restricted refreshy'><span class=\"glyphicon glyphicon-asterisk\"></span> Business Claim Pending</button>";
        //echo Phalcon\Tag::linkTo(array('#', '<span onclick="refresh() class="glyphicon glyphicon-asterisk"></span> Business Claim Pending', 'class' => 'btn btn-warning restricted'));      
      } else {
        //echo '<i class="fa fa-star-o"></i>';      
      } 
    } 
  } 
  } else {
  if (isset($userSession['id'])) {
    $checkClaimRequest = ClaimRequests::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id);
    if (!empty($checkClaimRequest)) {
      if ($checkClaimRequest->status == 'rejected') {
        echo Phalcon\Tag::linkTo(array('#'.$business->id, '<span class="glyphicon glyphicon-asterisk"></span> Business Claim Rejected!', 'class' => 'btn btn3d btn-warning restricted'));       
      } else if ($checkClaimRequest->status == 'pending'){
        echo "<button onclick=\"refresh()\" class='btn btn3d btn-warning restricted refreshy'><span  class=\"glyphicon glyphicon-asterisk\"></span> Business Claim Pending</button>";
        //echo Phalcon\Tag::linkTo(array('#', '<span onclick="refresh()" class="glyphicon glyphicon-asterisk"></span> Business Claim Pending', 'class' => 'btn btn-warning restricted'));     
      } else {
        //echo '<i class="fa fa-star-o"></i>';      
      } 
    } else {
      echo Phalcon\Tag::linkTo(array('biz/claim/'.$business->id, '<span class="glyphicon glyphicon-asterisk"></span> Claim this Business', 'class' => 'btn btn3d btn-success restricted btn-sm'));
    }
    
  } 
  }
?>
          
        </div>

    
    </div><!-- /fb-profile -->
  </div><!-- /container[1]-->  
  </div> <!-- /row[1] --> 
<!-- GALLERY ROW -->
  <div class="row" id="gallery-wrapper" >
  <div class="panel panel-default" style="background-color: #E8E8E8;"><!-- panel default-->
  <div class="panel-body" style="http://www.rabne.tk/wp-content/uploads/2015/01/Simple-Soft-Mouse-pad-Grey-Seamless-Pattern-For-Website-Background.jpg');"> <!-- panel body -->
  
    <div class="container">
    <!--<div class="col-md-8 col-md-offset-2">    2ND GALLERY WRAPPER -->

    <!--</div>  3RD GALLERY WRAPPER -->
     </div>  
      <div id="demo">
        <div class="container">
          <div class="row">

                    <div id="owl-works" class="owl-carousel">
                    <?php foreach($businessImages as $image) {?>
                        <div class="item"><a href="<?= $this->url->getBaseUri() . $image->file_path.$image->filename ?>" title="<?= $image->caption?>" data-lightbox-gallery="gallery1"><img src="<?= $this->url->getBaseUri() . $image->file_path.$image->filename ?>" class="img-responsive" alt="img"></a></div>
                    <?php } ?>  
                    </div>
          
          </div>
        </div>

    </div><!-- demo-->  
    </div><!-- /panel body -->
</div><!-- /panel default -->
  </div>
<!-- END GALLERY ROW -->
  <div class="row">
    
  </div>
  <div id="hide-detail"><!-- HIDE DETAIL-->
  <div class="row" style="padding-top: 30px;"><!-- row[2]-->
  <div class="container"><!-- container[2] -->
    <div class="col-md-12"><!-- col-md-12[1]-->
      <div class="col-md-4"><!-- col-md-4 -->
      <div class="panel panel-default" style="width: 100%;"><!-- panel-default[1]-->
        <div class="panel-body"><!-- panel-body[1]-->
        
          <h2 class="companyClass" style="font-size: 13px;padding-top: 0px; margin-top: 0px;">
            <?php
                echo $category = substr($category, 0, -2);
            ?>
          </h2>
            <p style="color: #103786;margin-top: padding-top: 0px; margin-top: 0px;"><span class="fa fa-map-marker"></span>&nbsp; 
              <?php
                  echo $business->street . "," . $business->city . "," . $business->country_code_id;
              ?>
            </p>
            <p style="color: #103786;"><span class="fa fa-phone"></span>&nbsp; <?= $business->telephone ?></p>
            <br>
            <p><div class="rating1" style="margin-top:-15px;">
           <?php
                                                $ctr = 0; 
                                                while($ctr<$business->average_rate) {
                                                    $ctr++;
                                                }
                                                $arrayRate = explode('.', $business->average_rate);
                                                  if(isset($arrayRate[1])){
                                                  if($arrayRate[1] > 5) { 
                                                    $arrayRate[0]++; $arrayRate[1] = 0; 
                                                  }
                                                  if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                                                     $arrayRate[1] = 5; 
                                                  }
                                                } else {
                                                  $arrayRate[1] = 0;
                                                }
                                              //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on...                  
                                              
                                                if(!$arrayRate[0]){
                                                  $arrayRate[0] = 0;
                                                }
                                                $rate = $arrayRate[0].'.'.$arrayRate[1];
                                                $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                                              ?>
                                              <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i> 
<?php
  $countReviews = Reviews::find('business_id='.$business->id);
  if (count($countReviews) == 0) { echo "0 review"; } else if (count($countReviews) == 1) { echo " one review"; } else { echo count($countReviews); }
?></span>
                                              </div>
          </p>
        </div><!-- /panel-body[1]-->
      </div><!-- /panel-default[1]-->
          
    <div class="panel panel-default">
      <div class="panel-heading"><i class="glyphicon glyphicon-info-sign"></i> Business Info</div>
      <div class="panel-body">
  <?php // message here 
    if (isset($addPhotoMsg)) {
      echo '<script>alert('.$addPhotoMsg.');</script>';
      unset($addPhotoMsg);
    }
   // message here ?>
  <?php if ($reviews) { ?>
    <?php // do nothiing ?>
  <?php } else { ?>
    <?php if (isset($tempMain[0])) { 
    if ($tempMain[0] == 'Restaurants') {
      echo '<table class="table">
        <tr><td>Caters</td><td>yes</td></tr>
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Parking</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Attire</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good for Groups</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Good for Kids</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Takes Reservations</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Delivery</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Take Away</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Waiter Service</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Outdoor Seating</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good For</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Alcohol</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Noise Level</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Ambience</td><td><label class="yesNo"></label>yes</td></tr>
      </table>';
    } else if ($tempMain[0] == 'Food') {
      echo  '<table class="table">
        <tr><td>Caters</td><td>yes</td></tr>
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Parking</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Attire</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good for Groups</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Good for Kids</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Takes Reservations</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Delivery</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Take Away</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Waiter Service</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Outdoor Seating</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good For</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Alcohol</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Noise Level</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Ambience</td><td><label class="yesNo"></label>yes</td></tr>
      </table>';
    } else if ($tempMain[0] == 'Nightlife') { 
      echo  '<table class="table">
        <tr><td>Caters</td><td>yes</td></tr>
            <tr><td>Wi-Fi</td><td>yes</td></tr>         
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Attire</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good for Groups</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Good for Kids</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Takes Reservations</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Delivery</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Take Away</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Waiter Service</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Outdoor Seating</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good For</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Alcohol</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Noise Level</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Ambience</td><td><label class="yesNo"></label>yes</td></tr>
      </table>';
    } else if ($tempMain[0] == 'Automotive') {
       echo '<table class="table">
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>yes</td></tr>
      </table>';
    } else if ($tempMain[0] == 'Hotels & Travel') {
      echo  '<table class="table">
        <tr><td>Caters</td><td>yes</td></tr>
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Parking</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Attire</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good for Groups</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Good for Kids</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Takes Reservations</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Delivery</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Take Away</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Waiter Service</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Outdoor Seating</td><td><label class="yesNo"></label>no</td></tr>
            <tr><td>Good For</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Alcohol</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Noise Level</td><td><label class="yesNo"></label>yes</td></tr>
            <tr><td>Ambience</td><td><label class="yesNo"></label>yes</td></tr>
      </table>';
    } else if ($tempMain[0] == 'Financial Services') { 
             echo '<table class="table">
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>yes</td></tr>
            </table>';
    } else if ($tempMain[0] == 'Profesional Services') { 
             echo '<table class="table">
            <tr><td>Wi-Fi</td><td>yes</td></tr>
            <tr><td>Has TV</td><td>yes</td></tr>
            <tr><td>Accept Credit Cards</td><td>yes</td></tr>
            <tr><td>Bike Parking</td><td><label class="yesNo"></label>yes</td></tr>
            </table>';
    } 
            /*  case 'Financial Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Profesional Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Event Planning & Services':
                $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Real Estate':
                 $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Shopping':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Health & Medical':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Beauty & Spas':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Home Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Local Services':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Pets':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              case 'Active Life':
              case 'Arts & Entertainment':
              case 'Local Flavor':
              case 'Bicycles':
              case 'Education':
              case 'Public Services & Government':
              case 'Religious Organizations':
              case 'Mass Media':
                  $coverImg = $this->url->getBaseUri().'img/cover/bayanihan2.jpg';
                break;
              default:
                 $coverImg = 'http://placehold.it/539x230&text=Image'; 
                break;
            }*/
      ?>
    <?php } ?>
  <?php } ?>

      </div>
    </div>              

    <div id="mb_map" class="panel panel-default">
              <div class="panel-body">
                <div id="map_wrapper">
                    <div id="map_canvas" class="mapping" style="height: 300px;"></div>
                </div>
              </div>
            </div>
    
    <div class="well">
            <!--<div class="panel panel-default">--><!-- start panel classifieds -->
              <!--<div class="panel-heading" >
                <span class="glyphicon glyphicon-list-alt"> </span> Featured Classifieds
              </div>

              <div class="panel-body">

                <div class="media" style="border-bottom:1px solid #ddd;">
                  <div class="pull-left">
                    <img src="http://api.randomuser.me/portraits/med/men/4.jpg" alt="" width="50px" height="50px">
                    </div>
                    <div class="media-body">
                    <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                    <small class="muted">Posted 17 Aug 2013</small>
                  </div>
                </div>

                <div class="media" style="border-bottom:1px solid #ddd;">
                  <div class="pull-left">
                    <img src="http://api.randomuser.me/portraits/med/men/4.jpg" alt="" width="50px" height="50px">
                    </div>
                    <div class="media-body">
                    <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                    <small class="muted">Posted 13 Sep 2013</small>
                  </div>
                </div>

                <div class="media" style="border-bottom:1px solid #ddd;">
                  <div class="pull-left">
                    <img src="http://api.randomuser.me/portraits/med/men/4.jpg" alt="" width="50px" height="50px">
                    </div>
                    <div class="media-body">
                    <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                    <small class="muted">Posted 11 Jul 2013</small>
                  </div>
                </div>


                <div class="media" style="border-bottom:1px solid #ddd;">
                  <div class="pull-left">
                    <img src="http://api.randomuser.me/portraits/med/men/4.jpg" alt="" width="50px" height="50px">
                    </div>
                    <div class="media-body">
                    <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                    <small class="muted">Posted 11 Jul 2013</small>
                  </div>
                </div>


              </div>
            </div>--><!-- end panel classifieds -->

    </div>
          
      </div><!-- /col-md-4 -->

      <div class="col-md-8"><!-- col-md-8 -->
        <!--<div id="writereviewpanel">
        
          <div class="well"> 
            <form class="form-horizontal" role="form">
                <h4>Write a Review</h4>
                  <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="what is your review"></textarea>
                  </div>
                  <button class="btn btn-primary pull-right" type="button">Post</button><button id="cancelreview" class="btn btn-danger pull-right" type="button">Cancel</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><!--<li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>-</ul>
            </form>
          </div>
        </div>-->
<?php $counter = 1;?>
    <?php foreach ($reviews as $key => $review) { ?>
    <div class="well"><!-- well[1]-->
          <div class="row" style="padding-left: 10px;"> <!-- row in panelbody -->
                <?php 
                  // reviewer's photo
                  // $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$review->member_id.'"', 'primary_pic="Yes"'));
                  // $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
                  // if(isset($memberPhotos->filename)) {
                  //   $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
                  // }



                      $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
      $primaryPix = MemberPhotos::findFirst('member_id = "'.$review->member_id.'" and primary_pic="Yes"');
          if ($primaryPix) {
      $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
          }

                  
                ?>
                <div>
                  <!--<img src="http://www.starwarshelmets.com/2009/original-stunt-stormtrooper-helmet.jpg" alt="Profile image example" class="img-responsive img-rounded reviewsImage" style="max-width:100px!important;max-height:100px!important;margin-bottom:10px;">-->
                   <?php echo Phalcon\Tag::image(array($profilePic,'class'=>'pull-left','style'=> 'max-width:100px!important;max-height:100px!important;margin-bottom:10px;margin-right: 10px;')); ?>
                </div>
                <div>
                      
                      <?php if (isset($userSession['id'])) { $memberId = $userSession['id']; } else {$memberId = ''; }?>
                      <?php 
                          if ($memberId == $review->member_id) {
                              //echo '<script>alert("test");</script>';
                              echo '<div class="pull-right" style="padding-right: 20px;">';
                              echo Phalcon\Tag::linkTo(array('review/update/'.$business->id.'/'.$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Review</button> '));

                              echo Phalcon\Tag::linkTo(array('business/add_image/'.$business->id."/".$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-camera"></span> Add Photo</button>'));

                              //echo Phalcon\Tag::linkTo(array('business/add_video/'.$business->id."/".$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-facetime-video"></span> Add Video</button>'));

                              echo "<br>";

                              echo '<div class="rating1" style="margin-top:-15px;margin-top: 20px;">
                          <i class="salakot-img salakot_'.$review->rate.'_0" data-toggle="tooltip" title="'.$review->rate.'salakot rating">&nbsp;</i>
                        </div>';
                              echo '</div>';

                              echo '<p class="recommemendedReviewName"><a href="/mybarangayteam/member/page/'. $review->Members->id.'" class="text-primary">'.$review->Members->first_name . " " . $review->Members->last_name.'</a></p>';
                     echo '<p class="recommemendedReviewAddress">'.$review->Members->street . "," . $review->Members->city.'</p>';
                          } else {
                          echo "<div>";
         //echo '<script>alert("test");</script>';
                              // echo '<div class="pull-right" style="padding-right: 20px;">';
                              // echo Phalcon\Tag::linkTo(array('#'.$business->id.'/'.$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Review</button> '));

                              // echo Phalcon\Tag::linkTo(array('#'.$business->id."/".$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-camera"></span> Add Photo</button>'));

                              //echo Phalcon\Tag::linkTo(array('business/add_video/'.$business->id."/".$review->id, '<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-facetime-video"></span> Add Video</button>'));

                              //echo "<br>";
                              echo '<p class="recommemendedReviewName" style="float:left;"><a href="/mybarangayteam/member/page/'. $review->Members->id.'" class="text-primary">'.$review->Members->first_name . " " . $review->Members->last_name.'</a></p><br>';
                              //echo '<p class="recommemendedReviewAddress" style="float:left;">'.$review->Members->street . "," . $review->Members->city.'</p>';

                              echo '<div class="rating1" style="margin-top:-15px;margin-left:480px;margin-top: 20px;">
                          <i class="salakot-img salakot_'.$review->rate.'_0" data-toggle="tooltip" title="'.$review->rate.'salakot rating">&nbsp;</i>
                        </div>';

                       // echo "</div>";
                              echo '</div>';
        } 
                      ?>
                        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-camera"></span> Add Photo</button>
      <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-facetime-video"></span> Add Video</button>-->
                                  
                       <label class="colorBlue">People found this review: </label><br>
                      <?php 
                        if (isset($userSession['id'])) {
                          $checkReviewCompliment =  $likes =  ReviewCompliments::find("member_id = ". $userSession['id']. " and business_id=".$business->id);
                          if ($checkReviewCompliment == true) {

                            if (isset($userSession['id'])) {
                            $likes =  ReviewCompliments::find("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '0'"); 
                              if (count($likes) > 0) {
                                echo '<label class="colorBlue"><img style="width: 15px;padding-bottom: 5px; " src="'.$this->url->getBaseUri(). 'img/Like.png"/><b class="colorRed"> Like </b>';
                                echo count($likes);
                                echo '</label>';
                              }
                            }

                            if (isset($userSession['id'])) {
                            $helpfulness =  ReviewCompliments::find("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '1'"); 
                              if (count($helpfulness) > 0) {
                                echo '<label class="colorBlue"><img style="width: 14px;" src="'.$this->url->getBaseUri(). 'img/Helpful.png"/><b class="colorRed"> Helpful </b>';
                                echo count($helpfulness);
                                echo '</label>';
                              }  
                            }

                            if (isset($userSession['id'])) {
                            $awesomeness =  ReviewCompliments::find("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '2'"); 
                              if (count($awesomeness) > 0) {
                                echo '<label class="colorBlue"><img style="width: 18px;" src="'.$this->url->getBaseUri(). 'img/Rockon.png"/><b class="colorRed"> Awesome </b>';
                                echo count($awesomeness);
                                echo '</label>';
                              }
                            }
                          }
                        }
                      ?>
                      <?php
      // if (isset($userSession['id'])) {
      //                   $likes =  ReviewCompliments::find("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '0'"); 
      //                   if (count($likes) > 0) {
      //                     echo '<label class="colorBlue"><img style="width: 15px;padding-bottom: 5px; " src="'.$this->url->getBaseUri(). 'img/Like.png"/><b class="colorRed"> Like </b>';
      //                     echo count($likes);
      //                     echo '</label>';
      //                   }
      //                   }
                      ?>
                      
                      <?php
      // if (isset($userSession['id'])) {
      //                   $helpfulness =  ReviewCompliments::find("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '1'"); 
      //                   if (count($helpfulness) > 0) {
      //                     echo '<label class="colorBlue"><img style="width: 14px;" src="'.$this->url->getBaseUri(). 'img/Helpful.png"/><b class="colorRed"> Helpful </b>';
      //                     echo count($helpfulness);
      //                     echo '</label>';
      //                   }  
      // }   
                      ?>
              
                      <?php
      // if (isset($userSession['id'])) {
      //                   $awesomeness =  ReviewCompliments::find("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '2'"); 
      //                   if (count($awesomeness) > 0) {
      //                     echo '<label class="colorBlue"><img style="width: 18px;" src="'.$this->url->getBaseUri(). 'img/Rockon.png"/><b class="colorRed"> Awesome </b>';
      //                     echo count($awesomeness);
      //                     echo '</label>';
      //                   }
      //                   }
                      ?>
                      
                </div>
    
          </div><!-- /row in panelbody -->  
          <div class="row"><!-- row in panelbody part 2-->
              <div class="panel panel-default" style="width: 100%;"><!-- panel-default[1]-->
              <div class="panel-body"><!-- panel-body[1]-->
                <?= $review->content ?>

                <?php 
                    $reviewPhotos = BusinessImages::find(array('review_id='.$review->id));
                    if ($reviewPhotos == true) { 
             echo  '<div class="owl-demo2" class="owl-carousel">';
            
            foreach ($reviewPhotos as $image) {
              echo '<div class="item">';
               echo '<img src="'.$this->url->getBaseUri() . $image->file_path.$image->filename.'" class="hoverable" alt="image">';
              echo '</div>';
              } 
                echo '</div>';

                   }  
                ?>
                
                <span id="flagRemover<?=$counter?>">
                
                <?php
                  $countFlag = Flags::count("member_id='".$memberId."' and target_id='".$review->member_id."' and review_id='".$review->id."'");
                  $checkFlag = Flags::find("member_id='".$memberId."' and target_id='".$review->member_id."' and review_id='".$review->id."'");
                ?>
                <?php 
                if ($review->member_id != $memberId) {
                    if ($countFlag == 0) { ?> 
                <span id="flagSpan<?=$counter?>" class="glyphicon glyphicon-flag" style="float:right;cursor:pointer;color:red;" data-placement="top" onclick="flag(<?php echo $review->member_id.','.$memberId.','.$review->id.','.$counter?>)" title="flag if inapproriate" data-toggle="modal" data-target="#flagModal"></span>
                <?php } else { ?>
                   <span style="float:right;color:red;">reported</span>
                <?php } 
                } ?>

                </span>
                
                <!--<small style="color:red;float:right;">you've flagged this reviewer</small>-->
              </div><!-- /panel-default[1]-->
              </div><!-- /col-md-8 -->
          </div> <!-- /row in panelbody part2-->
                      
                      <?php 
      if (isset($userSession['type'])) {
      if ($memberId != $review->member_id && $userSession['type'] != 'Business'){ ?>
                      
                      <br>
                      <?php $reviewCompliments = ReviewCompliments::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id=".$review->id); 
                        if (empty($reviewCompliments)) {

                      ?>
                      <p>How's this review?: </p><br>
                          <ul class="list-inline">
                            

                            <li>
                            <a href="<?php echo $this->url->getBaseUri().'business/compliment/1/'.$business->id.'/'.$review->id.'/'.$review->member_id; ?>" class="useful" style="padding-left: 20px;"><button class="btn btn-default btn-xs"><img style="height: 21px; width: 13px;" src="<?php echo $this->url->getBaseUri(). 'img/Helpful.png'?>">  Helpful  </button></a>
                            </li>
                            
                            <li>
                            <a href="<?php echo $this->url->getBaseUri().'business/compliment/2/'.$business->id.'/'.$review->id.'/'.$review->member_id; ?>" class="cool"><button class="btn btn-info btn-xs"><img style="width: 18px; height: 21px;" src="<?php echo $this->url->getBaseUri(). 'img/Rockon.png'?>">  Awesome  </button></a>
                            </li>

                            <li>
      
                            <a href="<?php echo $this->url->getBaseUri().'business/compliment/0/'.$business->id.'/'.$review->id .'/'.$review->member_id; ?>" class="funny"><button class="btn btn-primary btn-xs" style="margin-left: 2px;"><img style="height: 17px; width: 21px;" src="<?php echo $this->url->getBaseUri(). 'img/Like.png'?>">  Like </button></a>
                            </li>
                          </ul> <br>
                <?php }
                } }?>
    <?php $reviewRespond = ReviewResponds::findFirstByReviewId($review->id); ?>
              <?php if ($reviewRespond) {
                 echo "<a href=\"business/view/\"".$business->id.">".$business->name."</a> ".$reviewRespond->content; 
              } else{
    if (isset($userSession['id'])) {
       $areyoutheowner = ClaimRequests::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id . " and status='approved'"); 
        if (!empty($areyoutheowner)) {
          echo "<a href=\"/mybarangayteam/biz/respond/$review->id/$review->business_id\" class=\"funny\"><button type=\"button\" class=\"btn btn-primary btn-xs btn3d\">RESPOND</button></a>";
        }
       
                
               } }?>
    </div><!-- /well[1]-->
    <?php $counter++; } ?>    
    <?php if ($counter <= 0) {
  //echo '<div class="well">BE THE FIRST TO REVIEW <span class="glyphicon glyphicon-hand-up pull-right"></span></div>';
    }?>
    <?php if ($reviews) {
      // do nothing
    } else {
  echo '<div class="well">BE THE FIRST TO REVIEW <span class="glyphicon glyphicon-hand-up pull-right"></span></div>';
    }?>
</div>

    
                    <!--<div class="pull-right" style="padding-right: 20px;">
                        <a href="/mybarangayteam/review/update/35/47"><span data-original-title="see more about this review."  data-toggle="tooltip" title=""></span><h5 style="color:#cc2222"><strong>See more...</strong></h></a>   
                        
                      </div>-->
      </div><!-- /col-md-8 -->

    </div><!-- /col-md-12[1]-->
  </div><!-- /container[2]-->
  </div><!-- /row[2]-->
  </div> <!-- HIDE-DETAIL END -->
</div><!-- /container-fluid -->
<?php $mapMarkers = "['".$business->name."', ".$business->lat.", ".$business->lng."]"; ?>
<?php $mapInfoWindow = "['<div class=\"info_content line-height-60\"><h3 class=\"text-danger\">".$business->name."</h3><p class=\"text-primary\"><strong></strong></p><p><a href=\"".$business->website."\" target=\"_BLANK\">".$business->website."</a></p><p>".$business->telephone."</p><p>".$business->street.", ".$business->city.", ".$business->Countries->country."</p></div>']"; ?>

<script type="text/javascript">
function flag(reviewer, reporter, reviewId, counter) {
  $('#reviewerId').val(reviewer);
  $('#reviewId').val(reviewId);
  $('#flaggerId').val(reporter);
  $('#flagId').val(counter);
}
  $(document).ready(function($) {
    $('#writereviewpanel').hide();
    $('#gallery-wrapper').hide();
    $('#writereviewbtn').click(function() {
      //$('#writereviewpanel').show(1000);
    });
  function refresh() {
    location.reload();
  }
  $('.refreshy').click(function() {
    location.reload();
  });
  $('#fuckoff').click(function() {
  $('#gallery-wrapper').slideToggle(1000);
  $('#hide-detail').slideToggle(1000);
  });
  jQuery("#gallery").unitegallery();
  jQuery("#gallery2").unitegallery();
  
    

    $('#cancelreview').click(function() {
     $('#writereviewpanel').hide(1000);
    });

    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);

      $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
    });

  $(".owl-demo2").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
    });

    $('#flagify').click(function() {
      $('#flagModal').modal('hide');
      if ($('#flag_type').val() == "0") {
        alertify.error("you must choose one option");
      } else {
        var flagger = $("#flaggerId").val();
        var review = $('#reviewId').val();
        var reviewer = $('#reviewerId').val();
        var flag_type = $('#flag_type').val();
        var span_counter = $('#flagId').val();
                    $.ajax({
                      url: "<?php echo $this->url->getBaseUri() . 'business/flag'; ?>",
                      type: 'GET',
                      data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                      dataType: 'json',
                      success: function(result){
                        $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
                        alertify.success("Your report has been sent to admin.");
                        console.log(result[0].result);
                      },
                      error: function(){
                        alertify.error("whoops, something went wrong.");
                      }
                 });
        }
        // $.post("<?php echo $this->url->getBaseUri() . 'business/flag'; ?>", {flagger: flagger, review: review, reviewer: reviewer}, function(result){
        //     console.log(result.review + ' - ' + result.reviewer + ' - ' + $result.flagger);
        // }, 'json');
    }); 
  });

    function initialize() {
      var map;
      var bounds = new google.maps.LatLngBounds();
      var mapOptions = {
          mapTypeId: 'roadmap'
      };
                     
      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);
          
      // Multiple Markers
      var markers = [
          <?php echo $mapMarkers; ?>
      ];
                         
      // Info Window Content
      var infoWindowContent = [
          <?php echo $mapInfoWindow; ?>
      ];
          
      // Display multiple markers on a map
      var infoWindow = new google.maps.InfoWindow(), marker, i;
      
      // Loop through our array of markers & place each one on the map  
      for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
          bounds.extend(position);
          marker = new google.maps.Marker({
              position: position,
              map: map,
              title: markers[i][0]
          });
          
          // Allow each marker to have an info window    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                  infoWindow.setContent(infoWindowContent[i][0]);
                  infoWindow.open(map, marker);
              }
          })(marker, i));

          // Automatically center the map fitting all markers on the screen
          map.fitBounds(bounds);
      }

      // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
      var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
          this.setZoom(14);
          google.maps.event.removeListener(boundsListener);
      });
      
  }
</script>