
<?php echo $this->tag->javascriptInclude("js/unitegallery.js"); ?>
<?php echo $this->tag->stylesheetLink("css/ug.css"); ?>
<?php //echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); ?>
<?php //echo $this->tag->javascriptInclude("js/ug-tiles.js"); ?>
<?php //echo $this->tag->stylesheetLink("css/button3d.css"); ?>
>
 <style>
   img{
  margin-bottom: 10px;
   }              
   .rangoliPic {  
      width: 200px;   
      height:200px;  
      -webkit-transition: all .3s ease-out;  
      -moz-transition: all .3s ease-out;  
      -o-transition: all .3s ease-out;  
      transition: all .3s ease-out;  
   }  
   .rangoliPic:hover {  
      -moz-transform: scale(2);  
      -webkit-transform: scale(2);  
      -o-transform: scale(2);  
      -ms-transform: scale(2);              
      transform: scale(2);              
   }   
  .panel-heading span {
  margin-top: -20px;
  font-size: 15px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      height: auto;
      margin: auto;
  }

  .hoverable {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.hoverable:hover {
  cursor: pointer;
  -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }

  #owl-demo .item{
    margin: 3px;
    height:250px;
    width: 300px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .owl-demo2 .item{
  margin: 3px;
  }
  .owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  .blueInfo {
    color: #023283;
  }

  

  body 
  {
    background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');
  }

  #map-canvas {
    width: 350px;
    height: 247px;
  }
  </style>

<?php $this->partial('partials/business_page/get_categories'); // script to get categories and cover image ?>
<?php $this->partial('partials/business_page/flag_modal'); // modal box for flag?>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="icon-map-2"></i> Get Directions</h4>
      </div>
      <div class="modal-body">
        under construction
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- / modal -->
<div class="container-fluid" style="margin-top: 110px; padding-top: 0px;"><!-- container-fluid -->
<?php
  if ($this->session->has("claimingsuccess")) {
    echo "<script>alertify.alert('Your business claim is complete. Please expect a call from MyBarangay')</script>";
    $this->session->remove('claimingsuccess');
  }
?>
  <div class="row">
  <div class="col-md-12">
    <?php $this->partial('partials/business_page_detail'); ?>
  </div>
  </div>

  <div class="row" style="">
    
    <div class="col-md-12" style="margin-top:15px;"><!-- COL-MD-12 -->
      <div class="container">
        <div class="row ">
          <div class="col-md-9" style="padding-left:0px;margin-left:0px">
            <?php $this->partial('partials/business_page/business_review_boxl'); ?>  
          </div>




          <div class="col-md-3" style="padding:0px;margin:0px">
          <!-- ******************* start ads *********************** -->
            <div class="col-md-12 " style="padding:0px;margin:0px 0px 0px 0px">
              <div class="panel panel-default"><!-- start panel Events -->

                <div class="panel-heading" >
                  <h4 style="padding:0px 5px;margin:0px;"><i class="fa fa-list-alt"></i> Featured Biz </h4>
                </div>


            <div class="panel-body"><!-- panel body -->


              <a href="http://www.mybarangay.com/index/knowl_center#!/service" target="_blank">

<?php echo Phalcon\Tag::image([ 'img/ad/paradise200x100.jpg', 'class' => 'img-responsive', 'style' => 'height:100px;margin-bottom:5px;border:1px solid #ccc;width:100%']); ?>
          </a>


              <a href="https://www.mybarangay.com/index/knowl_center#!/service" target="_blank"><div class="" style="background:#db0201;padding:30px 10px;font-weight:bold;text-align:center;margin-bottom:5px;height:100px;color:#fff;">
                <span class="" >Advertise in MyBarangay for as low as 32 cents per day!</span>
              </div></a>

              <?php //for ($i=0; $i < 1; $i++) {  ?>
              <a href="https://www.mybarangay.com/index/knowl_center#!/service" target="_blank"><div class="" style="background:#4DA9C0;padding:0px 10px;font-weight:bold;text-align:center;line-height:100px;margin-bottom:5px;height:100px;color:#fff">
                <span class="">Place your ad here</span>
              </div></a>
            </div>
              </div><!-- end panel events -->
            </div>
          <!-- ******************* end ads *********************** -->
            <div class="col-md-12">

            </div>
          </div>

          </div>
        </div>
    </div>
    
    </div><!-- /CONTAINER -->
  </div>
<?php
  if ($this->session->has("abra") && $this->session->has("cadabra")) {
    $updatedReview = $this->session->get("abra");
    $updatedReviewId = $this->session->get("cadabra");

    $updated_review = Reviews::findFirst($updatedReviewId);
    $profilePic = 'http://www.videogameperfection.com/wp-content/uploads/2013/11/okay-guy.jpg';
    $primaryPix = MemberPhotos::findFirst('member_id = "'.$updated_review->member_id.'" and primary_pic="Yes"');
    if ($primaryPix == true) {
      $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
    }
    //echo "<script> alertify.alert('". $this->session->get("abra")."'); </script>";
    echo "<script> alertify.alert('your review has been updated successfully'); </script>";
    echo "<script> alertify.alert('".$this->session->get("abra")."'); </script>";
    $this->session->remove("abra");
    $this->session->remove("cadabra");
  }

  if ($this->session->has('update_business')) {
    echo "<script> alertify('".$this->session->get('update_business')."') </script>";
    $this->session->remove('update_business');
  }
?>

</div><!-- /container-fluid -->
<?php $mapMarkers = "['".$business->name."', ".$business->lat.", ".$business->lng."]"; ?>
<?php $mapInfoWindow = "['<div class=\"info_content line-height-60\"><h3 class=\"text-danger\">".$business->name."</h3><p class=\"text-primary\"><strong></strong></p><p><a href=\"".$business->website."\" target=\"_BLANK\">".$business->website."</a></p><p>".$business->telephone."</p><p>".$business->street.", ".$business->city.", ".$business->CountryCodes->country_name."</p></div>']"; ?>
<?php $this->partial('partials/business_page/business_script'); ?>

