

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px;"><!-- page wrapper body -->
    

      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12 "  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                  <li>Classifieds</li>
                  <li>Real Estate</li>
                  <li class="active">preview</li>
              </ul>
          </div>
      </div>
   
      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" >
        <?php if(isset($userSession['id'])) { 
       $this->partial("partials/classfied_sidebar"); 
        } else { 
          echo "<p style='padding:5px;text-align:center'>Things preview</p>";
          }?>
        </div>
      </div>
      <!-- end left panel -->


     <div class="col-md-10 col-sm-8 boxiy"  > <!-- start col-md-12 -->


      <hr>
      <div class="row">
      <!--Carousel starts here--> 
      <div class="col-md-7">
       





 <div class="carousel slide" id="myCarousel" style="border:2px solid #333;min-height:300px">
          <div class="carousel-inner">

            <?php 
             $cc = count($thing->ThingPhotos);

                if($cc == 1 or $cc == 0){
                    $autoPhoto = 'img/nophoto.jpg'; 
                    if ($cc > 0) {
                      $autoPhoto = $thing->ThingPhotos[0]->file_path.$thing->ThingPhotos[0]->filename;
                    }
                    echo '<div class="item active">';
                      echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive']);
                    echo   '</div>';
                  }else{
                      $cx = 1;
                      foreach ($thing->ThingPhotos as $key => $photo) {
                      $photos[$key] =  $photo->file_path.$photo->filename;
                          $fileId[$key] = $photo->id;
                          if ($cx == 1) {
                           echo '<div class="item active">';
                          } else {
                           echo '<div class="item">';
                          }
                
                           echo Phalcon\Tag::image(array($photos[$key],'alt' => ''));
                               echo   '</div>';
                              $cx++;
                      } 
                  }


        ?>
          </div>  
            <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a> 
                  <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>
          </div>
<style>
  .item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.item .thumb img {
  width: 100%;
  margin: 2px;
}
.item img {
  width: 100%;  
}
</style>

        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">

  <?php
$cx = 0;
foreach ($thing->ThingPhotos as $key => $photo) {
       $photos[$key] =  $photo->file_path.$photo->filename;
       $fileId[$key] = $photo->id;
    
      echo '<div data-target="#myCarousel" data-slide-to="'.$cx.'" class="thumb">';
      echo Phalcon\Tag::image(array($photos[$key],'alt' => ''));
      echo '</div>';
       $cx++;
} 

  ?>

                </div><!-- /item -->

            </div><!-- /carousel-inner -->

        </div> <!-- /thumbcarousel -->












        </div>
        <!--carousel end here-->
              <div class="col-md-5">
             
         <div class="col-md-12">
        <?php if (isset($userSession['id'])) {  ?>
          <?php if($userSession['id'] == $thing->member_id) { ?>
    
          <?php echo Phalcon\Tag::linkTo(array('thing/update/'.$thing->id, '<i class=" glyphicon glyphicon-pencil"></i> EDIT', 'class' => 'btn btn-sm btn-primary pull-right', 'title' => 'update')); ?>
  
          <?php } ?>
        <?php } ?>


<?php
$daten = strtotime($thing->created);
$dates = date('F d Y ', $daten);   
$last_name = '';
$user = Members::findFirst($thing->member_id);
$name = $user->first_name.' '.$user->last_name;
$contact = ($thing->contact_no > 0)? $thing->contact_no : 'empty contact' ;
?>
        
          </div>
             <div class="clearfix"></div>
                  <h3> <?php echo '  '.ucfirst($thing->name); ?></h3>
                      <h4> Category : <a href="#" target="_blank"> <?php echo $thing->ThingCategories->name; ?> </a></h4>

                    <ul class="list-unstyled list-nomargin">
                      <li><i class="glyphicon glyphicon-user"></i> <?=$name?></li>
                      <li> <?php echo ($thing->email == '')? '' : '<i class="fa fa-envelope"></i> '. $thing->email ; ?></li>
                      <li><i class="glyphicon glyphicon-calendar"></i> <?=$dates?></li>
                      <li><i class="glyphicon glyphicon-phone-alt"></i> <?=$contact?></li>
            <li>
                <?php 
                  $ecity = '';
                  $cities = Cities::findFirst($thing->city);
                  if($cities){
                    echo '<span class="glyphicon glyphicon-map-marker"></span>';
                    $ecity .= $cities->city_name;
                    $ecity .= ', '. $cities->state_code_id;
                    $ecity .= ', '.$cities->CountryCodes->country_name;
                          echo $ecity;
                  }
                ?>

              </li> 


                    </ul>
         
                      <div class="well">
                      <?php echo $thing->details; ?>
                      
                      </div>
                      
<!--                   <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere metus ut sem pellentesque nec ullamcorper leo sollicitudin. Sed adipiscing placerat eros id tincidunt. Donec eu luctus tortor. Posuere metus ut sem pellentesque nec ullamcorper leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.             
                  </p>
                  
                   <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere metus ut sem pellentesque nec ullamcorper leo sollicitudin. Sed adipiscing placerat eros id tincidunt. Donec eu luctus tortor. Posuere metus ut sem pellentesque nec ullamcorper leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.       
                  </p> -->
  


              </div>  
                    
      </div>  
<!--       <hr> -->
      <!--Recent Starts here--> 
    <!--   <div class="row">
        <h3 class="col-md-12">
          Tags
        </h3> 
            <div id="our-work" class="bttop">
                <ul class="work-thumbs">
                  <li class="col-sm-6 col-md-3">
                                <a href="#"> <img src="img/portfolio/portfolio-01.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>
                  <li class="col-sm-6 col-md-3">
                                <a href="#"><img src="img/portfolio/portfolio-02.jpg" alt=""> </a>
                                <div class="rdetails">
                                  <h5>Lorem ipsum</h5>                           
                                </div>
                            </li>
                             <li class="col-sm-6 col-md-3">
                               <a href="#"> <img src="img/portfolio/portfolio-01.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>
                  <li class="col-sm-6 col-md-3">
                                <a href="#"> <img src="img/portfolio/portfolio-03.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>                            
                </ul>
            </div>
          </div> -->
          <!--Recent Ends here-->
          <hr>          


     </div> <!-- end col-md-12 -->




      </div><!-- end page wrapper body -->
    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
