<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>
<?php use Helpers\ZoidHelpers; ?>
<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>


<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}


legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

.file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }
</style>
<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

     <div style="margin-bottom:20px"><!-- page wrapper body -->

     <div class="col-md-12 "  >
          <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li>Classifieds</li>
                  <li >RelaEstate</li>
                  <li class="active">update property</li>
              </ul>
          </div>
      </div>


      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="boxiy" style="padding:0px;margin:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>
      </div>
      <!-- end left panel -->

    <div class="col-md-10 col-sm-8 boxiy" > <!-- start col-md-9 -->
      <div class="col-md-12">
            <h3  style="padding:3px;font-family:berlin;font-weight:bold">Update property</h3>
      </div>

 <div class="col-md-12">
  <?php 
  $error = '';
  if ($this->session->has("errorMessasge")) {
      $error = $this->session->get("errorMessasge");
      ?>
    <table class="table table-bordered">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <?=$error?>
    </div>

  <?php $this->session->remove("errorMessasge"); } ?>

  <?php 
  $success = '';
  if ($this->session->has("successMessasge")) {
     $success = $this->session->get("successMessasge");
     ?>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> <?=$success?>
    </div>
  <?php $this->session->remove("successMessasge"); } ?>
  </div>





  <!-- ******************************************** -->
      <div class="col-md-12">

      <?php echo Phalcon\Tag::form(array("real_estate/update/".$property->id, "method" => "post", "id" => "realtyNew", "class" => "theForm", "enctype"=>"multipart/form-data")); ?>

      <fieldset class="sched-border">
        <legend class="sched-border"> Add Information</legend>


        <legend class="pull-right" style="text-align:right">( * ) required field</legend>


        <div class="row">





          <div class="form-group col-md-4">
            <label>(*) Property Advertisement title</label>
            <input name="id" type="hidden"  value="<?php echo $realtID = $property->id; ?>" >
            <input name="name"  type="text" class="form-control"  placeholder="Property name" value="<?php echo $property->name; ?>" >
          </div>


              <div class="form-group col-md-4">
                  <label>(*) Price</label>
 
                  <?php 
                  $price = '';
                    switch ($property->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = '$ USD';
                      break;
                    }
                   ?>
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency"><?=$price?></div></span>
                  <input type="hidden" name="currency_type" id="currency_type" value="">
                  <input name="price" type="text" class="form-control" value="<?php echo $property->price; ?>" placeholder="Price" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
                         


              </div>







        <div class="form-group col-md-4">
            <label>(*) Condition</label>
            <select name="realty_condition_id"  type="select" class="form-control">
                <option value="">Select condition</option>
              <?php foreach ($realtyConditions as $key => $realtyCondition) { ?>
                <?php if($realtyCondition->id == $property->realty_condition_id){ ?>
                <option value="<?php echo $realtyCondition->id; ?>" selected><?php echo $realtyCondition->name; ?></option>
                <?php } else { ?>
                <option value="<?php echo $realtyCondition->id; ?>"><?php echo $realtyCondition->name; ?></option>
                <?php } ?>
              <?php } ?>
            </select>
        </div>


        <div class="form-group col-md-4">
            <label>(*) Type</label>
            <select name="realty_type_id"  type="select" class="form-control" id="realtyType">
                <option value="">Select Type</option>
              <?php foreach ($realtyTypes as $key => $realtyType) { ?>
                <?php if($realtyType->id == $property->realty_type_id){ ?>
                <option value="<?php echo $realtyType->id; ?>" selected><?php echo $realtyType->name; ?></option>
                <?php } else { ?>
                <option value="<?php echo $realtyType->id; ?>"><?php echo $realtyType->name; ?></option>
                <?php } ?>
              <?php } ?>
            </select>
        </div>




        <div class="form-group col-md-4">
            <label>(*) Category</label>
            <select name="realty_category_id"  type="select" class="form-control" id="realtyCategory">
                <option value="">Select category</option>
              <?php foreach ($realtyCategories as $key => $realtyCategory) { ?>
                <?php if($realtyCategory->id == $property->realty_category_id){ ?>
                  <?php $category = $realtyCategory->RealtyTypes->name.' &raquo; '.$realtyCategory->name; ?>
                  <option value="<?php echo $realtyCategory->id; ?>" selected><?php echo $category; ?></option>
                <?php } else { ?>
                  <?php $category = $realtyCategory->RealtyTypes->name.' &raquo; '.$realtyCategory->name; ?>
                  <option value="<?php echo $realtyCategory->id; ?>"><?php echo $category; ?></option>
                <?php } ?>
              <?php } ?>
            </select>
        </div>


        <div class="form-group col-md-4">
            <label>(*) House Area</label>
            <input name="house_area" type="text" class="form-control" value="<?php echo $property->house_area; ?>">
        </div>


        <div class="form-group col-md-4">
            <label>(*) Lot Area</label>
            <input name="lot_area" type="text" class="form-control" value="<?php echo $property->lot_area; ?>" >
        </div>



        <div class="form-group col-md-4">
            <label>(*) Bedroom(s)</label>
            <select name="bedrooms"  type="select" class="form-control">
                <?php for ($i=0; $i <= 10; $i++) { ?>
                  <?php if($i == $property->bedrooms){ ?>
                  <option value="<?php echo $i;  ?>" selected><?php echo $i;  ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $i;  ?>"><?php echo $i;  ?></option>
                  <?php } ?>
                <?php } ?>
            </select>
        </div>





         <div class="form-group col-md-4">
            <label>(*) Bathroom(s)</label>
            <select name="bathrooms"  type="select" class="form-control">
                <?php for ($i=0; $i <= 10.5; $i += 0.5) { ?>
                  <?php if($i == $property->bathrooms){ ?>
                  <option value="<?php echo $i;  ?>" selected><?php echo $i;  ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $i;  ?>"><?php echo $i;  ?></option>
                  <?php } ?>
                <?php } ?>
            </select>
        </div>

         <div class="form-group col-md-4">
            <label>(*) Parking</label>
            <select name="parking"  type="select" class="form-control">
                <?php for ($i=0; $i <= 10; $i++) { ?>
                  <?php if($i == $property->parking){ ?>
                  <option value="<?php echo $i;  ?>" selected><?php echo $i;  ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $i;  ?>"><?php echo $i;  ?></option>
                  <?php } ?>
                <?php } ?>
            </select>
          </div>


          <div class="form-group col-md-4">
            <label>(*) Pets Allowed</label>
            <select name="pets_allowed"  type="select" class="form-control">
                  <?php if($property->pets_allowed == 'Yes'){ ?>
                  <option value="Yes" selected>Yes</option>
                  <option value="No">No</option>
                  <?php } ?>
                  <?php if($property->pets_allowed == 'No'){ ?>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                  <?php } ?>
              </select>
          </div>


          <div class="form-group col-md-4">
            <label>Contact No.</label>
            <input name="contact_no"  type="text" class="form-control"  placeholder="Contact No" value="<?php echo $property->contact_no; ?>" >
          </div>


          <div class="form-group col-md-4">
            <label>Email</label>
            <input name="email"  type="text" class="form-control" placeholder="Email" value="<?php echo $property->email; ?>" >
          </div>



          <div class="form-group col-md-4">
            <label>Alternative contact name (optional)</label>
            <input name="other_name"  type="text" class="form-control" placeholder="Other Name"  value="<?php echo $property->other_name; ?>">
          </div>



          <div class="form-group col-md-12">
            <label>(*) Details</label>
            <textarea name="details" type="textarea" class="ckeditor form-control" >
              <?php echo $property->details; ?>
            </textarea> 
          </div>



        <div class="col-md-12">

              <div class="form-group col-md-8">
                  <label>Street (optional)</label>
                  <input name="location" type="text" class="form-control" placeholder="Street" value="<?php echo $property->street; ?>">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
            <select id="country_code" name="country_id"  type="select" class="form-control">
                <option value="">Select Country</option>
              <?php $countryCodes = CountryCodes::find(); ?>
              <?php foreach ($countryCodes as $country_code) { ?>
                <?php if ($country_code->id == $property->country_code_id) {?>
                  <option value="<?php echo $country_code->id; ?>" selected><?php echo $country_code->country_name; ?></option>
                <?php } else { ?>
                  <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php }?>
              <?php } ?>
            </select>

            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select counrty first)</label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state or province first)</label>
              <select id="city" name="city"  type="select" class="form-control">
         
              </select>
            </div>

        </div>






          <div class="col-md-12">
            <input type="submit" name="updates" value="update" class="btn btn-sm btn-success">
          </div>


        </div>
  
      </fieldset>

    <?php echo Phalcon\Tag::endForm(); ?>



<?php $autoP = count($property->RealtyPhotos); ?>
<?php if($autoP != 0){ ?>

   <fieldset class="sched-border">
      <legend class="sched-border">Photo Gallery </legend>
   
    <table class="table">
        <thead>

            <tr>
                <th>no</th>
                <th>Image</th>

                <th>Action</th>
            </tr>

        </thead>

        <tbody>
            <?php $i = 0;
            foreach ($property->RealtyPhotos as $key => $photo) {
            $photos[$key] =  $photo->file_path.$photo->filename;
            $fileId[$key] = $photo->id;
            $i++;
            ?>
             <tr class="active">

                <td><?=$i?></td>
                <td>
                <div class="img-thumbnail">
                <?php echo Phalcon\Tag::image(array($photos[$key] , 'class' => 'img-responsive ', "style" => "height:50px")); ?>
                 </div>
                </td>
                <td><a href="<?php echo $this->url->getBaseUri().'real_estate/delete_photo/'.$photo->id.'/'.$realtID?>" class="btn btn-sm btn-success">Delete</a></td>

            </tr>
            <?php } ?>

        </tbody>
    </table>
      </fieldset>
<?php } ?>



<?php $autoP = count($property->RealtyPhotos); ?>
<?php  if($autoP < 4){ ?>

      <fieldset class="sched-border">
      <legend class="sched-border"> Add Photo </legend>





        <?php echo Phalcon\Tag::form(array("real_estate/update_photo/". $property->id, "method" => "post", "id" => "realtyNew", "class" => "theForm" , "enctype"=>"multipart/form-data")); ?>

        <div class="row">
   
            <?php

             $autoP = count($property->RealtyPhotos);
              $sumP = abs($autoP - 4);
                for ($i=0; $i < $sumP; $i++) { 
             
            ?>

              <div class="form-group col-md-4">
                <label>Photo <?=$i + 1;?> </label>
                <input name="file[]" type="file" class="file"/>
              </div>

            <?php } ?>

        </div>

   
        <div class="row">
          <div class="col-md-3">
            <input type="submit" name='photoAdd' value="Add" class="btn btn-sm btn-success">
          </div>
        </div>
      <?php echo Phalcon\Tag::endForm(); ?>
      </fieldset>


<?php } ?>




      </div>
  <!-- ******************************************** -->









    </div> <!-- end col-md-9 -->



      </div><!-- end wrapper body -->

    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script>
  


$(document).ready(function(){


   
    $('#realtyNew').bootstrapValidator({



         message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {

               name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },

              country_id: {
                  validators: {
                  }
              },
              street: {
                  validators: {
                  }
              },
              city: {
                  validators: {
                  }
              },
              price: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      numeric: {
                          message: '* The price must be a number'
                      }
                  }
              },

              realty_condition_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              realty_type_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              realty_category_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },

              house_area: {
                  selector: '#sample',
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              lot_area: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              bedrooms: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
             parking: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },

              pets_allowed: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              contact_no: {
                  validators: {
                      numeric: {
                          message: '* The contact no must be a number'
                      }
                  }
              },
              email: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              other_name: {
                  validators: {
                  }
              },
              details: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },



           }
        });


  $("#country_code" ).change(function() {
      callAjaxGetCountry();
  });

  $('#state').change(function() {
      callAjaxGetCities();
  });


});



 function callAjaxGetCountry() {
   var param  = $('#country_code').val();
   $states = "<?php echo $property->state; ?>";

   console.log("states " + $states);

    var datastring = "param=" + param;
   
     $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'real_estate/getStates'; ?>",
        type: 'GET',
        data: datastring,
        dataType: 'json',
        success: function(data){
            var selectstate = '<option value="">Select State</option>';
            $.each(data, function(i, item) {

               if(data[i].id == $states){
                selectstate += '<option value="'+data[i].id+'" selected>'+data[i].name+'</option>';
               }else{
                selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
               }
              //console.log(data[i].id);
            });

            $('#state').html('');
            $('#city').html('');
            $('#state').append(selectstate);

        },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }

      });
  }


  function callAjaxGetCities() {

    var param1  = $('#state').val();
    var state = "<?php echo $property->state; ?>";
    var city = "<?php echo $property->city; ?>";
    if(!param1 || 0 === param1.length){
      param1 = state;
    }
    var datastring1 = "param1=" + param1;
    $.ajax({
      url: "<?php echo $this->url->getBaseUri() . 'real_estate/getCities'; ?>",
      type: 'GET',
      data: datastring1,
      dataType: 'json',
      success: function(success){
          var selectcity = '<option value="">Select City</option>';
          $.each(success, function(i, item) {
  
           if(success[i].id == city){
            selectcity += '<option value="'+success[i].id+'" selected>'+success[i].name+'</option>';
           }else{
            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
           }

          });

          $('#city').html('');
          $('#city').append(selectcity);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }
    });
   return false;
  }

  $('body').ready(function(){
     callAjaxGetCountry();
     callAjaxGetCities();
  });




</script>