

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px;"><!-- page wrapper body -->
    

      <div class="col-md-12 bcrumbs"  >
          <div class="col-md-12 col-xs-12 "  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                  <li>Classifieds</li>
                  <li>Real Estate</li>
                  <li class="active">preview</li>
              </ul>
          </div>




      </div>
   
      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" >
        <?php if(isset($userSession['id'])) { 
       $this->partial("partials/classfied_sidebar"); 
        } else { 
          echo "<p style='padding:5px;text-align:center'>Real Estate</p>";
          }?>
        </div>
      </div>
      <!-- end left panel -->


     <div class="col-md-10 col-sm-8 boxiy"  > <!-- start col-md-12 -->


      <hr>
      <div class="row">
      <!--Carousel starts here--> 
      <div class="col-md-7">
       

 <div class="carousel slide" id="myCarousel" style="border:2px solid #333;min-height:300px">
          <div class="carousel-inner">


<?php
             $cc = 0;
            foreach ($property->RealtyPhotos as $key => $photo) {
                $photos[$key] =  $photo->file_path.$photo->filename;
                $fileId[$key] = $photo->id;
                if ($cc == 1) {
                 echo '<div class="item active">';
                } else {
                 echo '<div class="item">';
                }
                 echo Phalcon\Tag::image(array($photos[$key],'alt' => ''));
                     echo   '</div>';
                    $cc++;
        } ?>







          </div>  
            <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a> 
                  <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>
          </div>



        </div>
        <!--carousel end here-->
              <div class="col-md-5">
             
         <div class="col-md-12">
        <?php if (isset($userSession['id'])) {  ?>
          <?php if($userSession['id'] == $property->member_id) { ?>
          <?php
               echo Phalcon\Tag::linkTo(array('car_and_truck/delete_list/'.$property->id.'/3', '<i class=" glyphicon glyphicon-trash"></i> DELETE', 'class' => 'btn btn-sm btn-primary pull-right', 'title' => 'delete'));
              echo Phalcon\Tag::linkTo(array('real_estate/update/'.$property->id, '<i class=" glyphicon glyphicon-pencil"></i> EDIT', 'class' => 'btn btn-sm btn-primary pull-right', 'title' => 'update'));
          ?>
  
          <?php } ?>
        <?php } ?>

          </div>


<?php
$daten = strtotime($property->created);
$dates = date('F d Y ', $daten);   
$user = Members::findFirst($property->member_id);
$name = $user->first_name.' '.$user->last_name;
$contact = ($property->contact_no > 0)? $property->contact_no : 'empty contact' ;
?>



             <div class="clearfix"></div>
                  <h3> <?php echo '  '.ucfirst($property->name); ?></h3>
                     <!-- <h4> Client Name : <a href="#" target="_blank"> Google.com </a></h4> -->

                    <ul class="list-unstyled list-nomargin">
                      <li><i class="glyphicon glyphicon-user"></i> <?=$name?></li>
                      <li><i class="glyphicon glyphicon-calendar"></i> <?=$daten?></li>
                      <li><i class="glyphicon glyphicon-phone-alt"></i> <?=$contact?></li>
                      <li><i class="glyphicon glyphicon-tags"></i> Street , City, Country</li> 
                    </ul>
         
                      <div class="well">
                      <?php echo $property->details; ?>
                      </div>
                      
<!--                   <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere metus ut sem pellentesque nec ullamcorper leo sollicitudin. Sed adipiscing placerat eros id tincidunt. Donec eu luctus tortor. Posuere metus ut sem pellentesque nec ullamcorper leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.             
                  </p>
                  
                   <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere metus ut sem pellentesque nec ullamcorper leo sollicitudin. Sed adipiscing placerat eros id tincidunt. Donec eu luctus tortor. Posuere metus ut sem pellentesque nec ullamcorper leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.       
                  </p> -->
  
                  
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Information</div>
    <div class="panel-body">
      <h4 style="font-weight:bold;text-align:center">Price : <?php echo number_format($property->price,2); ?></h4>
    </div>

    <!-- Table -->
    <table class="table">

      <tbody>
        <tr>
            <th style="text-align:right"><strong >Type :</strong></th>
          <td ><?php echo $property->RealtyTypes->name; ?></td>
        </tr>
        <tr>
                 <th style="text-align:right"><strong>Condition :</strong></th>
          <td><?php echo $property->RealtyConditions->name; ?></td>
        </tr>
        <tr>
            <th style="text-align:right"><strong>Categories :</strong></th>
          <td><?php echo $property->RealtyCategories->name; ?></td>
        </tr>

        <tr>
            <th style="text-align:right"><strong>Bedroom :</strong></th>
          <td><?php echo $property->bedrooms; ?></td>
        </tr>


        <tr>
            <th style="text-align:right"><strong>Bathroom :</strong></th>
          <td><?php echo $property->bathrooms; ?></td>
        </tr>


        <tr>
            <th style="text-align:right"><strong>Parking :</strong></th>
          <td><?php echo $property->parking; ?></td>
        </tr>

        <tr>
            <th style="text-align:right"><strong>House Area :</strong></th>
          <td><?php echo $property->house_area; ?> sq.m.</td>
        </tr>

        <tr>
            <th style="text-align:right"><strong>Lot Area :</strong></th>
          <td><?php echo $property->lot_area; ?> sq.m.</td>
        </tr>


      </tbody>
    </table>
</div>



              </div>  
                    
      </div>  
<!--       <hr> -->
      <!--Recent Starts here--> 
<!--       <div class="row">
        <h3 class="col-md-12">
          Tags
        </h3> 
            <div id="our-work" class="bttop">
                <ul class="work-thumbs">
                  <li class="col-sm-6 col-md-3">
                                <a href="#"> <img src="img/portfolio/portfolio-01.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>
                  <li class="col-sm-6 col-md-3">
                                <a href="#"><img src="img/portfolio/portfolio-02.jpg" alt=""> </a>
                                <div class="rdetails">
                                  <h5>Lorem ipsum</h5>                           
                                </div>
                            </li>
                             <li class="col-sm-6 col-md-3">
                               <a href="#"> <img src="img/portfolio/portfolio-01.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>
                  <li class="col-sm-6 col-md-3">
                                <a href="#"> <img src="img/portfolio/portfolio-03.jpg" alt=""> </a>
                                <div class="rdetails">
                                   <h5>Lorem ipsum</h5>                          
                                </div>
                            </li>                            
                </ul>
            </div>
          </div> -->
          <!--Recent Ends here-->
          <hr>          


     </div> <!-- end col-md-12 -->




      </div><!-- end page wrapper body -->
    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
