              <div class="single_leftbar wow fadeInDown">
                <h2><span>Categories</span></h2>
                <div class="singleleft_inner">
                 <ul class="label_nav">
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=automotive&page=1'?>">Automotive</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'search_business2?cat=lifestyle&page=1'?>">Lifestyle</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=food&page=1'?>">Food</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=health&page=1'?>">Medical, Health & Beauty</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2/professional?cat=professional&page=1'?>">Professional & Financial</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=hotel&page=1'?>">Hotels & Travel</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=realestate&page=1'?>">Real Estate</a></li>
                   <li><a href="<?=$this->url->getBaseUri() . 'review/search_business2?cat=shopping&page=1'?>">Shopping</a></li>
                 </ul>
                </div>
              </div>