<div class="single_category wow fadeInDown">
                <div class="category_title">
                  <a href="category-archive.html">Latest Events</a>
                </div>
		<?=$this->getContent();?>
                <div class="single_category_inner">
                  <ul class="catg_nav">
                  <?php $latestEvents = Events::find(array("limit" => 4, "order"=>"id DESC"));?>
                  <?php foreach ($latestEvents as $latestevent) { ?>
                    <li>
                      <div class="catgimg_container">
                        <a class="catg1_img" href="single_page.html">
                        <?php $defaultEventPix = $this->url->getBaseUri() . 'img/nophoto.jpg'; 
                          $countEventPix = count($latestevent->EventPhotos);
                          if ($countEventPix > 0) {
                            $latestEventPix = $latestevent->EventPhotos[0]->file_path.$latestevent->EventPhotos[0]->filename;
                          } else {
                            $latestEventPix = $defaultEventPix;
                          }
                          echo '<img src="'.$latestEventPix.'" alt="img" style="width:310px;height:150px;" class="img-responsive">';
                        ?>
                        </a>
                      </div>
                      <a class="catg_title" href="single_page.html"> <?=$latestevent->name?></a>
                      <div class="sing_commentbox">
                        <p><i class="fa fa-calendar"></i><?=$latestevent->event_date?></p>
                        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                      </div>
                    </li>
                    <?php } ?>
                  </ul>
                </div>
              </div>