<div class="single_leftbar wow fadeInDown">
                <h2><span>Recent Reviews</span></h2>
                <div class="singleleft_inner">
                  <ul class="catg3_snav ppost_nav wow fadeInDown">
                  <?php $recentReviews = Reviews::find(['limit' => 10]); 
                      foreach ($recentReviews as $recentReview) {
                        
                        $checkBiz = Business::count("id='".$recentReview->business_id."'");
                        if ($checkBiz > 0) {
                          $businessName = $recentReview->business->name;
                        } else {
                          $businessName = "business is not found";
                        }
                  ?>
                    <li>
                      <div class="media">
                        <a href="sing" class="media-left">
                        <?php
                          $countImg = BusinessImages::count(array('business_id="'.$recentReview->business_id.'" and primary_pic="Yes"'));

                            if ($countImg > 0) {
                              $bizImg = BusinessImages::findFirst(array('business_id="'.$recentReview->business_id.'" and primary_pic="Yes"'));

                            if (isset($bizImg)) {
                              $bizLogo = $bizImg->file_path.$bizImg->filename;
                            } else {
                              $bizLogo = 'https://lorempixel.com/70/70/';
                            }

                            echo '<img class="img-responsive" alt="business-image" src="'.$bizLogo.'" style="width:85px;height:70px;">';
                          } else {
                            echo '<img class="img-responsive" alt="business-image" src="https://lorempixel.com/85/70/" style="width:85px;height:70px;">';
                          }
                          
                        ?>
                          
                        </a>
                        <div class="media-body">
                          <a href="<?='business/view2/' . $recentReview->business->id?>" class="catg_title"><span style="font-weight:bold;color:blue;"><?=$businessName?></span></a> 
                          <span class="ellipsized">
                          <?php $x = 1; 
                                while ($x <= $recentReview->rate) { 
                                  echo '<i class="fa fa-star"></i>';
                                  $x++;
                                }?><button class="btn btn-xs btn-default"><i class="fa fa-eye"></i></button></button>
                          </span>                      
                        </div>
                      </div>
                    </li>
                    <?php } ?>
                         
                  </ul>
                </div>
              </div>