              <div class="single_leftbar wow fadeInDown"> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs custom-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Most Latest</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Most Popular</a></li>
                  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Recent Comments</a></li>
                </ul>             
                <div class="tab-content">
                  <!-- start latest -->
                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>
                     <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                         
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>
                     <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aldiquam malesuada diam eget turpis varius</a>                               
                        </div>
                      </div>
                    </li>                                      
                  </ul>
                  </div>
                  <!-- end latest -->
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                     <ul class="catg3_snav ppost_nav wow fadeInDown">
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>
                     <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                         
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>                                                   
                  </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="messages">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                      <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                          </div>
                        </div>
                      </li>
                       <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                         
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                          </div>
                        </div>
                      </li>
                       <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                          </div>
                        </div>
                      </li>                                      
                    </ul>
                  </div>                  
                </div>
              </div>