<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>

<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>

<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}

legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }
</style>

<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->




    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li>Classifieds</li>
                <li >Jobs</li>
                <li class="active">Post a job</li>
            </ul>
        </div>
    </div>







      <?php //$this->partial('partials/breadcrum'); ?>

      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" style="padding:0px;margin:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>


      </div>
      <!-- end left panel -->

    <div class="col-md-10 col-sm-8 boxiy"> <!-- start col-md-9 -->


  <hr>

     <div class="col-md-12">

       <script type="text/javascript">
            $(document).ready(function() {

                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    //Retrieve its value
                    $error = $this->session->get("errorMessasge");
                   ?>
                    
                   var error = "<?=$error?>";
                   alertify.error(error);

                <?php $this->session->remove("errorMessasge"); } ?>

               });

                <?php 
                $success = '';
                //Check if the variable is defined
                if ($this->session->has("successMessasge")) {
                    //Retrieve its value
                    $success = $this->session->get("successMessasge");
                   ?>
                   var success = "<?=$success?>";
                   alertify.error(success);
                <?php $this->session->remove("successMessasge"); } ?>
               });

        </script>

      </div>





      <div class="col-md-12">
        <?php echo Phalcon\Tag::form(array("job/new", "method" => "post", "id" => "jobNew", "class" => "theForm", "enctype"=>"multipart/form-data")); ?>


      <fieldset class="sched-border">
        <legend class="sched-border"> Add Information</legend>


        <div class="row">

              <div class="form-group col-md-4">
                <label>(*) Position </label>
                <input name="position" type="text" class="form-control "  placeholder="Position" >
              </div>

    

              <div class="form-group col-md-4">
                  <label>(*) Salary </label>
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency">$ USD</div></span>
                    <input type="hidden" name="currency_type" id="currency_type" value="">
                     <input name="salary_from" type="text" class="form-control"  placeholder="salary" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
              </div>



<!--               <div class="form-group col-md-4">
                  <label>(*) Salary end range </label>
                  <input name="salary_to" type="text" class="form-control"  placeholder="salary to">
              </div> -->

              <div class="form-group col-md-4">
                <label>(*) Category Name </label>
                <select name="job_category_id" class=" form-control" id="country">
                    <option value="">Select category</option>
                  <?php foreach ($jobCategories as $jobCategory) { ?>
                    <option value="<?php echo $jobCategory->id; ?>"><?php echo $jobCategory->name; ?></option>
                  <?php } ?>
                </select>
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Company</label>
                  <input name="company" type="text" class="form-control" placeholder="company">
              </div>


              <div class="form-group col-md-4">
                  <label>(*) Website </label>
                  <input name="website" type="url" class="form-control"  placeholder="https://www.example.com" >
              </div>

              <div class="form-group col-md-4">
                  <label>(*) Telephone </label>
                  <input name="telephone" type="text" class="form-control"  placeholder="telephone">
              </div>

              <div class="form-group col-md-4">
                  <label>Email </label>
                  <input name="email" type="text" class="form-control"  placeholder="email">
              </div>


        </div>

      </fieldset>



      <fieldset class="sched-border">

      <legend class="sched-border"> Location </legend>

        <div class="row">

              <div class="form-group col-md-8">
                  <label>(*) Address</label>
                  <input name="street" type="text" class="form-control" placeholder="Address">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
              <select id="country_code" name="country_code_id"  type="select" class="form-control">
                  <option value="">Select Country</option>
                <?php $countryCodes = CountryCodes::find();
                      foreach ($countryCodes as $country_code) { ?>
                        <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php } ?>
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select country first)</label>
              <select id="state" name="state"  type="select" class="form-control">
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state first)</label>
              <select id="city" name="city"  type="select" class="form-control">
              </select>
            </div>

        </div>
      </fieldset>



      <fieldset class="sched-border">
        <legend class="sched-border">Content Information</legend>



        <div class="row">

              <div class="form-group col-md-6">
                <label>(*) Job Description </label>
                <textarea  name="job_description" id="job_description" class="ckeditor form-control "  > 
                  Required field...
                </textarea>
              </div>

              <div class="form-group col-md-6">
                  <label>(*) Requirements </label>
                  <textarea  name="requirements" id="requirements" class="ckeditor form-control "  >
                  Required field...

                  </textarea>
              </div>
              <div class="form-group col-md-6">
                  <label>(*) Benefits </label>
                   <textarea  name="benefits" id="benefits" class="ckeditor form-control "  >
                  Required field...
                   </textarea>

              </div>

              <div class="form-group col-md-6">
                  <label>(*) How to apply </label>
                  <textarea  name="how_to_apply" id="how_to_apply" class="ckeditor form-control "  >
                  Required field...
                  </textarea>
              </div>


        </div>
    </fieldset>


      <fieldset class="sched-border">
        <legend class="sched-border">Add Photo</legend>

        <div class="row">

          <div class="form-group col-md-6">
            <div class="image-editor">
              <label for="InputName">Company Logo</label>
              <input type="file" class="cropit-image-input">
              <div class="cropit-image-preview"></div>
              <div class="image-size-label">
              Resize image
              </div>
              <input type="hidden" name="referer"/>
              <input type="range" class="cropit-image-zoom-input">
              <input type="hidden" name="image-data" class="hidden-image-data" />
            </div>
          </div>
        </div>
    </fieldset>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input type="submit" value="Add new job"  class="btn  btn-primary">
          </div>
        </div>
      </div>




        <?php echo Phalcon\Tag::endForm(); ?>
      </div>


    </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script type="text/javascript">
  $(document).ready(function() {



    $('#jobNew').bootstrapValidator({


         message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              position: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              company: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              website: {
                  validators: {
                  }
              },
              telephone: {
                  validators: {
                      numeric: {
                          message: '* The telephone must be a number'
                      }
                  }
              },
              street: {
                  validators: {
                      // notEmpty: {
                      //     message: '* Required'
                      // }
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              country_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
           
              salary_from: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      numeric: {
                          message: '* The salary must be a number'
                      }
                  }
              },
              salary_to: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      numeric: {
                          message: '* The salary must be a number'
                      }
                  }
              },
              job_description: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              requirements: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              benefits: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              how_to_apply: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },

              job_category_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              email: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                    }
              },
              country_code_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              state: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },



              file1: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }


            }
        });




    // country change
    $('#country_code').change(function() {
        var action = 'getStates/'; 
        var param  = $('#country_code').val();
        var datastring = "param=" + param;
        console.log(datastring);
         $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'job/getStates'; ?>",
            type: 'GET',
            data: datastring,
            dataType: 'json',
            success: function(data){

          // $.each(data, function( i, item ) {
          //   selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
          // });

              var selectstate = '<option value="">Select State</option>';
                $.each(data, function(i, item) {
                  selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);

                // $.each(data, function(i, item) {
                //   alert(item.name);
                // });

              $('#state').change(function() {
                  var action = 'getCities/'; 
                  var param1  = $('#state').val();
                  var datastring1 = "param1=" + param1;
                   console.log(datastring1);
                   $.ajax({
                      url: "<?php echo $this->url->getBaseUri() . 'job/getCities'; ?>",
                      type: 'GET',
                      data: datastring1,
                      dataType: 'json',
                      success: function(success){
                        var selectcity = '<option value="">Select City</option>';
                          $.each(success, function(i, item) {
                            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
                          });
                          $('#city').html('');
                          $('#city').append(selectcity);
                          // $.each(success, function(i, item) {
                          //   console.log(success.name);
                          // });
                      },
                      error: function(){
                          alert("Select country error1");
                      }
                 });
              }); 
            },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
          }
       });
    }); 



    $('.image-editor').cropit({
      height: 250,
       width: 250,   
       imageBackground: true,
      imageBackgroundBorderWidth: 15 // Width of background border
    });


    $('form').submit(function() {
            // Move cropped image data to hidden input
      var imageData = $('.image-editor').cropit('export');
      $('.hidden-image-data').val(imageData);

      // Print HTTP request params
      var formValue = $(this).serialize();
      //$('#result-data').text(formValue);


    });
 



   });





</script>