<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>



<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container" style=" background:#fff;border:1px solid #ddd"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->


    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><a href="#">Home</a></li>
                <li><a href="#">Classifieds</a></li>
                <li class="active">Jobs</li>
            </ul>
        </div>

    </div>
      <?php //$this->partial('partials/breadcrum'); ?>

  	  <!-- start left panel -->
      <div class="col-md-3" style="">
        <div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">
			<?php $this->partial("layouts/elements/profile_widget"); ?>	
        </div>

        <div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">
          <legend></legend>
            <div class="panel panel-default" >
              <div class="panel-body">
                <h3>Not here? Tell us what we're missing.</h3>
                <p class="text-info"><strong>If the business you're looking for isn't here, add it!</strong></p>
                <form action="" method="">
                  <input type="submit" class="btn btn-primary" value="Add A Business">
                </form>
              </div>
            </div>        
        </div>

      </div>
      <!-- end left panel -->

		<div class="col-md-9" style="border-left:1px solid #ddd "> <!-- start col-md-9 -->

		<div class="col-md-12">
			    <h4 class="page-head-line" style="font-weight: 900;padding-bottom: 10px;border-bottom: 2px solid #F0677C;
    text-transform: uppercase;color: #F0677C;font-size: 20px; margin-bottom: 40px;">Post a job</h4>
		</div>

    <div class="col-md-12">
      <?php echo $this->flash->output(); ?>
    </div>

      <?php echo Phalcon\Tag::form(array("job/new", "method" => "post", "id" => "carNew", "enctype"=>"multipart/form-data")); ?>
   				  		<input name="id" type="text" class="hidden" value="<?php echo $job->id; ?>">
            <div class="col-md-12">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span> Field</strong></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="InputName">Position</label>
                    <div class="input-group">
							         <input name="position" type="text" class="form-control" value="<?php echo $job->position; ?>" placeholder="Enter Position">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

    
                <div class="form-group">
                    <label for="InputEmail">Category Name</label>
                    <div class="input-group">
        							<select name="job_category_id"  type="select" class="form-control">
        								<?php foreach ($jobCategories as $key => $jobCategory) { ?>
        									<?php if($job->job_category_id == $jobCategory->id){ ?>
        										<option value="<?php echo $jobCategory->id; ?>" selected><?php echo $jobCategory->name; ?></option>
        									<?php } else { ?>
        										<option value="<?php echo $jobCategory->id; ?>"><?php echo $jobCategory->name; ?></option>
        									<?php } ?>
        								<?php } ?>
        							</select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
      


                <div class="form-group">
                    <label for="job_description">Job Description</label>
                    <div class="input-group">
                        <textarea  name="job_description" id="job_description" class="ckeditor form-control "  >
                        	<?php echo $job->job_description; ?>
                        </textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
   
                <div class="form-group">
                    <label for="requirements">Requirements</label>
                    <div class="input-group">
                        <textarea  name="requirements" id="requirements" class="form-control ckeditor" rows="3" 
                        style="height:120px" ><?php echo $job->requirements; ?></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
      
                <div class="form-group">
                    <label for="benefits">Benefits</label>
                    <div class="input-group">
                        <textarea name="benefits" id="benefits" class="form-control ckeditor" rows="3" style="height:120px" >
                        	<?php echo $job->benefits; ?>
                        </textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
     
                <div class="form-group">
                    <label for="how_to_apply">How to apply</label>
                    <div class="input-group">
                        <textarea  name="how_to_apply" id="how_to_apply" class="form-control ckeditor" rows="3" style="height:120px" ><?php echo $job->how_to_apply; ?></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
      
            </div>

            <div class="col-md-6" style="border-left:1px solid #fefefe">


            <div class="image-editor">
              <label for="InputName">Company Logo</label>
              <input type="file" class="cropit-image-input">
              <div class="cropit-image-preview"></div>
              <div class="image-size-label">
              Resize image
              </div>
              <input type="hidden" name="referer"/>
              <input type="range" class="cropit-image-zoom-input">
              <input type="hidden" name="image-data" class="hidden-image-data" />
            </div>

          <hr>

          <div class="form-group">
           <label for="salaryrange">Salary Range</label>
              <div class="row">
                <div class="col-md-6">
                  <input name="salary_from" type="text" class="form-control" value="<?php echo $job->salary_from; ?>"  placeholder="From">
                </div>
       
                <div class="col-md-6">
                  <input name="salary_to" type="text" class="form-control" value="<?php echo $job->salary_to; ?>"  placeholder="To" >
                </div>
            </div>

            </div>

          <div class="form-group">
             
                    <label for="Company">Company</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="company" id="company" placeholder="Enter company" value="<?php echo $job->company; ?>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>


             <div class="form-group">
                    <label for="Website">Website</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="website" id="website" value="<?php echo $job->website; ?>" placeholder="Enter website" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>

             <div class="form-group">
                    <label for="Telephone">Telephone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="telephone" id="telephone"  value="<?php echo $job->telephone; ?>" placeholder="Enter telephone" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>

             <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="email" id="email"  value="<?php echo $job->email; ?>" placeholder="Enter email" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>


             <div class="form-group">
                    <label for="street">Street</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="street" id="street" value="<?php echo $job->street; ?>" placeholder="Enter street" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              </div>

             <div class="form-group">
                    <label for="city">City</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="city" id="city" value="<?php echo $job->city; ?>" placeholder="Enter city" >
            
                    </div>
              </div>

             <div class="form-group">
              <label>Country</label>
		        <div class="input-group">
  					<select name="country_id"  type="select" class="form-control">
  						<?php foreach ($countries as $key => $country) { ?>
  							<?php if($job->country_id == $country->id){ ?>
  								<option value="<?php echo $country->id; ?>" selected><?php echo $country->country; ?></option>
  							<?php } else { ?>
  								<option value="<?php echo $country->id; ?>"><?php echo $country->country; ?></option>
  							<?php } ?>
  						<?php } ?>
  					</select>
		            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
		   		</div>
              </div>

            </div>


           <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
        

			<?php echo Phalcon\Tag::endForm(); ?>


		    </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script>

    $('.image-editor').cropit({
      height: 250,
       width: 250,   
       imageBackground: true,
      imageBackgroundBorderWidth: 15 // Width of background border
    });


        $('.image-editor').cropit({
          imageState: {
            src: 'http://lorempixel.com/500/400/'
          }
        });


    $('form').submit(function() {
            // Move cropped image data to hidden input
            var imageData = $('.image-editor').cropit('export');
            $('.hidden-image-data').val(imageData);

            // Print HTTP request params
            var formValue = $(this).serialize();
            //$('#result-data').text(formValue);

            console.log(formValue);
            "<?php $encoded = "+formValue+"; ?>"
   

        });
 



</script>