<?php echo $this->tag->stylesheetLink("css/picedit.css"); ?>
<?php echo $this->tag->javascriptInclude("js/picedit.js"); ?>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<div style="margin:10% auto 0 auto; display: table;">

	<form action="" method="post" enctype="multipart/form-data" id="xid">

		<input type="file" name="thefile" id="thebox">

		<div style="margin-top:30px; text-align: center;">
			<button type="submit">Submit</button>
	    </div>

	</form>

	</div>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

      </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<script type="text/javascript">
	$(function() {
		$('#thebox').picEdit({width:300, height:300});
	});
</script>
