<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   		<?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
		<?php if($memberId == $member->id) { ?>
		<?php $this->partial("layouts/elements/profile_widget") ?>
		<?php } ?>
		<?php if($memberId != $member->id) { ?>
		<?php $this->partial("layouts/elements/member_widget") ?>
		<?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<div class="panel">
			<div class="panel-body">

				<!-- <form action="1" method="post" class="form-horizontal"> -->
				<?php  echo Phalcon\Tag::form(array('member/change_password/'.$member->id, 'method' => 'post', 'class' => 'form-horizontal', 'enctype'=>'multipart/form-data')); ?>
					
					<fieldset>
						<legend><i class="fa fa-smile-o"></i> <?php echo $member->first_name.' '.$member->last_name; ?></legend>
						<div class="form-group hidden">
							<div class="col-lg-10">
								<input type="text" class="form-control" name="id" value="<?php echo $member->id; ?>">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="current_password" class="col-lg-2 control-label">Current Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" name="current_password" value="" placeholder="your current password">
							</div>
						</div>
						<div class="form-group">
							<label for="new_password" class="col-lg-2 control-label">New Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" name="new_password" value="" placeholder="enter new password">
							</div>
						</div>
						<div class="form-group">
							<label for="confirm_password" class="col-lg-2 control-label">New Password</label>
							<div class="col-lg-10">
								<input type="password" class="form-control" name="confirm_password" value="" placeholder="confirm your new password">
							</div>
						</div>
						<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
						<a href="<?php echo $this->url->getBaseUri() . 'member/page/' . $memberId; ?>"><button type="reset" class="btn btn-default">Cancel</button></a>
						<button type="submit" class="btn btn-primary">Submit</button>
						</div>
						</div>
					</fieldset>
				<?php  echo Phalcon\Tag::endForm(); ?>
			</div>
		</div>
     </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >
	<div class="panel">
			<div class="panel-body">
			<h3 class="text-primary">Another Container</h3>
			</div>
		</div>
   </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
