<?php echo $this->tag->javascriptInclude("js/unitegallery.js"); ?>
<?php echo $this->tag->stylesheetLink("css/ug.css"); ?>
<?php echo $this->tag->javascriptInclude("js/ug-tiles.js"); ?>
<style>
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom {
  background-image: url('');
}


</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
    <?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
    <?php if($memberId == $member->id) { ?>
    <?php $this->partial("layouts/elements/profile_widget") ?>
    <?php } ?>
    <?php if($memberId != $member->id) { ?>
    <?php $this->partial("layouts/elements/member_widget") ?>
    <?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-9" > <!-- start col-md-6 -->
      	<div class="row" style="padding-top: 25px;">
	<?php	if (isset($userSession['id'])) { 
		if ($member->id == $userSession['id']) {?>
      		<!-- Split button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
	
			    <!--<li><a href="$this->url->getBaseUri() . 'member/add_photo/'. $memberId;">update profile picture</a></li>-->
	
			    <li><a href="<?php echo $this->url->getBaseUri() . 'member/upload_image/'. $memberId; ?>">upload pictures to your gallery</a></li>
				
				<li>
				  <a href="<?php echo $this->url->getBaseUri() . 'member/upload_image/'. $memberId; ?>"></a>
				</li>
			  </ul>
			</div>
	<?php } }?>
			
      	</div>
		<div class="row" style="padding-top: 25px;">
			<div id="gallery" style="display:none;">


		<?php foreach ($photos as $key => $photo) {?>
			<?php 
				if (isset($userSession['id'])) {
					if ($memberId == $userSession['id']) { 			
				?>
				
			<a href="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>">
			<img alt='<span style="font-family:Berlin;font-weight:bold;color:white"><?= $photo->caption . '  |'?></span><a href="<?php echo $this->url->getBaseUri() . 'member/delete_photo/'. $photo->id; ?>"><button type="button" class="btn btn-primary btn-xs"><span style="font-weight:bold;" data-toggle="tooltip" title="delete this image">DELETE IMAGE</span></button></a> <a href="<?php echo $this->url->getBaseUri() . 'member/update_image_caption/' . $photo->id;?>"><button type="button" class="btn btn-primary btn-xs"><span style="font-weight:bold;" data-toggle="tooltip" title="delete this image">EDIT CAPTION</span></button></a><a href="<?php echo $this->url->getBaseUri() . 'member/set_primary_photo/'.$memberId.'/'.$photo->id;?>"><button type="button" class="btn btn-primary btn-xs"><span style="font-weight:bold;" data-toggle="tooltip" title="delete this image">SET PROFILE PICTURE</span></button></a>'
			     src="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>"
			     data-image="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>"
			     data-description="MyBarangay"
			     style="display:none">
			</a>
			<?php }} else { ?>
			<a href="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>">
			<img alt='<span style="font-family:Berlin;font-weight:bold;color:white"><?= $photo->caption?></span>'
			     src="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>"
			     data-image="<?php echo $this->url->getBaseUri() . $photo->file_path . $photo->filename; ?>"
			     data-description="MyBarangay"
			     style="display:none">
			</a>
			<?php } 
				?>
		<?php } ?>

			 
			</div>
		</div>
      </div> <!-- end col-md-6 -->




  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->

	<script type="text/javascript">

		jQuery(document).ready(function(){

			jQuery("#gallery").unitegallery({
				tiles_type:"justified",				
				tile_border_color:"#F0F0F0",
				tile_outline_color:"#8B8B8B",
				tile_enable_shadow:true,
				tile_shadow_color:"#8B8B8B",
				//tile_show_link_icon:true,
				lightbox_textpanel_title_color:"e5e5e5",
				theme_gallery_padding:20,
				tiles_justified_space_between:20,
				tiles_justified_row_height:200
			});

		});
		
	</script>


