
<?php use Helpers\ZoidHelpers; ?>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><a href="#">Home</a></li>
                <li class="active">Profile</li>


            </ul>
        </div>

    </div>


   <!-- start left panel -->
   <div class="col-md-3" style="">
    <?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
    <?php if($memberId == $member->id) { ?>
    <?php $this->partial("layouts/elements/profile_widget") ?>
    <?php } ?>
    <?php if($memberId != $member->id) { ?>
    <?php $this->partial("layouts/elements/member_widget") ?>
    <?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
      <div class="panel ">
      <div class="panel-heading">
        
        
      </div>
      <div class="panel-body">
      <?php if(count($reviews) > 0) { ?>
        <?php foreach ($reviews->items as $key => $review) { ?>
          <?php 
                $category= '';
                $tempMain = array();
                $tempTitle = array();
                $tempSubTitle = array();
                if(isset($review->Business->BusinessCategoryLists)){
                  foreach ($review->Business->BusinessCategoryLists as $key => $businessCategoryList) {
                    $mainY = 0;

                    if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
                      $mainY = 1;
                      $tempMain[] = $businessCategoryList->BusinessCategories->main_title;
                      $category .= $businessCategoryList->BusinessCategories->main_title;
                    } 
                    $titleY = 0;
                    if($businessCategoryList->BusinessCategories->title){
                      if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
                        $titleY = 1;
                        $tempTitle[] = $businessCategoryList->BusinessCategories->title;
                        if($mainY == 1){
                          $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
                        } else {
                          $category .= $businessCategoryList->BusinessCategories->title;
                        }
                      }                 
                    }
                    if($businessCategoryList->BusinessCategories->sub_title){
                      if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
                        $tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
                        if($titleY == 0){
                          $category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
                        } else {
                          $category .= $businessCategoryList->BusinessCategories->sub_title;
                        }
                      }
                    }
                    $category .= ', ';
                  }
                }  
                $category = substr($category, 0, -2);
              ?>
        
          
          <div class="row" data-url="business/view/<?php echo $review->Business->id; ?>">
          
            <div class="col-md-2">
                <a href="#">
                <?php 
                  $img = 'http://placehold.it/150x150&text=Image';
                  foreach ($review->Business->BusinessImages as $key => $bizImage) {
                    $img = $bizImage->file_path.$bizImage->filename;
                  }
                ?>
                  <?php echo Phalcon\Tag::image(array($img, 'class' => 'media-object img-responsive img-rounded biz-result')); ?>
                </a>
            </div>
            <div class="col-md-10">               
              <h4 class="media-heading"><strong><?php echo Phalcon\Tag::linkTo('business/view2/'.$review->Business->id.'/'.str_replace(' ', '+', $review->Business->name), $review->Business->name); ?></strong> | <small><?php echo $category; ?></small></h4>
              <?php if($memberId == $member->id) { ?>
              <div class="btn-group pull-right">
              <?php echo Phalcon\Tag::linkTo(array('review/update/'.$review->Business->id.'/'.$review->id, '<span class="fa fa-pencil"></span>', 'class' => 'text-danger', 'data-toggle' => 'tooltip', 'title' => 'Edit review')); ?>

              </div>
                <?php } ?>
                <small><span class="fa fa-map-marker"></span> <?php echo $review->Business->street; ?>, <?php echo $review->Business->city; ?>, <?php echo $review->Business->country_code_id; ?></small>
            </div>
          <div class="col-md-12">
            <small data-toggle="tooltip" title="Last updated" class="pull-right"><span class="fa fa-clock-o"></span> <?php echo date('M d, Y h:i A', strtotime($review->modified)); ?></small>
            <hr class="mid-fade">
            <p><?php echo $review->content; ?></p>
            <hr class="mid-fade">
          </div>
          </div>
          
        
        <?php } ?>


     
      <!-- row -->
      <div class="row"><!-- start col-md-9 row[2] -->
        <div class="col-md-4">
        <p class="pagination pull-left">
        <?php  echo "You are in page ", $reviews->current, " of ", $reviews->total_pages; ?></p>
        </div>

        <div class="col-md-8">
        <?php
        $link = '/mybarangayteam/member/page/'.$ids.'/';
        echo ZoidHelpers::paginate($reviews->current,$reviews->total_pages, $counter, $link);
        ?>
        </div>

      </div><!-- end col-md-9 row[2] -->
      <!-- row -->


      <?php } ?>
      </div>
    </div>
      
        <div id="divTopic">
          <ul class="list-group">
            <?php foreach ($topics as $topic) {
                echo '<li class="list-group-item">';
                  echo '<a href="'.$this->url->getBaseUri() .'forum/update_topic/'.$topic->id.'/'.$memberId.'" class="pull-right"><span class="fa fa-pencil"></span></a>';
                   echo "<a href='".$this->url->getBaseUri()."forum/view/".$topic->id."'>".$topic->subject."</a>"; 
                echo '</li>';
              } ?>
          </ul>
        </div>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >
<br>
  <div class="panel panel-default"><!-- start panel classifieds -->
      <div class="panel-heading" >
        <span class="glyphicon glyphicon-list-alt"> </span> My Classifieds 
      </div>

      <div class="panel-body">

        <legend class="text-center" >things</legend>

      <?php $things = Things::find(array("member_id=". $member->id, 'limit' => 4)); ?>
      <?php if (count($things) > 0) {?>
        <?php foreach ($things as $thing) {?>
              <div class="media" style="border-bottom:1px solid #ddd;"> <!-- media photo -->
                <div class="pull-left">
                  <?php $thingPhoto = 'http://placehold.it/230x230&text=no+photo';
                    $rPhotoCount = count($thing->thingphotos);
                    if ($rPhotoCount > 0) {
                      $thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
                    }
                    echo Phalcon\Tag::image([$thingPhoto, 'width'=>'50px', 'height'=>'50px', 'style' => 'margin-bottom:5px']);
                  ?>
                  </div>
                  <div class="media-body">
                  <span class="media-heading" style="font-weight: bold;"><a href="<?php echo $this->url->getBaseUri(). 'thing/view2/'.$thing->id; ?>"><?= $thing->name ?></a></span>
                  <small class="muted"><?= $thing->price ?></small>
                </div>
              </div><!-- media photo -->
      <?php } echo "<br>"; } ?>
   
      <legend class="text-center">real-estate</legend>



      <?php $realties = Realties::find(array("member_id=". $member->id, 'limit' => 4)); ?>
      <?php if (count($realties) > 0) {?>
      <?php foreach ($realties as $realty) {?>
      <div class="media" style="border-bottom:1px solid #ddd;">
        <div class="pull-left">
          <?php $realtyPhoto = 'http://placehold.it/230x230&text=no+photo';
            $rPhotoCount = count($realty->realtyphotos);
            if ($rPhotoCount > 0) {
              $realtyPhoto = $realty->realtyphotos[0]->file_path.$realty->realtyphotos[0]->filename;
            }
            echo Phalcon\Tag::image([$realtyPhoto, 'width'=>'50px', 'height'=>'50px', 'style' => 'margin-bottom:5px']);
          ?>
          </div>
          <div class="media-body">
          <span class="media-heading" style="font-weight: bold;"><a href="<?php echo $this->url->getBaseUri(). 'real_estate/view2/'.$realty->id; ?>"><?= $realty->name ?></a></span>
          <small class="muted"><?= $realty->price ?></small>
        </div>
      </div>
      <?php } echo "<br>"; } ?>


      <legend class="text-center">jobs</legend>


        <?php $jobs = Jobs::find(array("member_id=". $member->id, 'limit' => 4)); ?>
        <?php if (count($jobs) > 0) {?>
        <?php foreach ($jobs as $job) {?>
        <div class="media" style="border-bottom:1px solid #ddd;">
            <div class="pull-left">
            <?php 
              $jobLogo = 'http://placehold.it/230x230';
                if(count($job->JobLogos)>0){ 
                  $jobLogo = $job->JobLogos[0]->file_path.$job->JobLogos[0]->filename;
            } 
           echo Phalcon\Tag::image(array($jobLogo, 'width'=>'50px', 'height'=>'50px', 'style' => 'margin-bottom:5px'));
            ?>
            </div>
            <div class="media-body">
            <span class="media-heading" style="font-weight: bold;"><a href="<?php echo $this->url->getBaseUri(). 'job/view2/'.$job->id; ?>"><?= $job->position ?></a></span>
          </div>
        </div>
        <?php } echo "<br>"; } ?>

        <legend class="text-center">cars and trucks</legend>


        <?php $autos = Automotives::find(array("member_id=". $member->id, 'limit' => 4)); ?>
        <?php if (count($autos) > 0) {?>
        <?php foreach ($autos as $auto) {?>
        <div class="media" style="border-bottom:1px solid #ddd;">
            <div class="pull-left">
            <?php 
              $autoLogo = 'http://placehold.it/230x230';
                if(count($auto->AutomotivePhotos)>0){ 
                  $autoLogo = $auto->AutomotivePhotos[0]->file_path.$auto->AutomotivePhotos[0]->filename;
            } 
           echo Phalcon\Tag::image(array($autoLogo, 'width'=>'50px', 'height'=>'50px', 'style' => 'margin-bottom:5px'));
            ?>
            </div>
            <div class="media-body">
            <span class="media-heading" style="font-weight: bold;"><a href="<?php echo $this->url->getBaseUri(). 'car_and_truck/view2/'.$auto->id; ?>"><?= $auto->name ?></a></span>
          </div>
        </div>
        <?php } echo "<br>"; } ?>


          </div><!-- panel body -->
        </div><!-- end panel classifieds -->
      </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
  
  <script>
   $('#divTopic').hide();
  $('#getTopics').click(function() {
      $('#divTopic').fadeToggle();
    });
    
  </script>
