

<div class="container">
  
  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:110px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel">You are now Kabarangay</h4>
        </div>


        <div class="panel-body">
           <div class="row">

    
      <div class="col-md-8 col-md-offset-2">
        <h3 class="dark-grey">Welcome Home Kabarangay</h3>
 
        <p> 
     You are now part of a global Filipino community that shares, supports and empowers its members. Let us show our children and the world the resilience, will and beauty of the Filipino.  </p> 

      <p> Together we can. Isang mundo. Isang wika. Isang barangay. </p>

      <p class="text-primary" style="font-weight:bold"> We sent a confirmation email.</p>

      </div>

            </div>
        </div>

        <div class="panel-footer">
    


        </div>
      </div>
    </div>
  </div>
</div>


