<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  
#social-login-forms.horizontal{
  position:relative;
  list-style:none;
  margin:0px 0 0 0;
  padding:0px 0 0 0;
/*  border-top:1px solid #ccc*/
}

#social-login-forms.horizontal:before{

  position:absolute;
  top:0;
  left:50%;
  margin:-11px 0 0 -7px;
  padding:0 3px;
  background-color:#fff;
  font-weight:bold
}

#social-login-forms.horizontal li{
  float:left;
  margin-right:15px
}

#social-login-forms.horizontal li:last-child{
  margin-right:0
}

#social-login-forms.horizontal button{
  position:relative;
  margin:0;
  padding-left:40px;
  width:123px;
  height:46px;
  text-align:left
}

#social-login-forms.horizontal button:before{
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  display:inline-block;
  margin-right:10px;
  width:24px;
  height:24px;
  background-size:24px
}

#social-login-forms.horizontal button.google-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/google.svg?96adc01ccb9f')
}

#social-login-forms.horizontal button.facebook-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/facebook.svg?a2a431424720')
}

#social-login-forms.horizontal button.twitter-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/twitter.svg?27ea0e52dab8')
}

#social-login-forms.horizontal button.github-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/github.svg?ac848048c5e3')
}

.login-box.reset header+p{
  margin-top:-12px
}



</style>



<div class="container">
  
  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:110px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel">MyBarangay Register page.</h4>
        </div>


        <div class="panel-body">
           <div class="row">



        <div class="col-md-6">
        <?php echo Phalcon\Tag::form(array("member/signup", "method" => "post", "id" => "signupForm")); ?>
        





        <div class="form-group col-lg-12 " style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" id="first_name" name="first_name" value="" required="" title="First Name" placeholder="First Name">                                   
        </div> 
        </div>

        <div class="form-group col-lg-12" style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" id="last_name" name="last_name" value="" required="" title="Last Name" placeholder="Last Name">                                   
        </div> 
        </div>



        <div class="form-group col-lg-12" style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" id="email" name="email" value="" minlength="6" required="" title="Email" 
        placeholder="Email address">                                   
        </div> 
        </div>


        <div class="form-group col-lg-12" style="padding-bottom:10px" >                
        <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" 
         value="" required="" title="Please enter your password"  placeholder="Password">
        <span class="help-block"></span>
        </div>
        </div>

        <div class="form-group col-lg-12" style="padding-bottom:10px" >                
        <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="confirm_password"
         name="confirm_password" value="" required="" 
        title="Please enter your password" placeholder="Repeat Password">
        <span class="help-block"></span>
        </div>
        </div>


                
                

        <div class="col-sm-6">
          <input type="checkbox"  name ="iagree" class="checkbox" />I agree to the terms
        </div>
        <div class="col-sm-6">
          <a href="<?php echo $this->url->getBaseUri().'index/info#!/terms'; ?>" target="blank_" class="pull-right" style="text-decoration:underline">terms and condition</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
        <button type="submit" class="btn btn-sm btn-primary">Register</button>
       </div>
      

     <?php echo Phalcon\Tag::endForm(); ?>
      </div>
    
      <div class="col-md-6">
        <h3 class="dark-grey">Welcome Home Kabarangay</h3>
<!--         <p>
          By clicking on "Register" you agree to The Company's' Terms and Conditions
        </p>
        <p>
          While rare, prices are subject to change based on exchange rate fluctuations - 
          should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
        </p>
        <p>
          Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
        </p>
        <p>
          Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
        </p> -->
            <p>   
      MyBarangay serves as virtual bridge that connects Filipinos all over the world like never before. It offers a platform for all of us to follow our hearts, share our thoughts, connect with our kabarangays and truly feel at home. 

        </p>


        <p> 
      Be part of a global Filipino community that shares, supports and empowers its members. Let us show our children and the world the resilience, will and beauty of the Filipino.  </p>  <p> 
      Together we can. Isang mundo. Isang wika. Isang barangay. </p>



      </div>

            </div>
        </div>

  <div class="panel-footer">
    
      <ul id="social-login-forms" class="clearfix horizontal">
            
        <li>

          <form class="connect-button" >
         
            <button type="submit" class="aui-button google-button disabled" >
              Google
            </button>
          </form>
      </li>
        <li>

        <form class="connect-button">
          <button type="submit" class="aui-button facebook-button disabled">
            Facebook
          </button>
        </form>
      </li>
        <li>

<!--       <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button twitter-button">
          Twitter
        </button>
      </form>
      </li>
        <li>

      <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button github-button">
          GitHub
        </button>
      </form> -->


      </li>
      </ul>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {











   $('#signupForm').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {

              first_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              last_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              last_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              iagree: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },


              // password: {
              //     validators: {
              //         notEmpty: {
              //             message: '* Required'
              //         }
              //     }
              // },
              password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    },
                    callback: {
                        message: 'The password is not valid',
                        callback: function(value, validator, $field) {
                            if (value === '') {
                                return true;
                            }

                            // Check the password strength
                            if (value.length < 6) {
                                return {
                                    valid: false,
                                    message: 'It must be more than 6 characters long'
                                };
                            }

                            // The password doesn't contain any uppercase character
                            if (value === value.toLowerCase()) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one upper case character'
                                }
                            }

                            // The password doesn't contain any uppercase character
                            if (value === value.toUpperCase()) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one lower case character'
                                }
                            }

                            // The password doesn't contain any digit
                            if (value.search(/[0-9]/) < 0) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one digit'
                                }
                            }
                            return true;
                        }
                    }
                  }
              },

              confirm_password: {
                  validators: {
                        notEmpty: {
                            message: '* Required'
                        },
                      identical: {
                          field: 'password',
                          message: 'The password and its confirm are not the same'
                      }
                  }
              }

            }
        });

});


</script>



    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>