<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   	<?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
	<?php if($memberId == $member->id) { ?>
	<?php $this->partial("layouts/elements/profile_widget") ?>
	<?php } ?>
	<?php if($memberId != $member->id) { ?>
	<?php $this->partial("layouts/elements/member_widget") ?>
	<?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<div class="container containerBorder col-md-12">
			<div class="col-md-12">
				<div class="col-md-12">
					<h2 class="line-height-50 colorBlue"><strong><?php echo Phalcon\Tag::linkTo('member/page/'.$member->id, $member->first_name.' '.substr($member->last_name, 0, 1).'.'); ?></strong><strong class="text-danger"> : Update caption</strong></h2>
				</div>
				<div class="col-md-12">
					<div class="container col-md-12 ">
						<?php $this->flash->output(); ?>
						<?php  echo Phalcon\Tag::form(array("member/update_image_caption/".$photo->id, "method" => "post", "enctype"=>"multipart/form-data")); ?>
						<div class="form-group">
							<label> Caption</label>
							<textarea name="caption" type="textarea" rows="5" class="form-control" placeHolder=""><?php echo $photo->caption; ?></textarea>
						</div>
						<div class="form-group">
							<div class="pull-right text-center">
								<?php echo Phalcon\Tag::linkTo(array('member/gallery/'.$member->id, 'Back to Gallery', 'class' => 'btn btn-danger'));?>
								<button type="submit" class="btn btn-primary">&nbsp;Update&nbsp;</button>
							</div>
						</div>
						<?php  echo Phalcon\Tag::endForm(); ?>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

      </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
