<?php
//Check if the variable is defined
        if ($this->session->has("updateProfile")) {

            //Retrieve its value
            $msg = $this->session->get("updateProfile");
      //Remove a session variable
        $this->session->remove("updateProfile");
      echo "<script>alertify.alert('".$msg."');</script>";
        }
?>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px;"><!-- page wrapper body -->


      <div class="col-md-6 col-md-offset-3"><?php //$this->flash->output(); ?></div>
      <div class="clearfix"></div>

        <div class="row">
        <div class="col-md-3">
          <?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
          <?php if($memberId == $member->id) { ?>
          <?php $this->partial("layouts/elements/profile_widget") ?>
          <?php } ?>
          <?php if($memberId != $member->id) { ?>
          <?php $this->partial("layouts/elements/member_widget") ?>
          <?php } ?>
        </div>
        <div class="col-md-6">
          <div class="panel">
            <div class="panel-body">
              <!-- <form action="1" method="post" class="form-horizontal"> -->
              <?php  echo Phalcon\Tag::form(array('member/update/'.$member->id, 'method' => 'post', 'class' => 'form-horizontal', 'enctype'=>'multipart/form-data')); ?>
                <fieldset>
                  <legend><i class="fa fa-smile-o"></i> <?php echo $member->first_name.' '.$member->last_name; ?></legend>
                  <div class="form-group hidden">
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="id" value="<?php echo $member->id; ?>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">First name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="first_name" value="<?php echo $member->first_name; ?>" placeholder="First Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Last name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="last_name" value="<?php echo $member->last_name; ?>" placeholder="Last name">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Country</label>
                    <div class="col-lg-10">
                    <select id="country_id" name="country_id"  type="select" class="form-control">
                      <option value="">Select country</option>
                      <?php $countries = CountryCodes::find(); ?>
                      <?php foreach ($countries as $key => $country) { ?>
                        <?php if($country->id == $member->country_code_id){ ?>
                        <option value="<?php echo $country->id; ?>" selected><?php echo $country->country_name; ?></option>
                        <?php } else { ?>
                        <option value="<?php echo $country->id; ?>"><?php echo $country->country_name; ?></option>
                      <?php } 
      }?>
                    </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">State or Province</label>
                    <div class="col-lg-10">

                      <input id="state" type="text" class="form-control" name="state" value="" placeholder="State/Province">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">City</label>
                    <div class="col-lg-10">
                      <input id="city" type="text" class="form-control" name="city" value="<?php echo $member->city; ?>" placeholder="City">
                    </div>
                  </div>
		
		  <div class="form-group">
                    <label  class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="street" value="<?php echo $member->street; ?>" placeholder="Street">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" id="inputEmail" name="email" value="<?php echo $member->email; ?>" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Mobile</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="mobile" value="<?php echo $member->mobile; ?>" placeholder="Mobile">
                    </div>
                  </div>
                  <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                  <a href="<?php echo $this->url->getBaseUri() . 'member/page/' . $memberId?>"><button type="reset" class="btn btn-default">Cancel</button></a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  </div>
                </fieldset>
              <?php  echo Phalcon\Tag::endForm(); ?>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-body">
            <a href="<?php echo $this->url->getBaseUri(); ?>member/change_password/<?php echo $member->id; ?>"><h5 class="text-primary"><i class="fa fa-key"></i> Change Password</h5></a>
            </div>
          </div>

          <div class="panel">
            <div class="panel-body">
            <h3 class="text-primary"></h3>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {

});
</script>
