<!--    'autoBizList',
        'CommunityBizList',
        'HBeautyBizList',
        'HServBizList',
        'FinBizList',
        'HTravelBizList',
        'RealtyBizList',
        'ShoppingBizList',
        'FoodBizList'
 -->
<style>
.round {
    border-radius: 50%;
    display:block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.round img {
    width: 100%;
}

/* Ribbons  */
.cornerRb {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  left: -14%;
  overflow: hidden;
  position: absolute;
  top: -2%;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  width: 100px;
  z-index: 2;
  padding:14px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}
.cornerRb a {
  color: #fff;
  display: block;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}
.cornerRb.featuredAds a {
  color: #fff;
}
.cornerRb.featuredAds {
    background: #FB8D17;
}
</style>

<div class="adds-wrapper"><!-- start ads wrapper --> 

<?php 
if(count($HBeautyBizListcamp) > 0){
    foreach ($HBeautyBizListcamp as $key => $biz) { ?>
        <div class="item-list make-grid">
            <div class="cornerRb featuredAds">
              <a href="<?php echo $this->url->getBaseUri().'business/view2/'.$biz->Business->id; ?>"> Ad</a>
            </div>
            <div class="col-sm-2 no-padding photobox">
                <div class="add-image custom-thumbnail" style="box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;border:5px solid #fff;"> 
                    <?php 
                        $businessLastImg = 'img/nophoto.jpg'; 
                        foreach ($biz->Business->BusinessImages as $key => $bizImages) { 
                            $businessLastImg = $bizImages->file_path.$bizImages->filename;
                        } 
                        echo Phalcon\Tag::image(array($businessLastImg, 'class' => ''));
                    ?>
                </div>
            </div>

            <div class="col-sm-7 add-desc-box"><!-- start add-desc-box -->
                <div class="add-details"><!-- start add-details -->

                   <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $biz->Business->name;?> " > 
                        <?php echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->Business->id, $biz->Business->name, 'class' => ''));  ?>
                    </h4>
                    <!--start of rating -->
                    <div class="rating1" style="padding:4px 0px">
                        <?php
                        $aveRate = Reviews::average(array(
                          "column"     => "rate",
                          "conditions" => "business_id ={$biz->Business->id}"
                        ));
                        $floatedAverage = (float)$aveRate;
                        $arrayRate = explode('.', $floatedAverage);
                        //$arrayRate = explode('.', $biz->average_rate);

                        if(isset($arrayRate[1])){
                        if($arrayRate[1] > 5) { 
                          $arrayRate[0]++; $arrayRate[1] = 0; 
                        }
                        if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                          $arrayRate[1] = 5; 
                        }
                        } else {
                        $arrayRate[1] = 0;
                        }

                        $rate = $arrayRate[0].'.'.$arrayRate[1];
                        $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                        $tooltipRating = '';
                        if ($rate == 1 || $rate == 1.5) {
                          $tooltipRating = $rate ." salakot- Hmmm...I don't think so.";
                        } else if ($rate == 2 || $rate == 2.5) {
                          $tooltipRating = $rate ." salakots- Not so bad.";
                        } else if ($rate == 3 || $rate == 3.5) {
                          $tooltipRating = $rate ." salakots- Just fine.";
                        } else if ($rate == 4 || $rate == 4.5) {
                          $tooltipRating = $rate ." salakots- Cool! I am a fan.";
                        } else if ($rate == 5 || $rate == 5.0) {
                          $tooltipRating = $rate ." salakots- Perfect! This is exactly what I need.";
                        }
                        ?>
                        <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $tooltipRating;?>">&nbsp;</i>
                    </div>
                    <!--end of rating -->
                    <blockquote >
                        <span class="info-row">
                            <?php 
                              $businessCategoryLists = BusinessCategoryLists::findFirst('business_id = "'.$biz->Business->id.'" ');
                              $bussCat = BusinessCategories::findFirst($businessCategoryLists->business_category_id);
                              $catname = '';
                              $catname .= '<small class="ellipsis2" ><i class="fa fa-asterisk"></i> ';
                              $catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
                              $catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
                              $catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
                              $catname .= '</small>' ;
                              echo $catname;
                            ?>
                        </span> 
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
                            <?php echo ' '.$biz->Business->city.", ".$biz->Business->CountryCodes->country_name; ?>
                        </small>
                    </blockquote>

                </div><!-- end add-details -->
            </div><!-- end add-desc-box -->

            <?php 
                $preview = Reviews::findFirstByBusinessId($biz->Business->id);
                if ($preview){
                    $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
                    $profilePic = 'https://placehold.it/50x50&text=NO+PROFILE+PIC';
                    if(isset($memberPhotos->filename)) {
                        $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
                    }
                }

             ?>
             <!-- start price-box -->
            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                   <div class="pull-left">
                        <div class="round">
                            <?php
                                if ($preview){
                                    echo '<a href="'.$this->url->getBaseUri() . 'member/page/'.$preview->member_id.'">';
                                        echo Phalcon\Tag::image(array($profilePic));
                                    echo '</a>';
                                }else{
                                    echo '<img alt="Reviews" src="'.$avatar.'" >';
                                }
                            ?>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="media-heading">
                        <?php
                            if ($preview){
                                $reviewPrev = strip_tags($preview->content);
                                if (strlen($reviewPrev) > 40) {
                                $stringCut = substr($reviewPrev, 0, 40);
                                    $reviewPrev = substr($stringCut, 0, strrpos($stringCut, ' ')).'... <a href="'.$this->url->getBaseUri().'review/add/'.$biz->Business->id.'"><small style="font-weight:bold">Read More</small></a>'; 
                                }
                                echo $reviewPrev;
                            }else{
                                echo '<a class="restricted" href="'.$this->url->getBaseUri() . 'review/add/'.$biz->Business->id.'" style="font-weight:bold;">Be the first to review</a>';
                                echo '<p><i class="fa fa-star"></i> 0 review</p>';
                            }
                        ?>
                        </div>
                    </div>
                </div><!-- end of media -->
                
                <a class="restricted btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'review/add/'.$biz->Business->id; ?>"> 
                    <i class="fa fa-star"></i> <span>Write a review</span> 
                </a>
            </div><!-- end price-box -->
        </div>



<?php }
} ?> 



    <?php 
    foreach ($HBeautyBizList as $biz) { 
    ?>
        <div class="item-list make-grid">

            <div class="col-sm-2 no-padding photobox">
                <a href="<?php echo $this->url->getBaseUri().'business/view2/'.$biz->id; ?>">
                <div class="add-image custom-thumbnail" style="box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;border:5px solid #fff;"> 
                    <?php 
                        $businessLastImg = 'img/nophoto.jpg'; 
                        foreach ($biz->BusinessImages as $key => $bizImages) { 
                            $businessLastImg = $bizImages->file_path.$bizImages->filename;
                        } 
                        echo Phalcon\Tag::image(array($businessLastImg, 'class' => ''));
                    ?>
                </div>
                </a>
            </div>

            <div class="col-sm-7 add-desc-box"><!-- start add-desc-box -->
                <div class="add-details"><!-- start add-details -->

                    <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $biz->name;?> " > 
                        <?php echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->id, $biz->name, 'class' => ''));  ?>
                    </h4>
                    <!--start of rating -->
                    <div class="rating1" style="padding:4px 0px">
                        <?php
                        $aveRate = Reviews::average(array(
                          "column"     => "rate",
                          "conditions" => "business_id ={$biz->id}"
                        ));
                        $floatedAverage = (float)$aveRate;
                        $arrayRate = explode('.', $floatedAverage);
                        //$arrayRate = explode('.', $biz->average_rate);

                        if(isset($arrayRate[1])){
                        if($arrayRate[1] > 5) { 
                          $arrayRate[0]++; $arrayRate[1] = 0; 
                        }
                        if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                          $arrayRate[1] = 5; 
                        }
                        } else {
                        $arrayRate[1] = 0;
                        }

                        $rate = $arrayRate[0].'.'.$arrayRate[1];
                        $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                        $tooltipRating = '';
                        if ($rate == 1 || $rate == 1.5) {
                          $tooltipRating = $rate ." salakot- Hmmm...I don't think so.";
                        } else if ($rate == 2 || $rate == 2.5) {
                          $tooltipRating = $rate ." salakots- Not so bad.";
                        } else if ($rate == 3 || $rate == 3.5) {
                          $tooltipRating = $rate ." salakots- Just fine.";
                        } else if ($rate == 4 || $rate == 4.5) {
                          $tooltipRating = $rate ." salakots- Cool! I am a fan.";
                        } else if ($rate == 5 || $rate == 5.0) {
                          $tooltipRating = $rate ." salakots- Perfect! This is exactly what I need.";
                        }
                        ?>
                        <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $tooltipRating;?>">&nbsp;</i>
                    </div>
                    <!--end of rating -->

                    <blockquote >
                        <span class="info-row">
                            <?php 
                              $businessCategoryLists = BusinessCategoryLists::findFirst('business_id = "'.$biz->id.'" ');
                              $bussCat = BusinessCategories::findFirst($businessCategoryLists->business_category_id);
                              $catname = '';
                              $catname .= '<small class="ellipsis2" ><i class="fa fa-asterisk"></i> ';
                              $catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
                              $catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
                              $catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
                              $catname .= '</small>' ;
                              echo $catname;
                            ?>
                        </span> 
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
                            <?php echo ' '.$biz->city.", ".$biz->CountryCodes->country_name; ?>
                        </small>
                    </blockquote>
                </div><!-- end add-details -->
            </div><!-- end add-desc-box -->

            <?php 
                $preview = Reviews::findFirstByBusinessId($biz->id);
                if ($preview){
                    $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
                    $profilePic = 'https://placehold.it/50x50&text=NO+PROFILE+PIC';
                    if(isset($memberPhotos->filename)) {
                        $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
                    }
                }

             ?>
             <!-- start price-box -->
            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                   <div class="pull-left">
                        <div class="round">
                            <?php
                                if ($preview){
                                    echo '<a href="'.$this->url->getBaseUri() . 'member/page/'.$preview->member_id.'">';
                                        echo Phalcon\Tag::image(array($profilePic));
                                    echo '</a>';
                                }else{
                                    echo '<img alt="Reviews" src="'.$avatar.'" >';
                                }
                            ?>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="media-heading">
                        <?php
                            if ($preview){
                                $reviewPrev = strip_tags($preview->content);
                                if (strlen($reviewPrev) > 40) {
                                $stringCut = substr($reviewPrev, 0, 40);
                                    $reviewPrev = substr($stringCut, 0, strrpos($stringCut, ' ')).'... <a href="'.$this->url->getBaseUri().'review/add/'.$biz->id.'"><small style="font-weight:bold">Read More</small></a>'; 
                                }
                                echo $reviewPrev;
                            }else{
                                echo '<a class="restricted" href="'.$this->url->getBaseUri() . 'review/add/'.$biz->id.'" style="font-weight:bold;">Be the first to review</a>';
                                echo '<p><i class="fa fa-star"></i> 0 review</p>';
                            }
                        ?>
                        </div>
                    </div>
                </div><!-- end of media -->
                
                <a class="restricted btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'review/add/'.$biz->id; ?>"> 
                    <i class="fa fa-star"></i> <span>Write a review</span> 
                </a>
            </div><!-- end price-box -->



        </div>

<?php  } ?> 
</div><!-- end ads wrapper --> 
