<?php
  echo $this->tag->stylesheetLink('themes3/themes/summernote2/summernote.css');
  echo $this->tag->stylesheetLink('themes3/css/list-type.css'); 
  echo $this->tag->javascriptInclude('themes3/themes/summernote2/summernote.js');
  echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); 
?>

<script type="text/javascript">
  
  $('.adds-wrapper').each(function() {
      $(this).children('.item-list').matchHeight({
        byRow: byRow
      });
    });
  
</script>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  <br><br>
   <!-- start left panel -->
   <div class="col-md-3" style="">
              <div class="panel panel-default"><!-- start panel Events -->

                <div class="panel-heading" >
                  <h4 style="padding:0px 5px;margin:0px;"><i class="fa fa-list-alt"></i> Featured Biz </h4>
                </div>

                <div class="panel-body"><!-- panel body -->

                  <?php for ($i=0; $i < 3; $i++) {  ?>
                  <a href="http://www.mybarangay.com/index/knowl_center#!/service" target="_blank">
                  <div class="" style="background:#4DA9C0;padding:0px 10px;font-weight:bold;text-align:center;line-height:100px;margin-bottom:5px;height:100px;color:#fff">
                    <span class="">Place your ad here</span>
                  </div></a>
                  <?php } ?>
                </div>
              </div><!-- end panel events -->
   </div>
   <!-- end left panel -->


  <div class="col-md-6" > <!-- start col-md-6 -->
  <center><h2 style="color:red;">MyBarangay for Business Ad Campaign</h2></center>

  <form method="post">
    <label for="business">Choose Business:</label>
    <select name="business" class="form-control">
       <?php 
          $getClaimedBusiness = ClaimRequests::find("member_id=" . $member->id . " and status='approved'"); 
            $businessList = array();
              foreach ($getClaimedBusiness as $claimed) {
              $getBizDetail = Business::findFirst("id=". $claimed->business_id);
              echo "<option value='".$getBizDetail->id."'>".$getBizDetail->name."</option>";
            }   
       ?>
    </select>

    <small>Your ad should tell users what makes your business unique. This text will also display in the ' <i class="fa fa-credit-card"></i> ' tab on your page.</small><br><br>
    <label for="content">Describe your Business's Specialties</label>
      <textarea id="content" name="content" rows="4" class="form-control summernote">
      <?php if (isset($postContent)) { echo $postContent; }?>
      </textarea>

      <br>
      <center><button class="btn btn-info">PREVIEW</button>
      <?php if (isset($business) && isset($postContent)) { ?>
        <button type="button" class="btn btn-primary" onclick="submitAd(<?=$member->id .','. $business->id?>)">SUBMIT</button>
      <?php } ?>
      </center>
  </form>
  </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >       
         <?php 
            
            if (isset($business) && isset($postContent)) 
            {
              $this->partial('partials/biz/previewadcampaign'); 
            }
         ?>
      </div> 
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<script type="text/javascript">
    function submitAd (member_id, business_id) {
      var content = $('#content').val();
      $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'biz/setcampaignad'; ?>",
        type: 'GET',
        data: {member_id : member_id, business_id : business_id, content : content},
        dataType: 'json',
        success: function(result){
          alertify.alert(result[0].status_result);
          //$('#pieChart').html(result[0].chart);
          //alertify.success("REJECT FLAG REQUEST SUCCESS");
          //console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
          //$('#statusCol'+flag_id).html('rejected');
          //$('#actionCol'+flag_id).html(result[0].actionbtn);
          //$('#row'+flag_id).css('background-color','#FF99CC');
          //alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
      });
    } 

    $(document).ready(function() {
      $('.summernote').summernote();
    });
</script>