<div class="bckgrnd-img" style="background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');
  backdround-color: #cccccc; height: 500px;margin-top:90px">
  <div class="container">
  <div class="row">
     <div class="col-md-4 col-md-offset-4">
         <!--<span><h2 style="font-family: Berlin; color: #FFFF00; text-shadow: 1px 1px 0px #000, 0px -2px 1px #000;">MyBarangay for Business</h2></span>-->
     </div>
  </div>
  <div class="row">
  <div class="col-md-12" style="height: 60px;padding: 60px 0 0 4px;width: 100%;">
    <div class="col-md-7 col-md-offset-3" style="height: 60px;">
	<h4 style="color: #003082; padding-left: 110px;"><b>Find and Claim your MyBarangay Business Page</b></h4>
      <form method="POST" class="form-inline" style="border:2px solid #003082;margin-top:5px;margin-bottom:3px;background-color:#003082;max-width:625px;">
        <div class="form-group" style="border:3px solid #003082 ;padding: 0;width:46%!important;">
          <input type="text" name="name" class="form-control" id="name" placeholder="find your business name" style="width: 100%;">
        </div>
        <div class="form-group" style="border:3px solid #003082 ;padding: 0;width:46%!important;">
          <input type="text" name="location" class="form-control" id="location" placeholder="find your business location" style="width: 100%;">
        </div>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" style="font-size:16px;" aria-hidden="true"></span></button>

          <a href="/mybarangayteam2/biz/login" class="btn btn-primary btn-sm">Login</a>
      </form>
    </div>

   </div> 
   <div class="col-md-12">
     
   </div>
  </div>
  </div>
</div>

