<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->stylesheetLink("themes3/themes/summernote/summernote.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/summernote/summernote1.js"); ?>
<?php echo $this->tag->stylesheetLink("themes/customize/css/bootstrapValidator/bootstrapValidator.min.css"); ?>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<style>
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
		margin-left: 80px;
        width: 360px;
        height: 150px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .9;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      .export {
        margin-top: 10px;
      }




      .kontainer {
    		white-space: nowrap;

		}
		.inbl {
		    display: inline-block;
		    vertical-align: top;
		}
		.content {
		    background-color: rgb(322, 322, 322);
		    color: #000000;
		    height: 150px;
		    width: 360px;
		}
   </style>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<div class="container containerBorder" id="container" style="margin-top:110px">


	<div class="row"><!-- start row -->
	   <div class="col-md-12 bg-primary container" style="margin-bottom:25px;background-color:#023283;">
		<h4 style="color:#FFF;">Add Homepage Banner (480px x 150px) plus text</h4>
	    </div>
	
	<?php  echo Phalcon\Tag::form(array("biz/crop_homepagebanner2/", "method" => "post", "enctype"=>"multipart/form-data", "id" => "croppedImgForm")); ?>
	    <div class="image-editor">
	  	<br>
	  	<label for="business">Choose Business:</label>
		<select name="business" class="form-control" style="width: 500px;">
		   <?php $getClaimedBusiness = ClaimRequests::find("member_id=" . $member->id . " and status='approved'"); 
	       		$businessList = array();

			foreach ($getClaimedBusiness as $claimed) {
				$getBizDetail = Business::findFirst("id=". $claimed->business_id);
				echo "<option value='".$getBizDetail->id."'>".$getBizDetail->name."</option>";
			}		
		   ?>
		</select>
		<br>		
	<label for="bcolor">Choose Background Color:</label>
	 <input id="bcolor" name="bcolor" class="form-control" type="color" value="#FFFFFF">
		<br>
	   	<input type="file" class="cropit-image-input">
	   		<center><div class="kontainer container">
	   			<div class="cropit-image-preview inbl"></div>
	   			<div id="textArea" class = "inbl content" style="margin-left:-4px;padding:10px 2px; margin-top:7px;">your text here</div>
	   		</div></center>
			
	  
	   <!-- start form div -->
		
		
		<div class="image-size-label">
		  Resize image
		</div>
		<input type="range" class="cropit-image-zoom-input">
        	<input id="imageData" type="hidden" name="image-data" class="hidden-image-data" />
        <b>
        <br>
        <label for="side_text">Type your text here:</label>
        	<textarea class="summernote" name="side_text">your text here</textarea>
		<!--<textarea name="content" type="textarea" rows="5" class="ckeditor form-control"></textarea>-->
		<input type="hidden" name="type" value="4">
		<input type="hidden" name="member" value="<?php echo $member->id; ?>">
		<button class="pull-right btn btn-primary" class="btn btn-primary" type="submit">Submit</button>
		<button id="hey" type="button" class="pull-right btn btn-primary">Preview</button>
		
	   </div><!-- end form div -->
	   </form>
	</div><!-- end row  -->

</div>

<?php echo $this->tag->javascriptInclude("themes/customize/js/bootstrapValidator/bootstrapValidator.min.js"); ?>
<?php echo $this->tag->javascriptInclude("js/crop.js"); ?>
<script type="text/javascript">
$('#hey').click(function() {
	$('#textArea').css('background-color', $('#bcolor').val());
	$('#textArea').text();
	$('#textArea').html($('.note-editable').html());
});

$('.note-editable').change(function() {
	console.log('testest');
});

	$(document).ready(function() {
		$('.summernote').summernote();
		$('#newBusiness').bootstrapValidator({
            message: 'This value is not valid',
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            name: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            street: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            city: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            country_id: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            business_category_id: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            }


            }
        });

	
    	$('#example').DataTable();
		$('[data-toggle="tooltip"]').tooltip();
		$('.image-editor').cropit({height: 150, width: 360});
		$('form').submit(function() {
	          // Move cropped image data to hidden input
	          var imageData = $('.image-editor').cropit('export');
	          $('.hidden-image-data').val(imageData);

	          // Print HTTP request params
	          var formValue = $(this).serialize();
	          //$('#result-data').text(formValue);

	          console.log(formValue);
	          "<?php $encoded = "+formValue+"; ?>"
	 

        });


		
	});
</script>

