<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<?php
if ($this->session->has("loginAsAMember")) {
  echo "<script>alertify.alert('".$this->session->get('loginAsAMember')."'); </script>";
  $this->session->remove("loginAsAMember");
}

?>
<div class="container">
  
  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:110px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel" style="font-family:berlin;font-weight:bold;font-size:21px;text-align:center">MyBarangay for Business Login</h4>
        </div>


        <div class="panel-body">
           <div class="row">
              <div class="col-xs-12 col-md-5">
                <div class="well">
               
   <?php echo Phalcon\Tag::form(array("biz/login", "method" => "post", "id" => "signUpForm")); ?>

                    <div class="form-group"  style="margin-bottom:25px">   
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="email" name="email" value="" required=""  placeholder="Email Address">
                    </div> 
                    </div>



                    <div class="form-group" >                
                    <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Password">   
                    <span class="help-block"></span>
                    </div>
                    </div>


                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    
                    $error = $this->session->get("errorMessasge");
                    ?>
                    <div class="col-lg-12 text-center">
                    <div id="loginErrorMsg" class="text-primary">Wrong username or password</div>
                    </div>
                  <?php
                    $this->session->remove("errorMessasge"); 
                  } 

                ?>




                   

                    <div class="form-group" style="padding-top:10px">
                      <div class="col-lg-12 text-center">
                        <small><a href="<?php echo $this->url->getBaseUri() . 'member/forgotPassword'; ?>" id="forgotPassword" class="text-info" style="text-decoration:underline">Forgot password</a></small>
                        <br><br>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <!-- <a href="/forgot/" class="btn btn-default btn-sm">Help to login</a> -->
                  <?php echo Phalcon\Tag::endForm(); ?>
              </div>
             </div>
            <div class="col-xs-12 col-md-7">
                <p class="lead"><b>Welcome Kabarangay</b></p>
                <ul class="list-unstyled" style="line-height: 2">

      <div class="">
        <?php
        echo Phalcon\Tag::image(array("img/house.png",'alt' => 'Logo','class' =>'img-responsive ', 'style' => 'height:200px;'));
        ?>
        Don't have a Business Owner account yet? Do you want to register?
    </div>



                </ul>
                <p>

                <?= $this->tag->linkTo(array('biz/signup', 'Yes please, register now!', 'class' => 'btn btn-success')) ?>

                </p>
            </div>
    </div>
  </div>

  <div class="panel-footer">
    
      <ul id="social-login-forms" class="clearfix horizontal">
            
       <!-- <li>

          <form class="connect-button" >
            <button type="button" class="aui-button google-button disabled " >
              Google
            </button>
          </form>
      </li>
        <li>

        <form class="connect-button">
          <button type="button" class="aui-button facebook-button disabled">
            Facebook
          </button>
        </form>
      </li>-->

        <li>



      </li>
      </ul>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {


   $('#loginForm').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              password: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              }
          
            }
        });

});


</script>

    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>
