<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<?php echo $this->tag->stylesheetLink("themes/customize/css/bootstrapValidator/bootstrapValidator.min.css"); ?>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<div class="container containerBorder" id="container" style="margin-top:110px;">
<div class="col-md-12 bg-white" style="background:#fff">
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header login_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">Design and Post Ad</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">

	  <a href="<?php echo $this->url->getBaseUri(). 'biz/website_banner/' . $member->id; ?>"><li class="list-group-item"><span class="badge">premium</span><span class="badge" style="background-color:#023283;">enhanced</span>Website banner ad (230px x 100px)</li></a>
	  
  		<a href="<?php echo $this->url->getBaseUri(). 'biz/homepage_banner/' . $member->id; ?>"><li class="list-group-item"><span class="badge">premium</span>Leaderboard (720px x 150px)</li></a>
	  <!--<a href="<?php //echo $this->url->getBaseUri(). 'biz/homepage_banner2/' . $member->id; ?>"><li class="list-group-item"><span class="badge">premium</span>Leaderboard with text (480px x 150px)</li></a>-->
	</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
  
</div>
<!-- /modal -->
<!-- modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="typer" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header login_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">IMAGE AD</h4>
      </div>
      <div class="modal-body">
      	<span id="previewImage"></span>
      </div>
      <div class="modal-footer">
        <button id="remover" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>
<h2>Manage my Ad</h2>
<p style="margin-top:2px;">Upload your Image Ad or design your Ad Campaign here</p>
<!-- /modal -->
<div style="margin-bottomn:20px;">
	
		<?php if ($subscription == 1) { ?>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Add Image Ad</button>
		<a href="<?=$this->url->getBaseUri() . 'biz/adcampaign/'. $member->id?>"><button type="button" class="btn btn-primary">Ad Campaign</button></a>
	<?php } else { ?>
		<!--<a href="?>"><button type="button" class="btn btn-success">Advertise</button></a>-->
	<?php } ?>

</div>

	<div style="margin-top: 10px;">
	<br>

		<?php if ($subscription == 1) {?>
		<table id="example" class="display" width="100%" cellspacing="0" style="margin-top: 10px;">
		<thead style="border:1px solid black;">
		    <tr>
		        <th>Business Name</th>
		        <th>Type</th>
		        <th>Created</th>
		        <th>Hits</th>
		        <th>Impression</th>
		        <th>Action</th>
		    </tr>
		</thead>
	 
	 
		<tbody>
		<?php foreach ($imageAds as $imageAd) {?>
		<tr>
		   <?php $businessName = Business::findFirst("id=". $imageAd->business_id); ?>
		   <td><?php echo $businessName->name; ?></td>
		   <td><?php 
			if ($imageAd->type == 1) {
				echo "Website Banner";
			} else if ($imageAd->type == 2) {
				echo "Mobile Banner";
			} else if ($imageAd->type == 3){
				echo "LeaderBoard";
			} else {
				echo "LeaderBoard w/ Text";
			}
		    ?></td>
		   <td><?php echo $imageAd->created; ?></td>
		   <td><?php echo $imageAd->hit; ?></td>
		   <td><?php echo $imageAd->impression; ?></td>
		   <td><button class="btn btn-primary btn-xs" onclick="getImage(<?=$imageAd->id?>,<?=$imageAd->type?>)">Preview</button></td>
		</tr>
		<?php } ?>
		    
		</tbody>
	    </table>	
	    <?php } ?>	
	</div>
</div>
</div>

<?php echo $this->tag->javascriptInclude("themes/customize/js/bootstrapValidator/bootstrapValidator.min.js"); ?>

<script type="text/javascript">
$('#remover').click(function() {
	$('#typer').removeClass('modal-lg');
});
function getImage(id, type) {
	$('#previewImage').html('<img src="<?php echo $this->url->getBaseUri() . 'preloaders/483.GIF'; ?>">');
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'biz/getImagePreview'; ?>",
            type: 'GET',
            data: {image_id:id},
                    dataType: 'json',
                    success: function(result){
                    	if (type == 3) {
                    		$('#typer').addClass('modal-lg');
                    	}
                        $('#previewImage').html(result[0].file);

                    },
                    error: function(){
                        alertify.error("whoops, something went wrong.");
                    }
    });
	$('#myModal2').modal('show');
}
	$(document).ready(function() {
		$('#newBusiness').bootstrapValidator({
            message: 'This value is not valid',
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            name: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            street: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            city: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            country_id: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            },
	            business_category_id: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required'
	                    }
	                }
	            }
	            // ,
	            // rate: {
	            //     validators: {
	            //         notEmpty: {
	            //             message: '* Required'
	            //         }
	            //     }
	            // },
	            // review: {
	            //     validators: {
	            //         notEmpty: {
	            //             message: '* Required'
	            //         }
	            //     }
	            // }

            }
        });

	
    		$('#example').DataTable();


		$('[data-toggle="tooltip"]').tooltip();



		$('#businessCategories').on('change', function(){
			var id = $(this).attr('id');
			var div = $('div.category_item #'+id);
			
			if(div.length){
				div.remove();
				$('#businessCategories option[value=' + id + ']').remove();
			}
			if($('#businessCategories option').length < 4) {
				$('#selectedCategories').html($(this).text());
				var values = $.map($('#businessCategories option'), function(e) { return e.value; });
				values.join(',');
				$('#businessCategoryIds').val(values);
			} else {
				alert('3 categories only');
			}
		});

		$(document).on('click', '.remove', function(){
			var div = $(this).closest('div.category_item');
			var id = div.attr('id');
			div.remove();
			$('#businessCategories option[value=' + id + ']').remove();
			var values = $.map($('#businessCategories option'), function(e) { return e.value; });
			values.join(',');
			$('#businessCategoryIds').val(values);
		});

		function formatRepo (category) {
			var markup = '';
		    if (category.loading) return category.text;

		    markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
		    category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</small></div>' ;

		    if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
			    category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</small></div>' ;
		    }
		    
		    return markup;
		  }

		  function formatRepoSelection (category) {
			return '';
		  }


		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "/mybarangay/business_category/list",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    },
		    cache: true
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});


		
	});
</script>

