<?php //echo $this->tag->stylesheetLink('themes3/css/custompage.css'); 
      echo $this->tag->stylesheetLink('themes3/css/custompage.css'); 
?>

<style type="text/css">

</style>


<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li class="active">Business</li>
            </ul>
        </div>
    </div>


     <!-- start left panel -->
     <div class="col-md-3 col-xs-12 " style="z-index:1">



      <div class="panel panel-default">
        <div class="panel-body profile " style="background:#333">

            <div class="profile-image">

            <?php
              $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
              $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                if ($primaryPix) {
              $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                 }       
            ?>
            <img src="<?php echo $profilePic; ?>">
          
            </div>
            <div class="profile-data">
                <div class="profile-data-name">David Heart Mercado</div>
            </div>
            <div class="profile-controls">
                <a href="#" class="profile-control-left"><span class="fa fa-twitter"></span></a>
                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
            </div>

        </div>
        <div class="panel-body list-group" style="margin-bottom:50px">

            <a href="#" class="list-group-item"><span class="fa fa-user"></span> Profile</a>
            <a href="#" class="list-group-item"><span class="fa fa-star"></span> Claimed Businesses</a>
            <a href="#" class="list-group-item"><span class="fa fa-camera"></span>Photos</a>
            
            <a href="#" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>
            <a href="#" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>
            <a href="#" class="list-group-item"><span class="fa fa-sign-out"></span> Logoff</a>
        </div>           


    
      </div>
     </div>
     <!-- end left panel -->

      <!-- start col-md-6 -->
      <div class="col-md-6 col-sm-12 boxiy" style="min-height:500px;"> 


      <?php if(count($reviews) > 0) { ?>


        <!-- ********************************************* -->
      <?php


        foreach ($reviews as $review) {
          $reviewsCount = count(Reviews::find('business_id = "'.$review->business_id.'" '));
          $business = Business::findFirst($review->business_id);
          $businessCategoryLists = BusinessCategoryLists::find($review->business_id);
          $catname = '';

          // echo $business->name."</br>";
          // echo $review->content."</br>";
          ?>

        <div class="timeline-item-content">
          <div class="timeline-heading padding-bottom-0">
              <!-- <img src="assets/images/users/user2.jpg">  -->
              <!--<a href="#">John Doe</a> posted article <a href="#">How to...?</a> -->

          </div>                                        
          <div class="timeline-body">                                                                                        
              <!-- <img src="assets/images/gallery/nature-6.jpg" class="img-text" width="150" align="left"> --> 

          <?php 
            $img = 'http://placehold.it/150x150&text=Image';
            foreach ($review->Business->BusinessImages as $bizImage) {
              $img = $bizImage->file_path.$bizImage->filename;
            }
            echo Phalcon\Tag::image(array($img, 'class' => 'img-text',  'width' => '150',  'align' => 'left'));
          ?>
          <h4 class="bold"><?php echo $business->name;?></h4>

          <small>
            <span class="fa fa-map-marker"></span> 
            <?php echo $review->Business->street; ?>,
            <?php echo $review->Business->city; ?>, 
            <?php echo $review->Business->country_code_id; ?>
          </small>

          <p style=""> <?php echo $review->content; ?></p> 

              <ul class="list-tags push-up-10">         

          <?php 
          foreach ($businessCategoryLists as $buslist) {
            $bussCat = BusinessCategories::findFirst($buslist->business_category_id);
            $catname .= '<li><a href="#" ><i class="fa fa-asterisk"></i> ';
            $catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
            $catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
            $catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
            $catname .= '</a></li>' ;
            echo $catname;
          } ?>

              </ul>
          </div>                
          <div class="timeline-footer">
            
            <small><span class="fa fa-clock-o"></span> <?php echo date('M d, Y h:i A', strtotime($review->modified)); ?></small>




              <div class="pull-right">
                  <a href="#"><span class="fa fa-comments"></span> <?=$reviewsCount?></a> 
                  <a href="#"><span class="fa fa-eye"></span> 1,432</a>
              </div>
          </div>
        </div>

        <?php } ?>
        <!-- ********************************************* -->

      <?php }else{ ?>
        <p class="text-center" style="padding-top:40px"><i class="fa fa-user"></i> You Haven't Claim any Businesses yet. Why not claimed Here?<br> lets find Business </p>
        <div class="text-center"><button class="btn btn-primary ">Search a business</button></div>
      <?php } ?>



      </div>
      <!-- end col-md-6 -->


      <!-- start right panel -->
      <div class="col-md-3 " style="min-height:500px;" >

        <div class="panel panel-default">
          <legend class="text-center">Businesses</legend>
        </div>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <ins class="adsbygoogle"
             style="display:inline-block;width:255px;height:213px;"
             data-ad-client="ca-pub-2827353860802948"
             data-ad-slot="6306061710"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>


      </div>
      <!-- end right panel -->

    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container -->
</div><!-- end body wrapper -->
