              <div id="divCaters" class="form-group">
              <label>Caters</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="caters" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="caters" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="caters" id="caters">
                </div>

                <div id="divWifi" class="form-group">
              <label>Wi-Fi</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="wifi" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="wifi" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="wifi" id="wifi">
                </div>

                <div id="divHastv" class="form-group">
              <label>Has TV</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="hastv" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="hastv" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="hastv" id="hastv">
                </div>

                <div id="divPricerange" class="form-group">
              <label>Price Range</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="pricerange" data-title="inexpensive">Inexpensive</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="pricerange" data-title="moderate">Moderate</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="pricerange" data-title="pricey">Pricey</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="pricerange" data-title="ultra high-end">Ultra High-End</a>
                  </div>
                  <input type="hidden" name="pricerange" id="pricerange">
                </div>

                <div id="divCreditcard" class="form-group">
              <label>Credit Card</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="creditcard" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="creditcard" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="creditcard" id="creditcard">
                </div>

                <div id="divParking" class="form-group">
              <label>Parking</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="parking" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="parking" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="parking" id="parking">
                </div>

                <div id="divBikeparking" class="form-group">
              <label>Bike Parking</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="bike_parking" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="bike_parking" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="bike_parking" id="bike_parking">
                </div>

                <div id="divAttire" class="form-group">
              <label>Attire</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="attire" data-title="casual">Casual</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="attire" data-title="dressy">Dressy</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="attire" data-title="formal">Formal (Jacket Required)</a>
                  </div>
                  <input type="hidden" name="attire" id="attire">
                </div>

                <div id="divGroups" class="form-group">
              <label>Good for Groups</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="groups" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="groups" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="groups" id="groups">
                </div>

                <div id="divKids" class="form-group">
              <label>Good for Kids</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="kids" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="kids" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="kids" id="kids">
                </div>

                <div id="divReservations" class="form-group">
              <label>Takes Reservations</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="reservations" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="reservations" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="reservations" id="reservations">
                </div>

                <div id="divDelivery" class="form-group">
              <label>Delivery Service</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="delivery" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="delivery" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="delivery" id="delivery">
                </div>

                <div id="divTakeaway" class="form-group">
              <label>Take Away</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="takeaway" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="takeaway" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="takeaway" id="takeaway">
                </div>

                <div id="divWaiter" class="form-group">
              <label>Waiter Service</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="waiter" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="waiter" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="waiter" id="waiter">
                </div>

                <div id="divOutdoor" class="form-group">
              <label>Outdoor Seating</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="outdoor" data-title="Yes">Yes</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="outdoor" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="outdoor" id="outdoor">
                </div>

                <div id="divAlcohol" class="form-group">
              <label>Alcohol</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="alcohol" data-title="beer and wine only">Beer & Wine only</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="alcohol" data-title="fullbar">Fullbar</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="alcohol" data-title="No">No</a>
                  </div>
                  <input type="hidden" name="alcohol" id="alcohol">
                </div>

                <div id="divNoise" class="form-group">
              <label>Noise</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="noise" data-title="quiet">quiet</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="noise" data-title="average">average</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="noise" data-title="loud">loud</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="noise" data-title="very loud">very loud</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="noise" data-title="no">no</a>
                  </div>
                  <input type="hidden" name="noise" id="noise">
                </div>

                <div id="divAmbience" class="form-group">
              <label>Ambience</label><br>
                  <div id="radioBtn" class="btn-group">
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="hipster">hipster</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="casual">casual</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="touristy">touristy</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="trendy">trendy</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="intimate">intimate</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="romantic">romantic</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="classy">classy</a>
                    <a class="btn btn-default btn-sm notActive" data-toggle="ambience" data-title="upscale">upscale</a>
                  </div>
                  <input type="hidden" name="ambience" id="ambience">
                </div>
