<!DOCTYPE html>
<html>
	<head>
		<title>MyBarangay | Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/bootstrap.css"); ?>
		<!-- Kuta -->		
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/styles.css"); ?>
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/datatable.css"); ?>
		
		<!-- alertify -->
		<?php
			echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
			echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');
		?>
		<!--<link href="library/css/styles.css" rel="stylesheet" media="screen">-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="library/bootstrap/assets/js/html5shiv.js"></script>
		<script src="library/bootstrap/assets/js/respond.min.js"></script>
		<![endif]-->
		<?php
			echo $this->tag->javascriptInclude("admin-cms/library/js/jquery.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/jquery-migrate-1.2.1.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/bootstrap.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/fnReloadAjax.js");
			// alertify
			echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
		?>
		<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<!-- addons -->
		<?php
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/moment.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/chart-plugins.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/redactor/redactor.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/jquery.nice-file-input.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/selectize.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/jquery.icheck.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/ion.rangeSlider.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/pikaday.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/pikaday.jquery.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/loader.js");
		?>	
	</head>
	<body>
		<!-- top header navbar -->
		<nav class="navbar navbar-top-header hidden-xs" role="navigation">
			<div class="navbar-header" style="padding-left:4px;">
				<!--<img class="logo" src="http://www.animatedimages.org/data/media/857/animated-philippines-flag-image-0005.gif" />-->
				<img class="logo" src="<?php echo $this->url->getBaseUri() . 'preloaders/phflag.GIF';?>" />
			<!--<h3 style="font-family:Berlin;font-weight:bold;"> MB Admin</h3>-->
			</div>
			
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder=".....">
				</div>
				<button type="submit" class="btn btn-no-rc btn-v">Search</button>
			</form>
			
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#"><i class="icon-earth"></i></a></li>
				<li><a href="#"><i class="icon-email"></i></a></li>
				<li><a href="#"><i class="icon-settings-2"></i></a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user-6"></i>
					</a>
					
					<ul class="dropdown-menu dropdown-user-account">
					
						<li class="account-img-container">
							<img class="thumb account-img" src="http://randomcelebs.com/wp-content/uploads/2015/03/Jon-Snow-3.jpg">
						</li>
						
						<li class="account-info">
							<h3>Jon Snow</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<p>
								<a href="#">Edit</a> | <a href="#">Account Settings</a>
							</p>
						</li>
						
						<li class="account-footer">
							<a class="btn btn-sm btn-primary btn-flat" href="#">Change avatar</a>
							<a class="btn btn-sm btn-danger btn-flat" href="#">Logout</a>
						</li>
						
					</ul>
				</li>
			</ul>
		</nav>
		<!-- ./ top header navbar -->
		
		<div id="main_wrapper">
			<div id="main_content">
				<!-- contents -->
				<?php echo $this->getContent() ?>
						
				<!-- ./ contents -->				
			</div>
			
			<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">
				<li class="avatar">
					<a href="#">
						<img src="http://randomcelebs.com/wp-content/uploads/2015/03/Jon-Snow-3.jpg">
						<span>Jon S.</span>
					</a>
				</li>
				<li class="active side-menu">
					<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/'; ?>">
						<i class="icon-home-3"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="dropdown side-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-users"></i>
						<span>Users</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="typography.html">
								<i class="icon-stack-3"></i> Flags
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown side-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-shop"></i>
						<span>Business</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/claimbizreq'; ?>">
								<i class="icon-stack-3"></i> Claim Business Request
							</a>
						</li>
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/claimbizreq'; ?>">
								<i class="icon-stack-3"></i> Claim Business Request
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown side-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-credit-cards"></i>
						<span>Classifieds</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<i class="icon-truck"></i> Cars and Trucks
							</a>
							<a href="#">
								<i class="icon-stack-3"></i> Jobs
							</a>
							<a href="#">
								<i class="icon-stack-3"></i> Real Estate
							</a>
							<a href="#">
								<i class="icon-stack-3"></i> Things
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown side-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-flag"></i>
						<span>Flags</span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/reviewflag'; ?>">
								<i class="icon-stack-3"></i> Reviews
							</a>
						</li>
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/classifiedflag'; ?>">
								<i class="icon-stack-3"></i> Cars and Trucks
							</a>
						</li>
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/jobflag'; ?>">
								<i class="icon-stack-3"></i> Jobs
							</a>
						</li>
						<li>
							<a href="<?php echo $this->url->getBaseUri() . 'admincontrol/thingflag'; ?>">
								<i class="icon-stack-3"></i> Things
							</a>
						</li>
					</ul>
				</li>
				<li class="side-menu">
					<a href="#">
						<i class="icon-settings-2"></i>
						<span>Setting</span>
					</a>
				</li>
			</ul>
			<!-- ./ sidebar -->
		</div>
	
		<!-- base -->

	</body>
</html>