<<!DOCTYPE html>
<html>
<head>
	<title>MyBarangay</title>
	<?php //echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); ?>
	<meta content="en" http-equiv="content-language">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false&language=en"></script>-->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script type="text/javascript">
            $(document).on("pageinit", "#map_page", function() {
                initialize();
            });

            $(document).on('click', '#submit', function(e) {
                e.preventDefault();
                calculateRoute();
            });
            
            var directionDisplay,
                directionsService = new google.maps.DirectionsService(),
                map;
			
            function initialize() 
            {
                var lati = $('#lat').val();
                var longi = $('#lng').val();
                directionsDisplay = new google.maps.DirectionsRenderer();
                var mapCenter = new google.maps.LatLng(lati, longi);

                var myOptions = {
                    zoom:10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    center: mapCenter
                }

                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById("directions"));
                
                var acInputs = document.getElementById("from");
                var autocomplete = new google.maps.places.Autocomplete(acInputs);
            }

            function calculateRoute() 
            {
                var selectedMode = $("#mode").val(),
                    start = $("#from").val(),
                    end = $("#to").val();

                if(start == '' || end == '')
                {
                    // cannot calculate route
                    $("#results").hide();
                    return;
                }
                else
                {
                    var request = {
                        origin:start, 
                        destination:end,
                        travelMode: google.maps.DirectionsTravelMode[selectedMode]
                    };

                    directionsService.route(request, function(response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(response); 
                            $("#results").show();
                            /*
                                var myRoute = response.routes[0].legs[0];
                                for (var i = 0; i < myRoute.steps.length; i++) {
                                    alert(myRoute.steps[i].instructions);
                                }
                            */
                        }
                        else {
                            $("#results").hide();
                        }
                    });

                }
				
				$('table').click(function() {
					$('html body').animate({scrollTop:0}, 'slow');
					console.log("click");
			}	);
            }
        </script>
	<style type="text/css">
		.adp-details, .adp-legal {
		  color: transparent;
		}
		#resulta {
			overflow: scroll;
		}
	</style>
</head>
<body>
<?=$this->getContent();?>
<script type="text/javascript">
	$(document).ready(function() {
		$('.adp-legal').hide();
	});
</script>
</body>
</html>
