<!DOCTYPE HTML>
<html lang="en">
  <head>
<!-- default 1-->
    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="">
    <meta name="summary" content="">
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="reply-to" content="">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <meta property="fb:admins" content="jpprjn"/>
    <title>MyBarangay</title>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '759439777509626');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=759439777509626&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
      <?php 
      //Css tags
      echo $this->tag->stylesheetLink('themes3/css/reseter.css');
      echo $this->tag->stylesheetLink('themes3/css/animate.css');       
      echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapValidator/bootstrapValidator.min.css');
    //  echo $this->tag->stylesheetLink('themes3/css/css/font-awesome.min.css');
      echo $this->tag->stylesheetLink('themes3/css/main-style.css'); 
      echo $this->tag->stylesheetLink('themes3/css/customize-bootstrap.css'); 
      echo $this->tag->stylesheetLink('themes3/css/menubar.css'); 
      echo $this->tag->stylesheetLink('themes3/css/widget.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapCombobox/css/bootstrap-combobox.css');


      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox.css'); 
      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox-theme/default/default.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.carousel.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.theme.css'); 
      // alertify
      echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
      echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');
      // icomoon
      echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); 

      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/assets/css/font-awesome.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/bootstrap-social.css'); 

      // summernote text-editor
      //echo $this->tag->stylesheetLink('css/summernote.css');

      echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
      echo $this->tag->javascriptInclude('themes3/js/jquery.validate.js'); 
      echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
      //echo $this->tag->javascriptInclude('js/summernote.js');
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapCombobox/js/bootstrap-combobox.js');
      echo $this->tag->javascriptInclude('themes3/js/slider.js');  
      ?>



      <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <style>


  /****************************************************************/
    /* the custom css inline herefor developement mode purposes*/
  /****************************************************************/

      body{
/*        background: #CCCCCC;*/
      background: rgb(236,240,241);
      }

      .body-wrapper{
        margin-top:110px;

      }


      .body-wrapper .container {
        border:none;
        margin-bottom:20px;
      }

      .bcrumbs {
        padding-top:10px;
        padding-bottom:10px;
      }


      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .2;
        cursor: auto;
      }



      .image-size-label {
        margin-top: 10px;
      }

  
      #result {
        margin-top: 10px;
        width: 900px;
      }

      #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }

  /**********************************/
    /* ellipsis design*/
  /**********************************/

      .ellipsisx{
        /* Fallback for non-webkit */
        display: -webkit-box;
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      .ellipsis{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px;
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ellipsis2 {
          white-space: nowrap; 
          width: 100%; 
          overflow: hidden;
          text-overflow: ellipsis; 
      }
      .ellipsis3{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 80px;
  
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ellipsis4{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px;

        float: left;
        /* Fallback for non-webkit */
     
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ellipsis5 {
          white-space: nowrap; 
          width: 100%; 
          overflow: hidden;
          text-overflow: ellipsis; 
      }
  /**********************************/
    /* boxes thumbnail design*/
  /**********************************/
      .custom-thumbnail {
        position: relative;
        width: 100%;
        height: 120px;
        overflow: hidden;
      }
      .custom-thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
      .custom-thumbnail img.portrait {
        width: 100%;
        height: auto;
      }
  /**********************************/
    /* boxes shadow design*/
  /**********************************/
      .shadow {
      border-color: #D2D2D2;
      box-shadow: 0px 1px 0px #CFCFCF;
      border-radius: 3px;
      } 

  /**********************************/
    /* head page line design*/
  /**********************************/
      .page-head-line {
        font-weight: 900;
        padding-bottom: 2px;
        border-bottom: 2px solid #F0677C;
        text-transform: uppercase;
        color: #F0677C;
        font-size: 20px; 
        margin-bottom: 40px;
      }

  /**********************************/
    /* boxes matcher height design*/
  /**********************************/
    .matcher-height{
      height: 300px;

    }

    .matcher-heightC{
      height: 340px;

    }



  /*****************************/
    /* shading boxes design*/
  /*****************************/
    .shadframe {
      background: #fff;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      padding: 8px;
      -webkit-box-shadow: 1px 2px 2px #d1d1d1;
      -moz-box-shadow: 1px 2px 2px #d1d1d1;
      box-shadow: 1px 2px 2px #d1d1d1;
    }
    
  /*****************************/
    /* boxes paper design*/
  /*****************************/
  .paperts{
    background: #eee;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
       /* border-top:2px solid rgb(213,34,15);*/
   }


  /*****************************/
    /* pagel line red lines*/
  /*****************************/
  .page-line{
    border-bottom:4px solid rgb(216,35,15) ;
    
    width: 100%;
    margin-bottom:15px;
  }

  /*****************************/
    /* label design*/
  /*****************************/ 
  .redlabel{
    color:rgb(216,35,15) ;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    padding:5px 10px;
  }

  label.badgex{
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    transition: all 0s ease-out;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    margin: 10px auto;
    left: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

  }

  /*****************************/
    /* 3d button design*/
  /*****************************/ 
.action-button{
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;  
}

.sear-button{
  position: relative;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;

  border-radius: 10px;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;  
}

.red{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

  /*****************************/
    /* button design*/
  /*****************************/ 
label.but {
  border-left: solid 1px #C02B21;
  background: #DE463B;
  -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
  box-shadow: 0px 5px 0px 0px #C02B21;
}

label.but:before {
  border-right: solid 1px #C02B21;
  background: #DE463B;

  -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
  box-shadow: 0px 5px 0px 0px #C02B21;
}

label.but:active:before {
  -webkit-box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
}



  /*****************************/
    /* boxes red boxes design*/
  /*****************************/ 
span.s3d  {
    clear: both;
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
    -webkit-box-shadow:0 2px 3px rgba(0,0,0,.3);
       -moz-box-shadow:0 2px 3px rgba(0,0,0,.3);
            box-shadow:0 2px 3px rgba(0,0,0,.3);
    display: inline-block !important;
    margin: 0 0 10px;*/
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    width: 125px; 
  }

 span.designmoo {
    padding: 5px 10px;
     color:#333;
    background: rgb(226,226,226);
    background: -webkit-gradient(linear, 0 0, 0 0, from(rgb(241,241,241)), to(rgb(226,226,226)));
    background: -moz-linear-gradient(rgb(241,241,241), rgb(226,226,226));
    background: linear-gradient(rgb(241,241,241), rgb(226,226,226));
    border-top: rgb(226,226,226);
     }
    
 span.designmoo:active {
    background: rgb(226,226,226);
    background: -webkit-gradient(linear, 0 0, 0 0, from(rgb(226,226,226)), to(rgb(241,241,241)));
    background: -moz-linear-gradient(rgb(226,226,226), rgb(241,241,241));
    background: linear-gradient(rgb(226,226,226), rgb(241,241,241)); }


  /*****************************/
     /*placeholder design*/
  /*****************************/  
/*  ::-webkit-input-placeholder {
   font-size: 14px;
   color: rgb(158,166,166);
   text-transform: uppercase;
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
  }
  :-moz-placeholder {
   font-size:14px;
   color: rgb(158,166,166);
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
  }
  ::-moz-placeholder { 
   font-size: 14px;
   color: rgb(158,166,166); 
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
  } 
  :-ms-input-placeholder { 
   font-size: 14px; 
   color: rgb(158,166,166);
   text-transform: uppercase;
   text-align: center;
   font-weight: bold;
  }*/
 

.boxiy {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}




/* BackToTop button css */
#scroll {
position:fixed;
right:10px;
bottom:10px;
cursor:pointer;
width:40px;
height:40px;
background-color:rgb(206,33,14);
text-indent:-9999px;
display:none;
-webkit-border-radius:60px;
-moz-border-radius:60px;
border-radius:60px
}
#scroll span {
position:absolute;
top:50%;
left:50%;
margin-left:-8px;
margin-top:-12px;
height:0;
width:0;
border:8px solid transparent;
border-bottom-color:#ffffff
}
#scroll:hover {
background-color:#e74c3c;
opacity:1;filter:"alpha(opacity=100)";
-ms-filter:"alpha(opacity=100)";}
</style>

<script type='text/javascript'>
$(document).ready(function(){ 
  $(window).scroll(function(){ 
    if ($(this).scrollTop() > 100) { 
      $('#scroll').fadeIn(); 
    } else { 
      $('#scroll').fadeOut(); 
    } 
  }); 
  $('#scroll').click(function(){ 
    $("html, body").animate({ scrollTop: 0 }, 600); 
    return false; 
  }); 
});
</script>

<!-- Last Active save on browser local storage -->
<script type="text/javascript">

  function rememberTabSelection(tabPaneSelector, useHash) {
      var key = 'selectedTabFor' + tabPaneSelector;
      if(get(key)) 
          $(tabPaneSelector).find('a[href=' + get(key) + ']').tab('show');

      $(tabPaneSelector).on("click", 'a[data-toggle]', function(event) {
          set(key, this.getAttribute('href'));
      }); 

      function get(key) {
          return useHash ? location.hash: localStorage.getItem(key);
      }

      function set(key, value){
          if(useHash)
              location.hash = value;
          else
              localStorage.setItem(key, value);
      }
  }

  $(document).ready(function () {
      rememberTabSelection('#rowTab', !localStorage);
  });





</script>


    
  </head>
  <body>
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- BackToTop Button -->
<a href="#" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>



    <!-- default header -->

<!-- <div style="position:fixed;z-index:99999;background:#ff0000;padding:4px 10px;right:0;top:25px;color:#fff;opacity:0.7;font-size:12px;">Beta version</div> -->



      <?php 
      if(isset($userSession['type'])) { 
      if ($userSession['type'] == 'Business') {
      $this->partial('partials/headerbus');
      }
      if ($userSession['type'] == 'Member') {
      $this->partial('partials/header');
      }
      }else{
      $this->partial('partials/header');
      }
      ?>

    <!-- content template -->
    <?=$this->getContent();?>

    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>



<!-- Modal -->
<div class="modal fade" id="flagModalCar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag Review</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagifyCar" type="button" class="btn btn-primary">Flag</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	<?php 
		if ($this->session->has('proceed')) {
			echo "$('#restricted-modal').modal('show');";
			echo "console.log('loaded');";
			$this->session->remove('proceed');
		}
	?>
	
});

</script>


      <?php 
      //javacript
      echo $this->tag->javascriptInclude('themes3/themes/aspectcorrect/aspectcorrect.js'); 
      echo $this->tag->javascriptInclude('themes3/js/customize.js');  
      echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  
      echo $this->tag->javascriptInclude('themes3/js/jquery.matchHeight.js');  
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapValidator/bootstrapValidator.min.js');
      // echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.stepy.js");
      echo $this->tag->javascriptInclude('themes3/js/owl.carousel.min.js');  
      echo $this->tag->javascriptInclude('themes3/js/nivo-lightbox.min.js'); 
      // radactor html editor
      echo $this->tag->javascriptInclude("admin-cms/library/plugins/redactor/redactor.min.js");
      echo $this->tag->javascriptInclude('themes3/js/dhm.js');  


      ?>



    <!-- Match Height for Home Tabs Panel Items and Cropit or ristricted area -->
      <script type="text/javascript">

            (function() {

                $(function() {


                   $('.combobox').combobox();
                    // image thumbnail
                    $( ".custom-thumbnail img" ).each(function() {
                      var someImg = $(this);
                      if (someImg.height() > someImg.width()){
                          $( this ).addClass( "portrait" );
                      }
                    });

                    // tool user session
                    var session = "<?php if($userSession){ echo true; } else { echo false; } ?>";
                      $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.cancel').on('click', function() { 
                          $('.cd-modal-close').trigger('click');
                          $('.cd-modal-close')[0].click();
                        });
                    });
                  // restricted area
                    $('.restricted').on('click', function(e) { 
                        if(session == false){
                          e.preventDefault();
                          $('#login-modal').modal('show');
                        }
                    });
                    // restricted area
                    $('.restricted2').on('click', function(e) { 
                        if(session == false){
                          e.preventDefault();
                          $('#restricted-modal').modal('show');
                        }
                    });

                      
                    // match size box
                    var byRow = $('body').hasClass('test-rows');
                    // apply matchHeight to each item container's items
                    $('.item-match').each(function() {
                        $(this).children('.matcher').matchHeight({
                            byRow: byRow
                        });
                    });




                });
            })();


    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }


    function googleAuth(authResult) {
        var gData = authResult;
        var y = false;
      $('#signinButton').on('click', function() { 
         y = true;
         var authResult = gData;
                  
        if (authResult['code'] && y == true) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            //console.log(authResult);
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'member/loginWithGoogle/',
              data: {code : authResult['code'], access_token : authResult['access_token']},
              //processData: true
              //contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                var obj = jQuery.parseJSON( result );
                // Handle or verify the server response if necessary.

                // Prints the list of people that the user has allowed the app to know
                // to the console.
                //console.log(result['status']);
                if(obj['status'] == 'OK') {
                  window.location.href = "/mybarangay/";
                }
              }
              
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatially log in the user
            console.log('There was an error: ' + authResult['error']);
        }
      }); 
    }
  
  </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56550685-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
    adroll_adv_id = "RFPS7BW4KBB5LBUHQ3FJB5";
    adroll_pix_id = "HP5RXPCCDRACPBC4WTQ3PD";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
    }());
    </script>
  </body>
</html>
