

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="">
    <meta name="summary" content="">
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="reply-to" content="">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <title>MyBarangay</title>

      <?php 
        //Css tags
        // echo $this->tag->stylesheetLink('themes3/css/reseter.css');
        // echo $this->tag->stylesheetLink('themes3/css/animate.css');       
        // echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
        // echo $this->tag->stylesheetLink('themes3/css/main-style.css'); 
        // //JS
        // echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
        // echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  

        // echo $this->tag->javascriptInclude('themes3/js/jquery.sticky.js');  
        // echo $this->tag->javascriptInclude('themes3/js/jquery.easing.min.js');  

        echo $this->tag->stylesheetLink('themes3/themes/onePage2/css/documenter_style.css'); 
        echo $this->tag->stylesheetLink('themes3/themes/onePage2/css/custom.css'); 


        echo $this->tag->javascriptInclude('themes3/themes/onePage2/js/jquery.1.6.4.js'); 
        echo $this->tag->javascriptInclude('themes3/themes/onePage2/js/jquery.scrollTo-1.4.2-min.js'); 
        echo $this->tag->javascriptInclude('themes3/themes/onePage2/js/jquery.easing.js'); 
      ?>
      <script>document.createElement('section');var duration=450,easing='easeOutExpo';</script>
      <?php echo $this->tag->javascriptInclude('themes3/themes/onePage2/js/script.js');  ?>
</head>
<body >


    <!-- content template -->
    <?=$this->getContent();?>




  
</body>
</html>

