<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyBarangay</title>
    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="">
    <meta name="summary" content="">
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="reply-to" content="">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />

      <?php 
      //Css script
      echo $this->tag->stylesheetLink('themes3/css/reseter.css');
      echo $this->tag->stylesheetLink('themes3/css/animate.css');       
      echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapValidator/bootstrapValidator.min.css');
      echo $this->tag->stylesheetLink('themes3/css/main-style.css'); 
      echo $this->tag->stylesheetLink('themes3/css/customize-bootstrap.css'); 
	 // alertify
      echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
      echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');

      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/assets/css/font-awesome.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/bootstrap-social.css'); 
      
      //Js script
      echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
      echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  
      echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapValidator/bootstrapValidator.min.js');

	  ?>
<style>

.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }

 
#social-login-forms.horizontal{
  position:relative;
  list-style:none;
  margin:0px 0 0 0;
  padding:0px 0 0 0;
/*  border-top:1px solid #ccc*/
}

#social-login-forms.horizontal:before{

  position:absolute;
  top:0;
  left:50%;
  margin:-11px 0 0 -7px;
  padding:0 3px;
  background-color:#fff;
  font-weight:bold
}

#social-login-forms.horizontal li{
  float:left;
  margin-right:15px
}

#social-login-forms.horizontal li:last-child{
  margin-right:0
}

#social-login-forms.horizontal button{
  position:relative;
  margin:0;
  padding-left:40px;
  width:123px;
  height:46px;
  text-align:left
}

#social-login-forms.horizontal button:before{
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  display:inline-block;
  margin-right:10px;
  width:24px;
  height:24px;
  background-size:24px
}

#social-login-forms.horizontal button.google-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/google.svg?96adc01ccb9f')
}

#social-login-forms.horizontal button.facebook-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/facebook.svg?a2a431424720')
}

#social-login-forms.horizontal button.twitter-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/twitter.svg?27ea0e52dab8')
}

#social-login-forms.horizontal button.github-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/github.svg?ac848048c5e3')
}

.login-box.reset header+p{
  margin-top:-12px
}

</style>
</head>
<body>

    <?=$this->partial('partials/oneHeader')?>

    <!-- content template -->
    <?=$this->getContent();?>

</body>
</html>
